/* TODO: Integrate this with our tss less theme. */
body {
  padding-bottom: 100px;
}

/*a {*/
/*-webkit-transition: color 0.33s ease-in-out;*/
/*-moz-transition: color 0.33s ease-in-out;*/
/*-o-transition: color 0.33s ease-in-out;*/
/*transition: color 0.33s ease-in-out;*/
/*color: #790510;*/
/*}*/

/*a:hover, a:focus {*/
/*color: #BC5962;*/
/*text-decoration: none;*/
/*}*/

img.screenshot {
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background-color: #E8BEC2;
}

.header-wrap {
  padding: 8px 10px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgb(249, 249, 249); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(222, 222, 222, 1) 50%, rgba(201, 200, 200, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(50%, rgba(222, 222, 222, 1)), color-stop(100%, rgba(201, 200, 200, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(222, 222, 222, 1) 50%, rgba(201, 200, 200, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(222, 222, 222, 1) 50%, rgba(201, 200, 200, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(222, 222, 222, 1) 50%, rgba(201, 200, 200, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%, rgba(222, 222, 222, 1) 50%, rgba(201, 200, 200, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#c9c8c8', GradientType=0); /* IE6-9 */
}

.header-wrap p {
  display: inline;
}

.alert-info {
  background-color: #bc5962;
  border-color: #ac454f;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/*.alert-info > a {*/
/*color: #790510;*/
/*}*/

.alert-info > a:hover {
  color: #0e0e0e;
}

.dynamic-grid {

}

.dynamic-grid th.darken {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.dynamic-grid th.darken:hover {
  background-color: #EEE;
}

.dynamic-grid .left {
  float: left;
}

.dynamic-grid .right {
  float: right;
}

.dynamic-grid .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dynamic-grid .transclude-bucket {
  margin-left: auto;
  margin-right: auto;
}

.dynamic-grid .highlight-row {
  background-color: #1BE3AA !important;
}

.breadcrumb li > * {
  float: none;
}

.form-search > ul.nav > li.section {
  min-height: 21px;
}

.nav-list .nav > li > a {
  padding: 5px 15px;
}

.form-search > ul.nav > li > a {
  padding: 5px 15px;
}

.navbar {
  font-size: 15px;
}

.type-hint-function {
  background:rgb(189, 63, 66);
}

.type-hint-expression {
  background:rgb(89, 163, 66);
}
