<h1><code ng:non-bindable="">helpMenu</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-directive-page transcend-app-directive-helpmenu-page"><p>The &#39;helpMenu&#39; directive provides a starting template for help Menus.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.app.service:$showModal">$showModal</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;help-menu&gt;
&lt;/help-menu&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY help-menu&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-app-directive-page transcend-app-directive-helpmenu-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js mocks.js" source-edit-html="index.html-6" source-edit-css="" source-edit-js="script.js-7 mocks.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-6" ng-html-wrap-loaded="app angular.js script.js mocks.js"></pre>
<script type="text/ng-template" id="index.html-6">
<div ng-controller="Ctrl as ctrl">
<nav class="navbar navbar-default" role="navigation">
<span class="navbar-brand" >Nav Bar</span>
<ul class="nav navbar-nav main-nav nav-pills">
<li help-menu></li>
</ul>
</nav>

</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-7"></pre>
<script type="text/ng-template" id="script.js-7">
angular.module('app', ['transcend.app', 'ngMockE2E'])
.controller('Ctrl', function() {
 });
</script>
</div>
<div class="tab-pane" title="mocks.js">
<pre class="prettyprint linenums" ng-set-text="mocks.js"></pre>
<script type="text/ng-template" id="mocks.js">
angular.module('app')
.run(function(appConfig, $roleManager, $log){
  var log = $log.start('Configuring application').last;
  $roleManager.enabled = false;
  appConfig.buildDate = new Date();
  appConfig.version = '1.0.0';
  appConfig.description = 'Some description of the application';
  $log.stop(log);

  $log.warn('This is a warning');
  $log.error('This is an error');
  $log.debug('This is a debug');
})
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-6" ng-eval-javascript="script.js-7 mocks.js"></div>
</div></div>
</div>
