<h1><code ng:non-bindable="">searchBox</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-core-directive-page transcend-core-directive-searchbox-page"><p>The &#39;searchBox&#39; directive provides a compact search input box.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.core#tsconfig">core#tsConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">searchBox([search]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>search <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-core-directive-page transcend-core-directive-searchbox-page"><p>The search text to bind to.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-core-directive-page transcend-core-directive-searchbox-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-16" source-edit-css="" source-edit-js="script.js-17" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-16" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-16">
<div ng-controller="Ctrl as ctrl">

<h3 id="example_-list-or-people-">
<search-box search="ctrl.someText" on-change="ctrl.onChange(value)"></search-box>
List or people:
</h3>
<ul>
<li ng-repeat="person in ctrl.persons | filter:ctrl.someText">{{person}}</li>
</ul>
Searched value: {{ctrl.newValue}}
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-17"></pre>
<script type="text/ng-template" id="script.js-17">
angular.module('app', ['transcend.job', 'ngMockE2E'])
.controller('Ctrl', function() {
    this.someText = '';
    this.persons = ['John Doe', 'Joe Blow', 'Sally Mae', 'Jack Black', 'Billy Joel'];
    this.onChange = function(value){
      this.newValue = value;
    };
 });
</script>
</div>
</div><h4 id="example_-list-or-people-_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-16" ng-eval-javascript="script.js-17"></div>
</div></div>
</div>
