<h1><code ng:non-bindable="">Job</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.job</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-job-service-page transcend-job-service-job-page"><p>The &#39;Job&#39; directive provides methods to set up reporting Jobs.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/jobConfig">jobConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
</ul>
</div>
