<h1><code ng:non-bindable="">RolesInfoCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-controller-page transcend-app-controller-rolesinfoctrl-page"><p>The &#39;RolesInfoCtrl&#39; controller has information about the roles for users, and counts the number of Users that have
a specific role.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.$roleManager">$roleManager</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$Privilege">$Privilege</a></code>
</li>
</ul>
</div>
