<h1><code ng:non-bindable="">AccessControlMgrDialogCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-controller-page transcend-app-controller-accesscontrolmgrdialogctrl-page"><p>The &#39;AccessControlMgrDialogCtrl&#39; controller holds the logic responsible for handling roles and permissions within the
Access Control Menu.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$modalInstance">$modalInstance</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.$roleManager">$roleManager</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/securityManagerConfig">securityManagerConfig</a></code>
</li>
</ul>
</div>
