<h1><code ng:non-bindable="">$arcgis</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-arcgis-page"><p>Provides a set of utility functions related to the ArcGIS JavaScript API - particularly
<a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">&#39;esri.Map&#39;</a>
related functionality.</p>
<p>The main purpose of this service is to provide common functionality
related to an <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> object. The &#39;$arcgis&#39; object provides &#39;static&#39; methods that all take in a
&#39;map&#39; argument, or you can call the factory/provider and you can cache the &#39;map&#39; object so that you don&#39;t have
to pass the map to every call.</p>
<p> <h5 id="description_calling-static-functions">Calling Static Functions</h5>
 <pre class="prettyprint linenums">
 $arcgis.someMethod(mapReference, args);
 </pre>
<p> <h5 id="description_instantiating">Instantiating</h5>
 <pre class="prettyprint linenums">
 // The 'map' reference is stored - no need to pass it.
 var util = $arcgis(mapReference);
 util.someMethod(args);
 util.someOtherMethod(otherArgs);
 </pre>
<p> <h5 id="description_configuration">Configuration</h5>
 <pre class="prettyprint linenums">
 // Configuring via 'esriConfig' object.
 angular.module('myApp').run(function(esriConfig){
   angular.extend(esriConfig, {
    arcgis: {
      geometryUrl: 'http://host/arcgis/foo/GeometryServer'
    }
   });
 });

 // or...

 // Configuring via 'provider'.
 angular.module('myApp').config(function($arcgisProvider){
  angular.extend($arcgisProvider.config, {
    geometryUrl: 'http://host/arcgis/foo/GeometryServer'
  });
 });
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$log">$log</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$object">$object</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$symbol">$symbol</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$geometry">$geometry</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/dojo">dojo</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/esri">esri</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/esriConfig">esriConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$arcgis([cachedMap]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cachedMap <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-page"><p>The map that you want to &#39;cache&#39; to perform operations against.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addlayers">addLayers(map, layersConfig, onBeforeAddedToMap)</h3>
<div class="addlayers"><div class="transcend-esri-arcgis-addlayers-page"><p>Creates and adds the layers from a layer &#39;configuration&#39; to the passed in map.</p>
</div><h5 id="methods_addlayers_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-addlayers-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to
add the layers to.</p>
</div></td></tr><tr><td>layersConfig <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-addlayers-page"><p>A configuration object to create layers by.</p>
</div></td></tr><tr><td>onBeforeAddedToMap <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="transcend-esri-arcgis-addlayers-page"><p>A function that will fire before configured layers are added to the map.</p>
</div></td></tr></tbody></table><h5 id="methods_addlayers_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-esri-arcgis-addlayers-page"><p>The list of layers created based on the passed in configuration.</p>
</div></td></tr></table><h4 id="methods_addlayers_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-addlayers-page"><pre class="prettyprint linenums">
var layersConfig =[
{
  url: 'http://host/arcgis/server/foo/MapServer'
},
{
  url: 'http://host/arcgis/server/foo/MapServer/3',
  type: 'feature'
}];

var layers = $arcgis.addLayers(map, layersConfig);
// or...
var layers = $arcgis(map).addLayers(layersConfig);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_addselection">addSelection(map, layerOrUrl, layerIds, options)</h3>
<div class="addselection"><div class="transcend-esri-arcgis-addselection-page"><p>Creates selection functionality for a given layer and/or sub layers (if its an <a href="https://developers.arcgis.com/en/javascript/jsapi/arcgisdynamicmapservicelayer-amd.html">ArcGISDynamicMapServiceLayer</a>).
The selection options allow you to automatically draw a <a href="https://developers.arcgis.com/en/javascript/jsapi/graphic-amd.html">graphic</a>
(feature), zoom to, and/or highlight when selected. A &quot;callback&quot; property can also be called so that custom
actions can take place when selection happens.</p>
</div><h5 id="methods_addselection_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-addselection-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to
work from.</p>
</div></td></tr><tr><td>layerOrUrl</td><td><a href="" class="label type-hint type-hint-esri">esri.layers.Layer</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-esri-arcgis-addselection-page"><p>The layer, or the URL of a layer, to add selection to.</p>
</div></td></tr><tr><td>layerIds <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-array">Array</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-esri-arcgis-addselection-page"><p>An array of layer ids or comma sepearted string of layer ids to add selection to.
This specifically refers to the sub layer ids of an <a href="https://developers.arcgis.com/en/javascript/jsapi/arcgisdynamicmapservicelayer-amd.html">ArcGISDynamicMapServiceLayer</a>.</p>
</div></td></tr><tr><td>options <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-addselection-page"><p>Options to override/change behaviour.</p>
</div></td></tr></tbody></table><h5 id="methods_addselection_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-esri-arcgis-addselection-page"><p>A standard <a href="https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent?redirectlocale=en-US&redirectslug=DOM%2FMouseEvent">DOM MouseEvent</a>
with additional properties such as <a href="https://developers.arcgis.com/en/javascript/jsapi/point-amd.html">mapPoint</a>
and <a href="https://developers.arcgis.com/en/javascript/jsapi/point-amd.html">screenPoint</a>. See <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html#event-click">here</a>
for more details.</p>
</div></td></tr></table><h4 id="methods_addselection_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-addselection-page"><pre class="prettyprint linenums">
var layerUrl = 'http://host/arcgis/rest/services/test/MapServer';
var layerIds = [1,3,5];
var options = {
 onClick: function () {},   // Called on map click.
 onIdentify: function () {} // Called on identify complete.
};

var handler = $arcgis.addSelection(map, layerUrl, layerIds, options);
// or...
var handler = $arcgis(map).addSelection(layerUrl, layerIds, options);

// Can remove selection (map click):
handler.remove();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_center">center(map, newCenter, spatialReference)</h3>
<div class="center"><div class="transcend-esri-arcgis-center-page"><p>Gets and/or sets the center location of the passed in map.</p>
</div><h5 id="methods_center_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-center-page"><p>An esri.Map object to get or set the center location.</p>
</div></td></tr><tr><td>newCenter <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-center-page"><p>A point object used to set the center
of the map to. This parameter will also take a true or false value which
will determine whether the point will be returned in Web Mercator or not.</p>
</div></td></tr><tr><td>spatialReference <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.spatialReference</a></td><td><div class="transcend-esri-arcgis-center-page"><p>A spatial reference to set the passed in geometry to.</p>
</div></td></tr></tbody></table><h5 id="methods_center_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-esri">esri.geometry.Point</a></td><td><div class="transcend-esri-arcgis-center-page"><p>The center of the map.</p>
</div></td></tr></table><h4 id="methods_center_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-center-page"><pre class="prettyprint linenums">
// Gets the center point of the map.
$arcgis.center(map);
// or...
$arcgis(map).center();

// Sets the center point of the map.
$arcgis.center(map, { 'x':-76, 'y':42 });
// or...
$arcgis(map).center({ 'x':-76, 'y':42 });

// Sets the center point of the map.
$arcgis.center(map, new esri.geometry.Point(-76, 42));
// or...
$arcgis(map).center(new esri.geometry.Point(-76, 42));
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_cleargraphics">clearGraphics(map, graphicLayerId)</h3>
<div class="cleargraphics"><div class="transcend-esri-arcgis-cleargraphics-page"><p>Clears all graphics on a specific graphics layer.</p>
</div><h5 id="methods_cleargraphics_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-cleargraphics-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to
work from.</p>
</div></td></tr><tr><td>graphicLayerId <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-esri-arcgis-cleargraphics-page"><p>The layer id of the <a href="https://developers.arcgis.com/en/javascript/jsapi/graphicslayer-amd.html">graphics layer</a>
to clear. This can also be an object with a &#39;layerId&#39;
property on it.</p>
</div></td></tr></tbody></table><h5 id="methods_cleargraphics_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-transcend">transcend.esri.$arcgis</a></td><td><div class="transcend-esri-arcgis-cleargraphics-page"><p>A reference back to <a href="#/api/transcend.esri.$arcgis">$arcgis</a> instance (&quot;this&quot;) - for chaining.</p>
</div></td></tr></table><h4 id="methods_cleargraphics_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-cleargraphics-page"><pre class="prettyprint linenums">
var graphic = $arcgis.clearGraphics(map, 'someLayerId');
// or...
var graphic = $arcgis(map).clearGraphics({ layerId: 'someLayerId' });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_draw">draw(map, feature, opts)</h3>
<div class="draw"><div class="transcend-esri-arcgis-draw-page"><p>Draws a <a href="https://developers.arcgis.com/en/javascript/jsapi/graphicslayer-amd.html">graphic</a> (feature) or
<a href="https://developers.arcgis.com/en/javascript/jsapi/geometry-amd.html">geometry</a> on the map - regardless of
what type of geometry it is.</p>
</div><h5 id="methods_draw_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-draw-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to
draw the graphic on.</p>
</div></td></tr><tr><td>feature <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esr">esr.geometry.Geometry</a><a href="" class="label type-hint type-hint-esri">esri.Graphic</a></td><td><div class="transcend-esri-arcgis-draw-page"><p>A feature (graphic) or geometry to turn into a valid
graphic. The most common use for this is to turn a &quot;feature&quot; from a feature set retrieved from an ArcGIS
rest service endpoint into a valid ESRI graphic. The service returns standard JSON objects which need to be
turned into ESRI class instances.</p>
</div></td></tr><tr><td>opts <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-draw-page"><p>Additional options to use when creating the graphic. These options will also be passed
into the <a href="#/api/transcend.esri.$symbol">symbol</a> factory if a symbol is created.</p>
</div></td></tr></tbody></table><h5 id="methods_draw_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-esri">esri.Graphic</a></td><td><div class="transcend-esri-arcgis-draw-page"><p>An instance of an <a href="https://developers.arcgis.com/en/javascript/jsapi/graphic-amd.html">esri.Graphic</a>.</p>
</div></td></tr></table><h4 id="methods_draw_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-draw-page"><pre class="prettyprint linenums">
var options = {
   zoom: true,          // Auto zooms to graphic.
   clear: true,         // Clears any existing graphics.
   keepVisible: true,   // Makes sure graphic is in viewport.
   expandBy: 1.5   ,    // Zoom out factor.
   graphicsLayer: 'abc' // graphics layer id to create
 };

var graphic = $arcgis.draw(map, { x: 23, y: 54 }, options);
// or...
var graphic = $arcgis(map).draw({ x: 23, y: 54 }, options);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_extent">extent(map, extent)</h3>
<div class="extent"><div class="transcend-esri-arcgis-extent-page"><p>Gets or sets the map&#39;s extent. When setting the extent, if the extent is not in the same projection as the
map it will automatically project it to the map&#39;s sptial reference - using the <a href="#/api/transcend.esri.$arcgis#project">project</a>
method.</p>
</div><h5 id="methods_extent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-extent-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to
get or set the extent from/to.</p>
</div></td></tr><tr><td>extent</td><td><a href="" class="label type-hint type-hint-esri">esri.geometry.Extent</a></td><td><div class="transcend-esri-arcgis-extent-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/extent-amd.html">extent</a>
to set the map to.</p>
</div></td></tr></tbody></table><h5 id="methods_extent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-esri">esri.geometry.Extent|ng.$q.defer</a></td><td><div class="transcend-esri-arcgis-extent-page"><p>The map&#39;s <a href="https://developers.arcgis.com/en/javascript/jsapi/extent-amd.html">extent</a>
if no extent parameter was passed in, or a promise if an extent setter was passed in.</p>
</div></td></tr></table><h4 id="methods_extent_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-extent-page"><pre class="prettyprint linenums">
var extent = $arcgis.extent(map);
// or...
var extent = $arcgis(map).extent();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_graphic">graphic(map, feature, options)</h3>
<div class="graphic"><div class="transcend-esri-arcgis-graphic-page"><p>Creates a graphic from a feature (or similar object). The main point of this functionality
is to automatically add any missing components of the graphic - like geometry and symbology.</p>
</div><h5 id="methods_graphic_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-graphic-page"><p>An esri.Map object to get or set the center location.</p>
</div></td></tr><tr><td>feature <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esr">esr.geometry.Geometry</a><a href="" class="label type-hint type-hint-esri">esri.Graphic</a></td><td><div class="transcend-esri-arcgis-graphic-page"><p>A feature (<a href="https://developers.arcgis.com/en/javascript/jsapi/graphic-amd.html">graphic</a>) or geometry to turn into a valid
graphic. The most common use for this is to turn a &quot;feature&quot; from a feature set retrieved from an ArcGIS
rest service endpoint into a valid ESRI graphic. The service returns standard JSON objects which need to be
turned into ESRI class instances.</p>
</div></td></tr><tr><td>options <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-graphic-page"><p>Additional options to use when creating the graphic. These options will also be passed
into the <a href="#/api/transcend.esri.$symbol">symbol</a> factory if a symbol is created.</p>
</div></td></tr></tbody></table><h5 id="methods_graphic_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-esri">esri.Graphic</a></td><td><div class="transcend-esri-arcgis-graphic-page"><p>An instance of an <a href="https://developers.arcgis.com/en/javascript/jsapi/graphic-amd.html">esri.Graphic</a>.</p>
</div></td></tr></table><h4 id="methods_graphic_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-graphic-page"><pre class="prettyprint linenums">
var graphicObject = {attributes: {}, geometry: { x:1, y: 2 }};
var esriGraphic = $arcgis.graphic(map, graphicObject, { color: 'blue' });
// or...
var esriGraphic = $arcgis(map).graphic(graphicObject, { color: 'blue' });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_graphicslayer">graphicsLayer(map, layerId, omitCreation, options)</h3>
<div class="graphicslayer"><div class="transcend-esri-arcgis-graphicslayer-page"><p>Gets or creates a graphics layer depending on whether it exist already. If a graphics layer with the passed in
layer id already exists it will simply return that layer - servers as a &quot;get layer by id&quot;. If a layer does not
already exist with the given id than it will create a new one with the passed in id - assuming the
&quot;omitCreation&quot; flag was not passed in as true.</p>
</div><h5 id="methods_graphicslayer_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-graphicslayer-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to get or create the graphics layer on.</p>
</div></td></tr><tr><td>layerId <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-esri-arcgis-graphicslayer-page"><p>The layer or object with &#39;layerId&#39; property to get or create the new layer from.</p>
</div></td></tr><tr><td>omitCreation</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-esri-arcgis-graphicslayer-page"><p>If falsy and no layer is found by the passed in layer id, than it will create
a new graphics layer with the passed in layer id. If the parameter is true, than it will not create a new layer.</p>
</div></td></tr><tr><td>options</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-graphicslayer-page"><p>Options that will get passed to the <a href="https://developers.arcgis.com/en/javascript/jsapi/graphicslayer-amd.html">graphics layer</a>
constructor.</p>
</div></td></tr></tbody></table><h5 id="methods_graphicslayer_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-esri">esri.layers.GraphicLayer</a></td><td><div class="transcend-esri-arcgis-graphicslayer-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/graphicslayer-amd.html">graphics layer</a>
created or found by the passed in layer id.</p>
</div></td></tr></table><h4 id="methods_graphicslayer_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-graphicslayer-page"><pre class="prettyprint linenums">
var graphicLayer = $arcgis.graphic(map, 'someLayerId');
// or...
var graphicLayer = $arcgis(map).graphic('someLayerId');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_identify">identify(map, mapPoint, layerOrUrl, options)</h3>
<div class="identify"><div class="transcend-esri-arcgis-identify-page"><p>Performs a map <a href="https://developers.arcgis.com/en/javascript/jsapi/identifytask-amd.html">identify task</a>
from a given point.</p>
</div><h5 id="methods_identify_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-identify-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to
work from.</p>
</div></td></tr><tr><td>mapPoint</td><td><a href="" class="label type-hint type-hint-esri">esri.geometry.Point</a><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-identify-page"><p>The point at which to perform the identify. This point can be an
<a href="https://developers.arcgis.com/en/javascript/jsapi/point-amd.html">esri point</a> or an object with point
properties (x, y, lat, lon, etc).</p>
</div></td></tr><tr><td>layerOrUrl</td><td><a href="" class="label type-hint type-hint-esri">esri.layers.Layer</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-esri-arcgis-identify-page"><p>The layer, or the URL of a layer, to perform the identify against.</p>
</div></td></tr><tr><td>options <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-identify-page"><p>Options that will get passed to the <a href="https://developers.arcgis.com/en/javascript/jsapi/identifytask-amd.html">identify task</a>
when performing the action.</p>
</div></td></tr></tbody></table><h5 id="methods_identify_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="transcend-esri-arcgis-identify-page"><p>A <a href="http://docs.angularjs.org/api/ng.$q">promise</a> that will be resolved when the
identify completes.</p>
</div></td></tr></table><h4 id="methods_identify_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-identify-page"><pre class="prettyprint linenums">
var point = $geometry.point(mapPoint, map.spatialReference);
var options = {
  tolerance: 4,
  returnGeometry: true,
  returnM: true,
  layerOption: esri.tasks.IdentifyParameters.LAYER_OPTION_VISIBLE
};

var promise = $arcgis.identify(map, point, 'layerId2', options);
// or...
var promise = $arcgis(map).identify(point, 'layerId2', options);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_layer">layer(map, layerId)</h3>
<div class="layer"><div class="transcend-esri-arcgis-layer-page"><p>Retrieves a map layer either by &#39;id&#39; or index.</p>
</div><h5 id="methods_layer_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-layer-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to
work from.</p>
</div></td></tr><tr><td>layerId</td><td><a href="" class="label type-hint type-hint-string">String</a><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-arcgis-layer-page"><p>The layer id, service url, or index, of the layer to retrieve from the map.</p>
</div></td></tr></tbody></table><h5 id="methods_layer_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-layer-page"><p>A map layer.</p>
</div></td></tr></table><h4 id="methods_layer_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-layer-page"><pre class="prettyprint linenums">
var layer = $arcgis.layer(map, 'someLayerId');
// or...
var layer = $arcgis.layer(map, 2);
// or...
var layer = $arcgis.layer(map, 'http://myserver/arcgis/rest/services/a/MapServer/3');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_layerurl">layerUrl(map, layerId)</h3>
<div class="layerurl"><div class="transcend-esri-arcgis-layerurl-page"><p>Retrieves a layer&#39;s url by either a layer object or id. In addition, if a url
is passed in it will simply return the same url as a safe-guard.</p>
</div><h5 id="methods_layerurl_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-layerurl-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to
work from.</p>
</div></td></tr><tr><td>layerId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-esri-arcgis-layerurl-page"><p>The layer id of the layer to retrieve its URL from.</p>
</div></td></tr></tbody></table><h5 id="methods_layerurl_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String|undefined</a></td><td><div class="transcend-esri-arcgis-layerurl-page"><p>The url of the specified layer.</p>
</div></td></tr></table><h4 id="methods_layerurl_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-layerurl-page"><pre class="prettyprint linenums">
var url = $arcgis.layerUrl(map, 'someLayerId');
// or...
var url = $arcgis(map).layerUrl('someLayerId');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_project">project(map, geometry)</h3>
<div class="project"><div class="transcend-esri-arcgis-project-page"><p>Projects a geometry to the map&#39;s spatial reference. This is done by using a <a href="https://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer">geometry service</a>.
The default <a href="https://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer">geometry service</a>
is ESRI&#39;s arcgis online service. This geometry service url can be configured using &quot;esriConfig&quot; or via the
$arcgisProvider.</p>
</div><h5 id="methods_project_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-esri">esri.Map</a></td><td><div class="transcend-esri-arcgis-project-page"><p>The <a href="https://developers.arcgis.com/en/javascript/jsapi/map-amd.html">esri map</a> to
work from.</p>
</div></td></tr><tr><td>geometry</td><td><a href="" class="label type-hint type-hint-esri">esri.geometry.Geometry</a><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-arcgis-project-page"><p>An @link <a href="https://developers.arcgis.com/en/javascript/jsapi/geometry-amd.html">https://developers.arcgis.com/en/javascript/jsapi/geometry-amd.html</a> esri geometry}
or object representation of a geometry to convert to different spatial reference.</p>
</div></td></tr></tbody></table><h5 id="methods_project_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-ng">ng.$q.defer</a></td><td><div class="transcend-esri-arcgis-project-page"><p>A promise that will resolve when the conversion is complete.</p>
</div></td></tr></table><h4 id="methods_project_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-project-page"><pre class="prettyprint linenums">
var geometry = new esri.geometry.Point({ x: 1, y: 2 }, { wkid: 1234 });

var promise = $arcgis.project(map, geometry);
// or...
var promise = $arcgis(map).project(geometry);

promise.then(function(projectedGeometry) {
  expect(projectedGeometry.spatialReference.wkid)
    .toEqual(map.spatialReference.wkid);
});
</pre>
</div></div>
</div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_config">config</h3>
<div class="config"><div class="transcend-esri-arcgis-config-page"><p>Factory configuration object. The following configs are valid: &#39;geometryUrl&#39;.</p>
</div><h4 id="properties_config_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-config-page"><pre class="prettyprint linenums">
$arcgisProvider.config = {
  geometryUrl: 'http://my.server/ArcGIS/rest/services/Geometry/GeometryServer'
};
</pre>
</div></div>
</div>
</li>
<li><h3 id="properties_messages">messages</h3>
<div class="messages"><div class="transcend-esri-arcgis-messages-page"><p>Messages that can be configured at the provider configuration time. The following messages are valid:
&#39;valueNoAttributes&#39;.</p>
</div><h4 id="properties_messages_example">Example</h4>
<div class="example"><div class="transcend-esri-arcgis-messages-page"><pre class="prettyprint linenums">
$arcgisProvider.messages = {
  valueNoAttributes: 'Some other message'
};
</pre>
</div></div>
</div>
</li>
<li><h3 id="properties_extension">extension</h3>
<div class="extension"><div class="transcend-export-extension-page"><p>Extracts an extension from a file name.</p>
</div><h5 id="properties_extension_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-extension-page"><p>The extension.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
