<h1><code ng:non-bindable="">DataLayerPrivilege</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.security-manager</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-manager-service-page transcend-security-manager-service-datalayerprivilege-page"><p>A <a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> to interact with a &quot;DataLayerPrivilege&quot; entity.
A &quot;DataLayerPrivilege&quot; entity models a single layer privilege&#39;s visible and editable layers. The purpose of this
<a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> is to provide the necessary
functionality to interact with a &quot;DataLayerPrivilege&quot; - such as create, read, update, and delete.</p>
<p> <pre class="prettyprint linenums">
 // Get a list of data layer privileges.
 var dataLayerPrivileges = DataLayerPrivilege.query();

 // Get a single data layer privilege by id.
 var dataLayerPrivilege = DataLayerPrivilege.get({ id: abc });

 // Update a data layer privilege.
 dataLayerPrivilege.visibleLayers = [1,2,3];
 DataLayerPrivilege.update(dataLayerPrivilege);

 // Delete a data layer privilege.
 DataLayerPrivilege.delete(dataLayerPrivilege);
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security-manager.securityManagerConfig">securityManagerConfig</a></code>
</li>
</ul>
</div>
