<h1><code ng:non-bindable="">hierarchyFilter</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-directive-page transcend-esri-directive-hierarchyfilter-page"><p>The &#39;hierarchyFilter&#39; directive provides an editable template for the Search By Hierarchy Tool</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/tsConfig">tsConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$loading">$loading</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$layer">$layer</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/MapServer">MapServer</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;hierarchy-filter&gt;
&lt;/hierarchy-filter&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY hierarchy-filter&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
