<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-notify-page"><h2 id="notify-module">Notify Module</h2>
<p>The &quot;Notify&quot; module provides a common code base related to user notification. Currently the only notification method
available is &quot;email&quot;.</p>
<h3 id="notify-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-notify.git
</code></pre><p>Other options:</p>
<p>Download the code at <a href="http://code.tsstools.com/bower-notify/get/master.zip">http://code.tsstools.com/bower-notify/get/master.zip</a>
View the repository at <a href="http://code.tsstools.com/bower-notify">http://code.tsstools.com/bower-notify</a></p>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.notify&#39;]);
</code></pre><h3 id="notify-module_to-do">To Do</h3>
<ul>
<li>Implement additional notification methods.</li>
<li>Port over email creation directives from the Road Analyzer project.</li>
</ul>
</div></div>
