<h1><code ng:non-bindable="">lrsProfileNavbar</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.controls</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-controls-directive-page transcend-controls-directive-lrsprofilenavbar-page"><p>The &#39;lrsProfileNavbar&#39; provides an editable navigation bar template for the Lrs Profile menu</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;lrs-profile-navbar&gt;
&lt;/lrs-profile-navbar&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY lrs-profile-navbar&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
