<h1><code ng:non-bindable="">esriMap</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>The &#39;esriMap&#39; directive allows the creation of ESRI maps using the ArcGIS JavaScript API in markup and
angular ways.</p>
<p>Note: When using this directive you must include the ESRI ArcGIS JavaScript API - both JavaScript
and CSS files.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core#esriconfig">core#esriConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/dojo">dojo</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.esri#esri">esri#esri</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.esri#$arcgis">esri#$arcgis</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;esri-map
       [map="{object}"]
       [zoom="{number}"]
       [center="{object}"]
       [loading="{boolean}"]
       [layers="{string}"]
       [x="{number}"]
       [y="{number}"]
       [width="{string}"]
       [height="{string}"]
       [cache-key="{string}"]
       [cache-event="{string}"]
       [basemap="{string}"]
       [zoom-to-layer="{string}"]
       [on-ready="{function}"]
       [on-layers-ready="{function}"]&gt;
&lt;/esri-map&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY esri-map
     [map="{object}"]
     [zoom="{number}"]
     [center="{object}"]
     [loading="{boolean}"]
     [layers="{string}"]
     [x="{number}"]
     [y="{number}"]
     [width="{string}"]
     [height="{string}"]
     [cache-key="{string}"]
     [cache-event="{string}"]
     [basemap="{string}"]
     [zoom-to-layer="{string}"]
     [on-ready="{function}"]
     [on-layers-ready="{function}"]&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>map <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>A map object that is bound two ways. This map object can be empty or it can be an
already instantiated &#39;esri&#39; map object. If it is already instantiated, that map object will be used
throughout the directive. If the map is null/nothing, or not passed in, than the directive will
create a new &#39;esri&#39; map instance.</p>
</div></td></tr><tr><td>zoom <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>A zoom property that is bound two ways.</p>
</div></td></tr><tr><td>center <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>A center object that is bound two ways. This center object supports the following x
coordinate fields: &#39;x,lon,lng,longitude,ln&#39; and the following y coordinate fields: &#39;y,lat,latitude,lattitude,lt&#39;.</p>
</div></td></tr><tr><td>loading <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>A flag that states whether the map is currently loading (updating content) or not.</p>
</div></td></tr><tr><td>layers <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>A layer configuration that will be used to setup the layers for the map.
TODO: Currently this is a string but we need to change this to be an object.</p>
</div></td></tr><tr><td>x <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>The &#39;x&#39; coordinate to start the map&#39;s center location at. Note, if a center parameter is
passed in than this attribute will be ignored.</p>
</div></td></tr><tr><td>y <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>The &#39;y&#39; coordinate to start the map&#39;s center location at. Note, if a center parameter is
passed in than this attribute will be ignored.</p>
</div></td></tr><tr><td>width <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>The width to make the map.</p>
</div></td></tr><tr><td>height <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>The width to make the map.</p>
</div></td></tr><tr><td>cacheKey <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>If the &quot;cache key&quot; is set, than the map will store user changes per the map, and persist
them to other sessions - things like the map extent, zoom level, etc.</p>
</div></td></tr><tr><td>cacheEvent <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>The map event on which to save the session information - if a cache key is present.</p>
</div></td></tr><tr><td>basemap <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>The basemap to use on the map. The ESRI map will except any of the following:
&quot;streets&quot; , &quot;satellite&quot; , &quot;hybrid&quot;, &quot;topo&quot;, &quot;gray&quot;, &quot;oceans&quot;, &quot;national-geographic&quot;, &quot;osm&quot;.</p>
</div></td></tr><tr><td>zoomToLayer <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>The layer id that you want the map to initially zoom to. This requires that the
&quot;layers&quot; configuration object be populated with a layer and that layer id will correspond to this property.</p>
</div></td></tr><tr><td>onReady <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>Callback function for when the map is ready. It will pass the &#39;map&#39; object as an
argument. Note, this does not guarantee that the layer infos have been loaded yet, only the map.</p>
</div></td></tr><tr><td>onLayersReady <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><p>Callback function for when all layers have been loaded. This callback
&amp;param {function=} onBeforeLayersAdded Function fired before layers area actually added to the map.
guarantees that the layer infos have been loaded for all layers.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-esri-directive-page transcend-esri-directive-esrimap-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-30" source-edit-css="" source-edit-js="script.js-31" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-30" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-30">
<link rel="stylesheet" href="//js.arcgis.com/3.7/js/esri/css/esri.css">
<div ng-controller="Ctrl">
<h3 id="example_simple-map">Simple Map</h3>
<esri-map center="center" zoom="zoom"></esri-map>

<hr>
<label>
X Coordinate:
<input type="number" ng-model="center.x" step="10000" />
</label>
<label>
Y Coordinate:
<input type="number" ng-model="center.y" step="10000" />
</label>
<label>
Zoom Level:
<input type="number" ng-model="zoom" />
</label>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-31"></pre>
<script type="text/ng-template" id="script.js-31">
angular.module('app', ['transcend.esri'])
.controller('Ctrl', function($scope) {
       $scope.center = { x: -78, y: 40 };
       $scope.zoom = 7;
     });
</script>
</div>
</div><h4 id="example_simple-map_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-30" ng-eval-javascript="script.js-31"></div>
</div></div>
</div>
