<h1><code ng:non-bindable="">SecurityProfile</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-manager-page transcend-security-manager-securityprofile-page"><p>The &#39;SecurityProfile&#39; factory returns a new Vector Editor for SVG purposees.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/securityManagerConfig">securityManagerConfig</a></code>
</li>
</ul>
</div>
