<h1><code ng:non-bindable="">securityManagerConfig</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.security-manager</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-manager-securitymanagerconfig-page"><p>Provides a single configuration object that can be used to change the behaviour, options, urls, etc for any
components in the <a href="#/api/transcend.security-manager">Security Manager Module</a>. The &quot;securityManagerConfig&quot; object is a
<a href="http://docs.angularjs.org/api/auto/object/$provide#value">module value</a> and can therefore be
overridden/configured by:</p>
<p> <pre class="prettyprint linenums">
 // Override the value of the 'securityManagerConfig' object.
 angular.module('myApp').value('securityManagerConfig', {
     resource: {
       url: 'http://localhost/MyWebApiApp'
     }
   });
 </pre>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_privilege">privilege</h3>
<div class="privilege"><div class="transcend-security-manager-securitymanagerconfig-privilege-page"><p>Configuration object for the <a href="#/api/transcend.security-manager.service:Privilege">Privilege resource</a>. This object
provides the capability to override the the <a href="#/api/transcend.security-manager.service:Privilege">Privilege resource&#39;s</a>
default configuration.</p>
<h5 id="properties_privilege_configuration-properties">Configuration Properties</h5>
<ul>
<li><p><strong>url</strong> - a string that that represents the base url to the backend server.</p>
<p> <pre class="prettyprint linenums">
     angular.module('myApp').value('securityManagerConfig', {
       privilege: {
         url: 'http://localhost/MyWebApiApplication'
       }
     });
     </pre>
</li>
</ul>
<p><strong>Note,</strong> all methods on a resource can be called on the resource instance by prefixing the method name with a
&#39;$&#39;. This is standard <a href="#/api/transcend.security.service:Account">resource</a> behaviour.</p>
<p>See <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> documentation for
details on what methods are natively available to a resource.</p>
</div></div>
</li>
<li><h3 id="properties_resource">resource</h3>
<div class="resource"><div class="transcend-security-manager-securitymanagerconfig-resource-page"><p>Configuration object to configure common resource properties, such as the server URL and default parameters.
All resources in the &quot;<a href="#/api/transcend.security-manager">Security Module</a>&quot; extend the resource config object first, and
then extend the resource&#39;s specific configuration. So you can set the default backend server URL for all
resources, by using this configuration, and define any other configurations that may vary as well.</p>
<h5 id="properties_resource_configuration-properties">Configuration Properties</h5>
<ul>
<li><strong>url</strong> - a string that that represents the base url to the backend server.</li>
<li><p><strong>params</strong> - default URL parameters that will be passed to each service call.</p>
<pre class="prettyprint linenums">
 angular.module('myApp').value('securityManagerConfig', {
       // The "Account" resource's URL will be set
       // by the resource url configuration.
       resource: {
         url: 'http://localhost/MyWebApiApplication'
       },
       // The "Role" resource's URL will initially be set by
       // the resource url configuration, but
       // will be overridden by the "role" configuration.
       // So ultimately the "Role" resource URL will
       // be 'http://otherhost/MyOtherApplication'.
       role: {
         url: 'http://otherhost/MyOtherApplication'
       }
     });
 </pre>
</li>
</ul>
</div></div>
</li>
<li><h3 id="properties_rolprivilege">rolPrivilege</h3>
<div class="rolprivilege"><div class="transcend-security-manager-securitymanagerconfig-rolprivilege-page"><p>Configuration object for the <a href="#/api/transcend.security-manager.service:RolePrivilege">RolePrivilege resource</a>.
This object provides the capability to override the the <a href="#/api/transcend.security-manager.service:RolePrivilege">RolePrivilege resource&#39;s</a>
default configuration.</p>
<h5 id="properties_rolprivilege_configuration-properties">Configuration Properties</h5>
<ul>
<li><p><strong>url</strong> - a string that that represents the base url to the backend server.</p>
<p> <pre class="prettyprint linenums">
     angular.module('myApp').value('securityManagerConfig', {
       rolePrivilege: {
         url: 'http://localhost/MyWebApiApplication'
       }
     });
     </pre>
</li>
</ul>
<p><strong>Note,</strong> all methods on a resource can be called on the resource instance by prefixing the method name with a
&#39;$&#39;. This is standard <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> behaviour.</p>
<p>See <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> documentation for
details on what methods are natively available to a resource.</p>
</div></div>
</li>
<li><h3 id="properties_role">role</h3>
<div class="role"><div class="transcend-security-manager-securitymanagerconfig-role-page"><p>Configuration object for the <a href="#/api/transcend.security-manager.service:Role">Role resource</a>. This object provides
the capability to override the the <a href="#/api/transcend.security-manager.service:Role">Role resource&#39;s</a> default
configuration.</p>
<h5 id="properties_role_configuration-properties">Configuration Properties</h5>
<ul>
<li><p><strong>url</strong> - a string that that represents the base url to the backend server.</p>
<p> <pre class="prettyprint linenums">
     angular.module('myApp').value('securityManagerConfig', {
       role: {
         url: 'http://localhost/MyWebApiApplication'
       }
     });
     </pre>
</li>
</ul>
<p><strong>Note,</strong> all methods on a resource can be called on the resource instance by prefixing the method name with a
&#39;$&#39;. This is standard <a href="#/api/transcend.security.service:Account">resource</a> behaviour.</p>
<p>See <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> documentation for
details on what methods are natively available to a resource.</p>
</div></div>
</li>
<li><h3 id="properties_role">role</h3>
<div class="role"><div class="transcend-security-manager-securitymanagerconfig-role-page"><p>Configuration object for the <a href="#/api/transcend.security-manager.service:Role">Role resource</a>. This object provides
the capability to override the the <a href="#/api/transcend.security-manager.service:Role">Role resource&#39;s</a> default
configuration.</p>
<h5 id="properties_role_configuration-properties">Configuration Properties</h5>
<ul>
<li><p><strong>url</strong> - a string that that represents the base url to the backend server.</p>
<p> <pre class="prettyprint linenums">
     angular.module('myApp').value('securityManagerConfig', {
       role: {
         url: 'http://localhost/MyWebApiApplication'
       }
     });
     </pre>
</li>
</ul>
<p><strong>Note,</strong> all methods on a resource can be called on the resource instance by prefixing the method name with a
&#39;$&#39;. This is standard <a href="#/api/transcend.security.service:Account">resource</a> behaviour.</p>
<p>See <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> documentation for
details on what methods are natively available to a resource.</p>
</div></div>
</li>
</ul>
</div>
</div>
