<h1><code ng:non-bindable="">lidarViewer</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.lidar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lidar-directive-page transcend-lidar-directive-lidarviewer-page"><p>The &#39;lidarViewer&#39; directive provides an editable template for Lidar data.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$math">$math</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$lidar">$lidar</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/lidarConfig">lidarConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/LidarData">LidarData</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;lidar-viewer&gt;
&lt;/lidar-viewer&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY lidar-viewer&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
