<h1><code ng:non-bindable="">dynamicForm</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.resource</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-resource-directive-page transcend-resource-directive-dynamicform-page"><p>The &#39;dynamicForm&#39; directive provides a way to create forms automatically based on an object&#39;s properties and value.
An optional &quot;meta-data&quot; configuration can be passed in to provide additional details/restrictions on the properties</p>
<ul>
<li>such as default values, validations, and types.</li>
</ul>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ngModel">ngModel</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;dynamic-form
       resource="{Object}"
       [meta-data="{Object}"]
       [controller="{Object}"]
       [on-save-begin="{expression}"]
       [on-save="{expression}"]
       [on-save-error="{expression}"]&gt;
&lt;/dynamic-form&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY dynamic-form
     resource="{Object}"
     [meta-data="{Object}"]
     [controller="{Object}"]
     [on-save-begin="{expression}"]
     [on-save="{expression}"]
     [on-save-error="{expression}"]&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>resource</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-dynamicform-page"><p>The resource/object to build the form from.</p>
</div></td></tr><tr><td>metaData <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-dynamicform-page"><p>The meta-data to use/bind to build the form.</p>
</div></td></tr><tr><td>controller <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-dynamicform-page"><p>An optional api that will be used to let the declarer of the directive gain access to the
controller of the directive (the basic API of the controller).</p>
</div></td></tr><tr><td>onSaveBegin <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-dynamicform-page"><p><a href="https://docs.angularjs.org/guide/expression">Expression</a> to evaluate upon the
save process starting.</p>
</div></td></tr><tr><td>onSave <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-dynamicform-page"><p><a href="https://docs.angularjs.org/guide/expression">Expression</a> to evaluate upon the save
process successfully completing.</p>
</div></td></tr><tr><td>onSaveError <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-dynamicform-page"><p><a href="https://docs.angularjs.org/guide/expression">Expression</a> to evaluate upon the save
process failing.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-resource-directive-page transcend-resource-directive-dynamicform-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-38" source-edit-css="" source-edit-js="script.js-39" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-38" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-38">
<div ng-controller="Ctrl">

<dynamic-form resource="resource"></dynamic-form>
<hr/>
<strong>Raw Model:</strong><br/>
{{resource}}

</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-39"></pre>
<script type="text/ng-template" id="script.js-39">
angular.module('app', ['transcend.resource'])
.controller('Ctrl', function($scope) {
       $scope.resource =  {
         firstName: 'Rusty',
         lastName: 'Green',
         email: 'rgreen@tssgis.com',
         address: {
           street: '123 Elm Street',
           city: 'Happy Town',
           zipCode: 12345
         }
       };
     });
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-38" ng-eval-javascript="script.js-39"></div>
</div></div>
</div>
