<h1><code ng:non-bindable="">AppProfile</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-service-page transcend-app-service-appprofile-page"><p>The &#39;AppProfile&#39; factory creates and returns a profile object containing configuration options</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
</ul>
</div>
