<h1><code ng:non-bindable="">securityConfig</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.security</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-securityconfig-page"><p>Provides a single configuration object that can be used to change the behaviour, options, urls, etc for any
components in the <a href="#/api/transcend.security">Security Module</a>. The &quot;securityConfig&quot; object is a
<a href="http://docs.angularjs.org/api/auto/object/$provide#value">module value</a> and can therefore be
overridden/configured by:</p>
<p> <pre class="prettyprint linenums">
 // Override the value of the 'securityConfig' object.
 angular.module('myApp').value('securityConfig', {
     tokenRequiredUrlPattern: '/api/',
     account: {
       url: 'http://localhost/MyWebApiApp'
     }
   });
 </pre>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_account">account</h3>
<div class="account"><div class="transcend-security-securityconfig-account-page"><p>Configuration object for the <a href="#/api/transcend.security.service:Account">Account resource</a>. This object provides
the capability to override the the <a href="#/api/transcend.security.service:Account">Account resource&#39;s</a> default
configuration.</p>
<h5 id="properties_account_configuration-properties">Configuration Properties</h5>
<ul>
<li><p><strong>url</strong> - a string that that represents the base url to the backend server.</p>
<p> <pre class="prettyprint linenums">
     angular.module('myApp').value('securityConfig', {
       account: {
         url: 'http://localhost/MyWebApiApplication'
       }
     });
     </pre>
</li>
</ul>
<p><strong>Note,</strong> all methods on a resource can be called on the resource instance by prefixing the method name with a
&#39;$&#39;. This is standard <a href="#/api/transcend.security.service:Account">resource</a> behaviour.</p>
</div></div>
</li>
<li><h3 id="properties_inlineusersignin">inlineUserSignIn</h3>
<div class="inlineusersignin"><div class="transcend-security-securityconfig-inlineusersignin-page"><p>Configuration object for the <a href="#/api/transcend.security.directive:inlineUserSignIn">Inline User Sign In Directive</a>.
This object provides the capability to override the directive&#39;s default configuration.</p>
<h5 id="properties_inlineusersignin_configuration-properties">Configuration Properties</h5>
<ul>
<li><p><strong>credentials</strong> - an object that holds the &#39;userName&#39; and &#39;password&#39; properties for a user.</p>
<p> <pre class="prettyprint linenums">
     angular.module('myApp').value('securityConfig', {
       // This will auto-fill in the user name input box
       // with "Guest" as the user name.
       inlineUserSignIn: {
         credentials: {
           userName: 'Guest',
           password: ''
         }
       }
     });
     </pre>
</li>
</ul>
<p><strong>Note,</strong> all methods on a resource can be called on the resource instance by prefixing the method name with a
&#39;$&#39;. This is standard <a href="#/api/transcend.security.service:Account">resource</a> behaviour.</p>
</div></div>
</li>
<li><h3 id="properties_resource">resource</h3>
<div class="resource"><div class="transcend-security-securityconfig-resource-page"><p>Configuration object to configure common resource properties, such as the server URL and default parameters.
All resources in the &quot;<a href="#/api/transcend.security">Security Module</a>&quot; extend the resource config object first, and
then extend the resource&#39;s specific configuration. So you can set the default backend server URL for all
resources, by using this configuration, and define any other configurations that may vary as well.</p>
<h5 id="properties_resource_configuration-properties">Configuration Properties</h5>
<ul>
<li><strong>url</strong> - a string that that represents the base url to the backend server.</li>
<li><p><strong>params</strong> - default URL parameters that will be passed to each service call.</p>
<pre class="prettyprint linenums">
 angular.module('myApp').value('securityConfig', {
       // The "Account" resource's URL will be set
       // by the resource url configuration.
       resource: {
         url: 'http://localhost/MyWebApiApplication'
       },
       // The "Role" resource's URL will initially be set by
       // the resource url configuration, but
       // will be overridden by the "role" configuration.
       // So ultimately the "Role" resource URL will
       // be 'http://otherhost/MyOtherApplication'.
       role: {
         url: 'http://otherhost/MyOtherApplication'
       }
     });
 </pre>
</li>
</ul>
</div></div>
</li>
<li><h3 id="properties_rolemanager">roleManager</h3>
<div class="rolemanager"><div class="transcend-security-securityconfig-rolemanager-page"><p>Configuration object for the <a href="#/api/transcend.security.$roleManager">$roleManager service</a>. This object provides
the capability to override the the <a href="#/api/transcend.security.$roleManager">$roleManager service&#39;s</a> default
configuration.</p>
<h5 id="properties_rolemanager_configuration-properties">Configuration Properties</h5>
<ul>
<li><strong>enabled</strong> - a boolean that determines if the roleManager is enabled or not. If it is not enabled, than all
role checking will be skipped and the &quot;roles&quot; attribute, from the
<a href="#/api/transcend.security.directive:roles">roles directive</a>, will essentially be ignored.</li>
<li><strong>roles</strong> - an array of pre-defined user Role objects. If you do not have a list of Role objects you can set
just the list of Role Ids.</li>
<li><p><strong>roleIds</strong> - an array of pre-defined user Role Ids. This property is automatically populated when you set a
list of Role objects. However, if you do not have a list of Role objects you can use this property to use
Role Ids only.</p>
<p>   <pre class="prettyprint linenums">
       angular.module('myApp').value('securityConfig', {
       roleManager: {
         roleIds: [1, 2, 3, 4, 5]
       }
     });
       </pre>
</li>
</ul>
<p>See the <a href="#/api/transcend.security.directive:roles">roles directive</a> for a live example of this process.</p>
</div></div>
</li>
<li><h3 id="properties_roles">roles</h3>
<div class="roles"><div class="transcend-security-securityconfig-roles-page"><p>Configuration object for the <a href="#/api/transcend.security.directive:roles">roles directive</a>. This object provides
the capability to override the the <a href="#/api/transcend.security.directive:roles">roles directive</a> default
configuration.</p>
<h5 id="properties_roles_configuration-properties">Configuration Properties</h5>
<ul>
<li><p><strong>bypass</strong> - a flag to bypass the roles functionality (disable hiding content based on roles). The
default value is false - meaning it is enabled.</p>
<p>   <pre class="prettyprint linenums">
       angular.module('myApp').value('securityConfig', {
         roles: {
           bypass: true
         }
       });
       </pre>
</li>
</ul>
</div></div>
</li>
<li><h3 id="properties_tokenrequiredurlpattern">tokenRequiredUrlPattern</h3>
<div class="tokenrequiredurlpattern"><div class="transcend-security-securityconfig-tokenrequiredurlpattern-page"><p>Pattern that dictates whether a URL from a given HTTP request should have the authentication token added to the
headers. The <strong>default</strong> is <strong>&#39;/api/&#39;</strong> because this is the default route prefix for any WebAPI project. This means that
any URL that has the string &#39;/api/&#39; in it, will get the &quot;Authentication&quot;
 <pre class="prettyprint linenums">
 // Override the value of the 'securityConfig' object.
 angular.module('myApp').value('securityConfig', {
         tokenRequiredUrlPattern: '/authOnly/'
       });

 // Matches authentication pattern:
 POST http://some.server.com/authOnly/some-endpoint
 // Will add the token to the header:
 Authorization:Bearer KPlug77bE-2t3QjPkf7AHk-KOpT5YUQgR0x6Pcgui-hW9XMlXT19wvm4L...
 // Does not match authentication pattern:
 POST http://some.server.com/anything/some-endpoint
 // Will not add the token to the header:
 </pre>
</div></div>
</li>
</ul>
</div>
</div>
