<h1><code ng:non-bindable="">reportNavbar</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.reporting</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-reporting-directive-page transcend-reporting-directive-reportnavbar-page"><p>The &#39;reportNavbar&#39; directive provides a list of available features that operate on one or more selected report items.
If no reports are selected, these options are disabled in the user interface.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.reporting.Report">Report</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;report-navbar
       reports="{array}"
       search="{object}"&gt;
&lt;/report-navbar&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY report-navbar
     reports="{array}"
     search="{object}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>reports</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="transcend-reporting-directive-page transcend-reporting-directive-reportnavbar-page"><p>The reports that have been selected by the user.</p>
</div></td></tr><tr><td>search</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-reporting-directive-page transcend-reporting-directive-reportnavbar-page"><p>The search text used to filter the reports list.</p>
</div></td></tr></tbody></table></div>
</div>
