<h1><code ng:non-bindable="">$metaData</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.resource</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-resource-metadata-page"><p>The &quot;$metaData&quot; factory provides the ability to create/store information that defines the structure of a given object.
This information can be passed to the <a href="#/api/transcend.resource.directive:dynamicForm">dynamicForm directive</a> to have it create
the form with specific information.</p>
<p> <pre class="prettyprint linenums">
 var metaData = $metaData({ name: 'rusty', age: 28 });

 expect(metaData.length).toEqual(2);
 expect(metaData[0].placeholder).toEqual('Name');
 expect(metaData[0].tooltip).toEqual('Name');
 expect(metaData[0].type).toEqual('text');
 expect(metaData[0].property).toBe(original.name);
 expect(metaData[0].key).toEqual('name');
 expect(metaData[0].label).toEqual('Name');
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$metaData(resource);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>resource</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-metadata-page"><p>Resource or object to generate the meta-data from.</p>
</div></td></tr></tbody></table></div>
</div>
