<h1><code ng:non-bindable="">$math</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.math</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-math-math-page"><p>Shortcut static class to be used to access common transcend functionality. This class
is essentially just a wrapper for the most common functionality.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_evaluation">evaluation()</h3>
<div class="evaluation"><div class="transcend-math-math-page transcend-math-math--math-evaluation-page"><p>Object which contains common evaluation functions for objects passed into the functions in this factory.
For example, the</p>
</div></div>
</li>
<li><h3 id="methods_findnestedoutliers">findNestedOutliers()</h3>
<div class="findnestedoutliers"></div>
</li>
<li><h3 id="methods_getinlierminmax">getInlierMinMax()</h3>
<div class="getinlierminmax"></div>
</li>
<li><h3 id="methods_getmedian">getMedian()</h3>
<div class="getmedian"><div class="transcend-math-math-page transcend-math-math--math-getmedian-page"><p>Object which contains common evaluation functions for objects passed into the functions in this factory.
For example, the</p>
</div></div>
</li>
<li><h3 id="methods_getquantiles">getQuantiles()</h3>
<div class="getquantiles"></div>
</li>
</ul>
</div>
</div>
