<h1><code ng:non-bindable="">LidarData</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lidar-page transcend-lidar-lidardata-page"><p>The &#39;LidarData&#39; factory returns different configuration parameter options for Lidar Data</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/lidarConfig">lidarConfig</a></code>
</li>
</ul>
</div>
