<h1><code ng:non-bindable="">reportingConfig</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.reporting</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-reporting-reportingconfig-page"><p>Provides a single configuration object that can be used to change the behaviour, options, urls, etc for any
components in the <a href="#/api/transcend.reporting">Report Module</a>. The &quot;reportingConfig&quot; object is a
<a href="https://docs.angularjs.org/guide/module">module constant</a> and can therefore be
overridden/configured by:</p>
<p> <pre class="prettyprint linenums">
 // Override the value of the 'reportingConfig' object.
 angular.module('myApp').value('reportingConfig', {
     url: '/api/',
     report: {
       url: 'http://localhost/MyWebApiApp'
     }
   });
 </pre>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_report">report</h3>
<div class="report"><div class="transcend-reporting-reportingconfig-report-page"><p>Configuration object for the <a href="#/api/transcend.reporting.service:Report">Service</a>.
This object provides the capability to override the service&#39;s default configuration.</p>
<h5 id="properties_report_configuration-properties">Configuration Properties</h5>
<ul>
<li><strong>url</strong> - the base path to the Reporting Engine program</li>
<li><strong>endpoint</strong> - the config file entry that contains the designed output filename</li>
<li><strong>designerEndpoint</strong> - the config file entry that contains the url to the Reporting Engine Editor</li>
<li><strong>viewerEndpoint</strong> - the config file entry that contains the url to the Reporting Engine Viewer</li>
<li><p><strong>params</strong> - any other attributes required for the requested operation, include:</p>
<ul>
<li><p><strong>fileName</strong> - the name of the output file to which the report will be written</p>
<pre class="prettyprint linenums">
     angular.module('myApp').value('securityConfig', {
       // This will use the url specified in the resource
       // configuration, and override the endpoints and
       // filename.
       Report: {
         url: '',
         endpoint: 'api/report/:fileName',
         designerEndpoint: 'reports/designer',
         viewerEndpoint: 'reports/viewer',
         params: {
           fileName: '@fileName'
     }
     });
     </pre>
</li>
</ul>
</li>
</ul>
</div></div>
</li>
<li><h3 id="properties_resource">resource</h3>
<div class="resource"><div class="transcend-reporting-reportingconfig-resource-page"><p>Configuration object to configure common resource properties, such as the server URL and default parameters.
All resources in the &quot;<a href="#/api/transcend.reporting">Reporting Module</a>&quot; extend the resource config object first, and
then extend the resource&#39;s specific configuration. So you can set the default backend server URL for all
resources, by using this configuration, and define any other configurations that may vary as well.</p>
<h5 id="properties_resource_configuration-properties">Configuration Properties</h5>
<ul>
<li><strong>url</strong> - a string that that represents the base url to the backend server.</li>
<li><p><strong>params</strong> - default URL parameters that will be passed to each service call.</p>
<pre class="prettyprint linenums">
 angular.module('myApp').value('reportingConfig', {
       // The "Report" resource's URL will be set
       // by the resource url configuration.
       resource: {
         url: 'http://localhost/MyWebApiApplication',
         params: {}
       },
     });
 </pre>
</li>
</ul>
</div></div>
</li>
</ul>
</div>
</div>
