<h1><code ng:non-bindable="">User</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.security</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-service-page transcend-security-service-user-page"><p>The &#39;User&#39; factory returns configuration parameters for Users</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.securityConfig">securityConfig</a></code>
</li>
</ul>
</div>
