<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-notify-toaster-page"><h2 id="notify-module">Notify Module</h2>
<p>The &quot;Notify Toaster&quot; module provides an implementation of a toaster over top of the common &quot;notify&quot; api that is
defined in the &quot;core&quot; module.</p>
<h3 id="notify-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-notify-toaster.git
</code></pre><p>Other options:</p>
<p>Download the code at <a href="http://code.tsstools.com/bower-notify-toaster/get/master.zip">http://code.tsstools.com/bower-notify-toaster/get/master.zip</a>
View the repository at <a href="http://code.tsstools.com/bower-notify-toaster">http://code.tsstools.com/bower-notify-toaster</a></p>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.notify-toaster&#39;]);
</code></pre></div></div>
