<h1><code ng:non-bindable="">$csv</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.export</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-export-csv-page"><p>Provides a set of utility functions related to csv conversion. These methods are &#39;static&#39; functions found
on the factory object.</p>
<p> <h5 id="description_calling-static-csv-conversion-utility-functions">Calling Static CSV Conversion Utility Functions</h5>
 <pre class="prettyprint linenums">
 $csv.someMethod(args);
 </pre>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_buildcsvstring">buildCSVString(data)</h3>
<div class="buildcsvstring"><div class="transcend-export-csv-buildcsvstring-page"><p>Return a list of objects(key-value pairs) formatted as a csv string.  If the value passed in is not a list
of key-value pairs, a null string (&#39;&#39;) is returned.</p>
</div><h5 id="methods_buildcsvstring_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-csv-buildcsvstring-page"><p>The list of key-value pairs to be formatted</p>
</div></td></tr></tbody></table><h5 id="methods_buildcsvstring_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-csv-buildcsvstring-page"><p>Returns the list of key-value pairs in csv string format; if not a list of key-value pairs,
returns a null string</p>
</div></td></tr></table><h4 id="methods_buildcsvstring_example">Example</h4>
<div class="example"><div class="transcend-export-csv-buildcsvstring-page"><pre class="prettyprint linenums">
// Create a csv string out of a list of key-value pairs
expect($csv.buildCSVString(data)).toEqual('"a","b","c","d"\n"1","2","3",""\n"2","3","4","TRUE"\n"3","4","5","FALSE"');
expect($csv.buildCSVString(data[0])).toEqual('');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_stringify">stringify(value)</h3>
<div class="stringify"><div class="transcend-export-csv-stringify-page"><p>Returns a string representation of a value passed into the function.  This method does not operate on
complex values, such as arrays.</p>
</div><h5 id="methods_stringify_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-csv-stringify-page"><p>The value to convert to a string representation.  The value can be of type boolean,
string, or number.</p>
</div></td></tr></tbody></table><h5 id="methods_stringify_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-csv-stringify-page"><p>Returns the resulting string value</p>
</div></td></tr></table><h4 id="methods_stringify_example">Example</h4>
<div class="example"><div class="transcend-export-csv-stringify-page"><pre class="prettyprint linenums">
// Convert values to a string
expect($csv.stringify('def')).toEqual('def');
expect($csv.stringify2(true)).toEqual('TRUE');
expect($csv.stringify2(23)).toEqual('23');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_swaplastcommafornewline">swapLastCommaForNewLine(str)</h3>
<div class="swaplastcommafornewline"><div class="transcend-export-csv-swaplastcommafornewline-page"><p>If the value passed in is a string that ends with a comma, the last character of the string is replaced
with a newline (\n) character and the resulting string is returned.  Otherwise, the original value is
returned.</p>
</div><h5 id="methods_swaplastcommafornewline_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>str</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-csv-swaplastcommafornewline-page"><p>The value to be modified.</p>
</div></td></tr></tbody></table><h5 id="methods_swaplastcommafornewline_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-csv-swaplastcommafornewline-page"><p>Returns the modified string if it meets the conditions; otherwise returns the original
value</p>
</div></td></tr></table><h4 id="methods_swaplastcommafornewline_example">Example</h4>
<div class="example"><div class="transcend-export-csv-swaplastcommafornewline-page"><pre class="prettyprint linenums">
// Replace the ending comma in a string with a newline
expect($csv.swapLastCommaForNewline('def,')).toEqual('def\n');
expect($csv.swapLastCommaForNewline(true)).toEqual(true);
expect($csv.swapLastCommaForNewline(124)).toEqual(124);
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
