<h1><code ng:non-bindable="">formComponent</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.resource</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-resource-directive-page transcend-resource-directive-formcomponent-page"><p>The &#39;dynamicForm&#39; directive provides a way to create forms automatically based on an object&#39;s properties and value.
An optional &quot;meta-data&quot; configuration can be passed in to provide additional details/restrictions on the properties</p>
<ul>
<li>such as default values, validations, and types.</li>
</ul>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ngModel">ngModel</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;form-component
       resource="{Object}"
       [meta-data="{Object}"]
       [controller="{Object}"]
       [on-save-begin="{expression}"]
       [on-save="{expression}"]
       [on-save-error="{expression}"]&gt;
&lt;/form-component&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY form-component
     resource="{Object}"
     [meta-data="{Object}"]
     [controller="{Object}"]
     [on-save-begin="{expression}"]
     [on-save="{expression}"]
     [on-save-error="{expression}"]&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>resource</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-formcomponent-page"><p>The resource/object to build the form from.</p>
</div></td></tr><tr><td>metaData <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-formcomponent-page"><p>The meta-data to use/bind to build the form.</p>
</div></td></tr><tr><td>controller <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-formcomponent-page"><p>An optional api that will be used to let the declarer of the directive gain access to the
controller of the directive (the basic API of the controller).</p>
</div></td></tr><tr><td>onSaveBegin <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-formcomponent-page"><p><a href="https://docs.angularjs.org/guide/expression">Expression</a> to evaluate upon the
save process starting.</p>
</div></td></tr><tr><td>onSave <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-formcomponent-page"><p><a href="https://docs.angularjs.org/guide/expression">Expression</a> to evaluate upon the save
process successfully completing.</p>
</div></td></tr><tr><td>onSaveError <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-formcomponent-page"><p><a href="https://docs.angularjs.org/guide/expression">Expression</a> to evaluate upon the save
process failing.</p>
</div></td></tr></tbody></table></div>
</div>
