<h1><code ng:non-bindable="">$date</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-factory-page transcend-esri-factory--date-page"><p>The &#39;$date&#39; factory provides multiple methods of modifying the Date into the necessary format for querying or display.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$string">$string</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_$todate">$toDate</h3>
<div class="$todate"><div class="transcend-esri-todate-page"><p>creates Date object of with a value of dateValue</p>
</div><h5 id="properties_$todate_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-esri-todate-page"><p>modified dateValue</p>
</div></td></tr></table></div>
</li>
<li><h3 id="properties_$tomilliseconds">$toMilliseconds</h3>
<div class="$tomilliseconds"><div class="transcend-esri-tomilliseconds-page"><p>creates milliseconds value from a date object</p>
</div><h5 id="properties_$tomilliseconds_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-esri-tomilliseconds-page"><p>modified dateValue time</p>
</div></td></tr></table></div>
</li>
<li><h3 id="properties_isnumericstring">isNumericString</h3>
<div class="isnumericstring"><div class="transcend-esri-factory-page transcend-esri-factory--date-isnumericstring-page"><p>Tests if the date value is a numeric string</p>
</div><h5 id="properties_isnumericstring_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-esri-factory-page transcend-esri-factory--date-isnumericstring-page"><p>flag whether or not dateValue is numeric String</p>
</div></td></tr></table></div>
</li>
<li><h3 id="properties_isnumericstring">isNumericString</h3>
<div class="isnumericstring"><div class="transcend-esri-factory-page transcend-esri-factory--date-isnumericstring-page"><p>Changes numeric String dateValue to a number.</p>
</div><h5 id="properties_isnumericstring_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-factory-page transcend-esri-factory--date-isnumericstring-page"><p>formatted dateValue</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
