<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-export-page"><h2 id="job-module">Job Module</h2>
<p>The &quot;Job&quot; module provides a set of functionality to view and interact with jobs that have been ran. Jobs are typically
long running processes that process data, export images, etc.</p>
<h3 id="job-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-job.git
</code></pre><p>Other options:</p>
<p>Download the code at <a href="http://code.tsstools.com/bower-job/get/master.zip">http://code.tsstools.com/bower-job/get/master.zip</a>
View the repository at <a href="http://code.tsstools.com/bower-job">http://code.tsstools.com/bower-job</a></p>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.job&#39;]);
</code></pre><h3 id="job-module_to-do">To Do</h3>
<ul>
<li>Implement change job expiration.</li>
</ul>
</div></div>
