<h1><code ng:non-bindable="">reportList</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.reporting</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-reporting-directive-page transcend-reporting-directive-reportlist-page"><p>The &#39;reportList&#39; directive provides a user interface that displays a list of available reports for the current
application session.  One or more reports can be selected from the list and operated on using the features provided
in the Navigation Bar.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.reporting.Report">Report</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.$filter">$filter</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;report-list
       report="{Object}"
       param-formatter="{function}"&gt;
&lt;/report-list&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY report-list
     report="{Object}"
     param-formatter="{function}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>report</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-reporting-directive-page transcend-reporting-directive-reportlist-page"><p>The report selected by the user.</p>
</div></td></tr><tr><td>paramFormatter</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-reporting-directive-page transcend-reporting-directive-reportlist-page"><p>The method used to format the report parameters for the report list.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-reporting-directive-page transcend-reporting-directive-reportlist-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js mocks.js" source-edit-html="index.html-36" source-edit-css="" source-edit-js="script.js-37 mocks.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-36" ng-html-wrap-loaded="app angular.js script.js mocks.js"></pre>
<script type="text/ng-template" id="index.html-36">
<div ng-controller="Ctrl as ctrl">
<report-list></report-list>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-37"></pre>
<script type="text/ng-template" id="script.js-37">
angular.module('app', ['ui.bootstrap', 'transcend.reporting', 'ngMockE2E'])
.controller('Ctrl', function() {
 });
</script>
</div>
<div class="tab-pane" title="mocks.js">
<pre class="prettyprint linenums" ng-set-text="mocks.js"></pre>
<script type="text/ng-template" id="mocks.js">
angular.module('app')
.config(function(reportingConfig) {
  reportingConfig.reportList = {
    paramFormatter: function(param){
      if (param && param.name === 'TestParam'){
        param.value = 'Known Input';
        param.hidden = true;
      }
    }
  };
})

.run(function($httpBackend){
  var mocks = [{"name":"Straight Line Diagram","fileName":"ra","description":"Straight Line Diagram (SLD) report snapshot.","category":"ra","app":"","parameters":[{"name":"FromMeasure","type":"Double","value":0.0},{"name":"ToMeasure","type":"Double","value":0.0},{"name":"RepeatingImage","type":"Image"},{"name":"SignImage","type":"Image"},{"name":"RouteId","type":"String","value":""},{"name":"BarLegendImage","type":"Image"},{"name":"StickLegendImage","type":"Image"},{"name":"PageWidth","type":"Double","value":11.0},{"name":"PageHeight","type":"Double","value":8.5},{"name":"Grayscale","type":"Boolean","value":false},{"name":"Scale","type":"Double","value":0.0}]}, {"name":"Test Report (No Params)","fileName":"test","description":"Test report description here.","category":"test","app":"","parameters":[]}, {"name":"Test Report (Formatted Params)","fileName":"test","description":"Test report with formatted params.","category":"test2","app":"","parameters":[{"name":"TestParam","type":"String","value":""}]}];

  // Mock our HTTP calls.
  $httpBackend.whenGET(/api\/report/)
   .respond(angular.copy(mocks));
})
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-36" ng-eval-javascript="script.js-37 mocks.js"></div>
</div></div>
</div>
