<h1><code ng:non-bindable="">UserInfoCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-controller-page transcend-app-controller-userinfoctrl-page"><p>The &#39;UserInfoCtrl&#39; controller handles updating and changing information/permissions in User Accounts</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.$authenticate">$authenticate</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/User">User</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
</ul>
</div>
