<h1><code ng:non-bindable="">MapServer</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-provider-page transcend-esri-provider-mapserver-page"><p>The &#39;MapServer&#39; provider</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$$mapConfig">$$mapConfig</a></code>
</li>
</ul>
</div>
