<h1><code ng:non-bindable="">lrsDataGrid</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.lrs-data-grid</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lrs-data-grid-lrsdatagrid-page"><p>A wrapper for <a href="#/api/transcend.dynamic-grid.dynamicGrid">transcend.dynamic-grid.dynamicGrid</a>, specifically for visualizing data return from esri
MapServer calls.</p>
<p>In the future, this directive will support the retire methodology used in RCE for keeping a history.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/lrsDataGridConfig">lrsDataGridConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transformLrsData">transformLrsData</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;lrs-data-grid
       esri-data="{object}"
       show-controls="{boolean}"
       [esri-map]="{object}"&gt;
&lt;/lrs-data-grid&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>esriData</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-lrs-data-grid-lrsdatagrid-page"><p>The data to visualize -- must be the return from a MapServer query</p>
</div></td></tr><tr><td>showControls</td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-lrs-data-grid-lrsdatagrid-page"><p>Whether or not to show the map controls</p>
</div></td></tr><tr><td>[esriMap]</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-lrs-data-grid-lrsdatagrid-page"><p>The ArcGis JS Api map from which the data was pulled.</p>
</div></td></tr></tbody></table></div>
</div>
