<h1><code ng:non-bindable="">$$layer</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-page transcend-esri--layer-page"><p>The &#39;$$layer&#39; factory</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$protoFactory">$protoFactory</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$array">$array</a></code>
</li>
</ul>
</div>
