<h1><code ng:non-bindable="">AboutCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-controller-page transcend-app-controller-aboutctrl-page"><p>The &#39;AboutCtrl&#39; controller provides control for about pages. The purpose of the about page is to simply display
basic information about the current application. Things like, build date, description, version, etc.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
</ul>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-app-controller-page transcend-app-controller-aboutctrl-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-0" source-edit-css="" source-edit-js="script.js-1" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-0" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-0">
<div ng-include="'web-common/modules/app/about/about.html'"></div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-1"></pre>
<script type="text/ng-template" id="script.js-1">
angular.module('app', ['transcend.app'])
.config(function(appConfig){
 appConfig.version = '1.0.0';
 appConfig.buildDate = 'Monday, December 14th, 2015, 9:57:29 PM';
 appConfig.description = ' Transcend is a geospatial information technology (IT) company specializing in transportation. We have experience leveraging leading commercial GIS and database products and datasets to develop custom applications to meet specific business processes. We also have developed COTS solutions that can be used to jumpstart transportation projects resulting in more stable and cost effective implementations. The Transcend team has worked with many state and local government agencies, as well as private firms, to provide geospatial services. Our depth of experience allows us to deliver performance beyond expectations.';
});
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-0" ng-eval-javascript="script.js-1"></div>
</div></div>
</div>
