<h1><code ng:non-bindable="">$loading</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-core-loading-page"><p>Provides a set of utility functions for use while the application is loading data. These methods are &#39;static&#39;
functions found on the factory object.</p>
<p> <h5 id="description_calling-static-loading-utility-functions">Calling Static Loading Utility Functions</h5>
 <pre class="prettyprint linenums">
 $loading.someMethod(args);
 </pre>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_idle">idle(message)</h3>
<div class="idle"><div class="transcend-core-loading-idle-page"><p>Set the progress to the current progress value, and the message to the one passed in, if any, for the
currently running loading process.</p>
</div><h5 id="methods_idle_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>message</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-loading-idle-page"><p>The message to use for updating the loading process</p>
</div></td></tr></tbody></table><h4 id="methods_idle_example">Example</h4>
<div class="example"><div class="transcend-core-loading-idle-page"><pre class="prettyprint linenums">
// Update a current loading process.
$loading.idle('message1') -- this should fail if there is a saved security key; if not, it should succeed
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_increment">increment(message, securityKey)</h3>
<div class="increment"><div class="transcend-core-loading-increment-page"><p>If the loading process is not locked down, update the ticks, message and progress values for the currently
running loading process.  If updating the ticks causes that value to be greater than the total number of
ticks, then call the stop method.</p>
</div><h5 id="methods_increment_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>message</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-loading-increment-page"><p>The message to display when the loading process is running</p>
</div></td></tr><tr><td>securityKey</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-loading-increment-page"><p>The securityKey, if any, used to determine whether or not the loading process is locked down</p>
</div></td></tr></tbody></table><h4 id="methods_increment_example">Example</h4>
<div class="example"><div class="transcend-core-loading-increment-page"><pre class="prettyprint linenums">
// Increment the values in the loading process.  Assume a valid current security key is saved.
$loading.increment('message1', 'currentSecurityKey') -- this should update the loading process
$loading.increment('message1', 'notCurrentSecurityKey') -- this should fail to update the loading process
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_lockeddown">lockedDown(securityKey)</h3>
<div class="lockeddown"><div class="transcend-core-loading-lockeddown-page"><p>If a securityKey is saved for this session, and if a non-null securityKey is passed in, and that key does not
equal the saved securityKey, then true is returned.
If a securityKey is saved for this session, and if a non-null securityKey is passed in, and that key does equal
the saved securityKey, then false is returned, indicating that the operation is progress can proceed because it
is controlled by the user that locked the loading process.
If no securityKey is saved for this session, and if a non-null securityKey is passed in, the securityKey that
was passed in is saved and false is returned.
if no securityKey is saved for this session, and if no securityKey is passed in, false is returned.</p>
</div><h5 id="methods_lockeddown_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>securityKey</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-loading-lockeddown-page"><p>The securityKey, if any, used to determine whether or not the loading
process is locked down</p>
</div></td></tr></tbody></table><h5 id="methods_lockeddown_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-core-loading-lockeddown-page"><p>Returns true or false based on the rules in the description above</p>
</div></td></tr></table><h4 id="methods_lockeddown_example">Example</h4>
<div class="example"><div class="transcend-core-loading-lockeddown-page"><pre class="prettyprint linenums">
// Check lockedDown status of the loading process
expect($loading.lockedDown('currentSecurityKey')).toEqual(false);
expect($loading.lockedDown('notCurrentSecurityKey')).toEqual(true);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_start">start(totalTicks, message, securityKey)</h3>
<div class="start"><div class="transcend-core-loading-start-page"><p>If the loading process is not locked down, start a new loading process, resetting the message, progress and
total number of ticks values.  This method calls the increment method.</p>
</div><h5 id="methods_start_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>totalTicks</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-core-loading-start-page"><p>The maximum number of ticks allowed for this loading process</p>
</div></td></tr><tr><td>message</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-loading-start-page"><p>The message to display when the loading process is running</p>
</div></td></tr><tr><td>securityKey</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-loading-start-page"><p>The securityKey, if any, used to determine whether or not the loading process is locked down</p>
</div></td></tr></tbody></table><h4 id="methods_start_example">Example</h4>
<div class="example"><div class="transcend-core-loading-start-page"><pre class="prettyprint linenums">
// Start a new loading process, if not locked down.  Assume a valid current security key is saved.
$loading.start(5, 'message1', 'currentSecurityKey') -- this should start a new loading process
$loading.start(5, 'message1', 'notCurrentSecurityKey') -- this should fail to start a new loading process
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_startat">startAt(progress, message, securityKey)</h3>
<div class="startat"><div class="transcend-core-loading-startat-page"><p>If the loading process is not locked down, set a specified progress point message for the currently running
loading process.</p>
</div><h5 id="methods_startat_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>progress</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-core-loading-startat-page"><p>The progress percentage to use for updating the loading process</p>
</div></td></tr><tr><td>message</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-loading-startat-page"><p>The message to display in the loading process</p>
</div></td></tr><tr><td>securityKey</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-loading-startat-page"><p>The securityKey, if any, used to determine whether or not the loading
process is locked down</p>
</div></td></tr></tbody></table><h4 id="methods_startat_example">Example</h4>
<div class="example"><div class="transcend-core-loading-startat-page"><pre class="prettyprint linenums">
// Update a currently running loading process, if not locked down.  Assume a valid current security key is saved.
$loading.startAt(50, 'new message1', 'currentSecurityKey') -- this should update the loading process
$loading.startAt(25, 'new message1', 'notCurrentSecurityKey') -- this should fail to update the loading process
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_stop">stop(securityKey)</h3>
<div class="stop"><div class="transcend-core-loading-stop-page"><p>Stops the loading display, if the loading process is not locked down; otherwise, has no effect.</p>
</div><h5 id="methods_stop_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>securityKey</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-loading-stop-page"><p>The securityKey, if any, used to determine whether or not the loading process is locked down</p>
</div></td></tr></tbody></table><h4 id="methods_stop_example">Example</h4>
<div class="example"><div class="transcend-core-loading-stop-page"><pre class="prettyprint linenums">
// Stop the loading display.  Assume a valid current security key is saved.
$loading.stop('currentSecurityKey') -- this should stop the current loading process
$loading.stop() -- this should fail to stop the current loading process
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
