<h1><code ng:non-bindable="">appConfig</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-appconfig-page"><p>Provides a single configuration object that can be used to change the behaviour, options, urls, etc for any
components in the <a href="#/api/transcend.app">App Module</a>. The &quot;appConfig&quot; object is a
<a href="https://docs.angularjs.org/api/ng/type/angular.Module">module constant</a> and can therefore be
overridden/configured by:</p>
<p>   <pre class="prettyprint linenums">
   // Override the value of the 'appConfig' object.
   angular.module('myApp').value('appConfig', {
      profile: {
        id: 'tss'
      },
      serviceUrl: 'http://localhost/tds',
      version: '__version__',
      buildDate: '__buildDate__',
      description: '__description__',
      usersGuide: 'docs',
      serviceApi: '../../help',
      codeDocumentation: 'code',
      modal: {
        size: 'lg'
      }
   });
   </pre>
</div></div>
</div>
