<h1><code ng:non-bindable="">$resourceList</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.resource</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-resource-resourcelist-page"><p>The &quot;resourceList&quot; factory provides the ability to extend an AngularJS resource result (if it is an array) in order
to provide basic functionality to manipulate, track changes, and sync a list of <a href="https://docs.angularjs.org/api/ngResource/service/$resource">AngularJS resources</a>.</p>
<p> <pre class="prettyprint linenums">
 $scope.list = $resourceList(MyResource.query());
 // Or...
 $scope.list = $resourceList(MyResource); // Will call MyResource.query() internally.
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$resourceList(resource, options);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>resource</td><td><a href="" class="label type-hint type-hint-ng">ng.$resource</a></td><td><div class="transcend-resource-resourcelist-page"><p>An instantiated resource list (from Resource.query() call) or a Resource service. In the
case of the latter, the list will internally call Resource.query().</p>
</div></td></tr><tr><td>options</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-resourcelist-page"><p>Options to configure the behaviour of the instance. Valid options include:</p>
<h6 id="usage_parameters_options">Options</h6>
<ul>
<li><strong>params</strong> - Parameter object to pass when calling &quot;Resource.query(options.params)&quot;.</li>
<li><strong>autoSync</strong> - Flag that determines if the list should automatically save resource changes when they happen or wait
till the &quot;$sync method&quot; is called (false by default).</li>
</ul>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_$add">$add()</h3>
<div class="$add"><div class="transcend-resource-resourcelist-add-page"><p>Adds a new resource to the list of resources. Note, this is the same functionality as
calling the &quot;push&quot; method.</p>
</div><h4 id="methods_$add_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-add-page"><pre class="prettyprint linenums">
var list = $resourceList(...);
list.$add({ name: 'My New Resource' });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_$remove">$remove()</h3>
<div class="$remove"><div class="transcend-resource-resourcelist-remove-page"><p>Removes a resource from the list of resources. When the list&#39;s <a href="#/api/transcend.resource.$resourceList#$sync">$sync</a>
method is called, the resource that was removed from the list will have its &quot;$delete&quot; method called.</p>
</div><h4 id="methods_$remove_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-remove-page"><pre class="prettyprint linenums">
expect(list.length).toEqual(5);
controller.$remove(list[2]);
expect(list.length).toEqual(4);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_$update">$update()</h3>
<div class="$update"><div class="transcend-resource-resourcelist-update-page"><p>Tells the list that a resource has been updated. This will trigger the resource list to copy/clone the
original resource value and then start tracking changes. <strong>Note</strong>, this method must be called prior to
the actual object being updated otherwise the cached &quot;original&quot; value will not be correct. You must use
the &quot;pre-change&quot; directive to call this method in a view to get the resource reference before the ng-model
value changes.</p>
<p>See the <a href="#/api/preChange">preChange directive</a> for an example.</p>
</div><h4 id="methods_$update_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-update-page"><pre class="prettyprint linenums">
var item = resourceList[4];
resourceList.$update(item);
item.value = "456";
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_reload">reload()</h3>
<div class="reload"><div class="transcend-resource-resourcelist-reload-page"><p>Resets any changes to the existing resources and re-queries the resource list to get a new list of
resources.</p>
</div><h4 id="methods_reload_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-reload-page"><pre class="prettyprint linenums">
list.reload();
expect(list.dirty()).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_reset">reset()</h3>
<div class="reset"><div class="transcend-resource-resourcelist-reset-page"><p>Resets any resources in the list that are dirty back to their original state.</p>
</div><h4 id="methods_reset_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-reset-page"><pre class="prettyprint linenums">
resourcesList[4].value = 456;
resourcesList.reset();
expect(resourcesList[4].value).toEqual(123);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_sync">sync()</h3>
<div class="sync"><div class="transcend-resource-resourcelist-sync-page"><p>Saves/syncs all dirty resource&#39;s changes . This will call the appropriate built in resource method on each
of the AngularJS resources in the list to persist the changes ($save, $delete, or create). See the
<a href="https://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> documentation for more
information on the built in resource methods.</p>
</div><h4 id="methods_sync_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-sync-page"><pre class="prettyprint linenums">
myResourceList.$remove(myResourceList[4]);
myResourceList.sync();
expect(myResourceList[4].$delete).toHaveBeenCalled();
</pre>
</div></div>
</div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_changes">changes</h3>
<div class="changes"><div class="transcend-resource-resourcelist-changes-page"><p>An object that holds the list of changed (dirty) resources.</p>
</div><h4 id="properties_changes_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-changes-page"><pre class="prettyprint linenums">
var list = $resourceList(...);
expect(list.changes.adds).toEqual([...]);
expect(list.changes.updates).toEqual([...]);
expect(list.changes.removes).toEqual([...]);
expect(list.changes.all()).toEqual([...]);
</pre>
</div></div>
</div>
</li>
<li><h3 id="properties_clean">clean</h3>
<div class="clean"><div class="transcend-resource-resourcelist-clean-page"><p>A flag that states whether the resource is in a clean state.</p>
</div><h4 id="properties_clean_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-clean-page"><pre class="prettyprint linenums">
var list = $resourceList(...);
expect(list.clean).toEqual(true);
list.$update(...);
expect(list.clean).toEqual(false);
</pre>
</div></div>
</div>
</li>
<li><h3 id="properties_dirty">dirty</h3>
<div class="dirty"><div class="transcend-resource-resourcelist-dirty-page"><p>A flag that states whether the resource is in a dirty state.</p>
</div><h4 id="properties_dirty_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-dirty-page"><pre class="prettyprint linenums">
var list = $resourceList(...);
expect(list.dirty).toEqual(false);
list.$update(...);
expect(list.dirty).toEqual(true);
</pre>
</div></div>
</div>
</li>
<li><h3 id="properties_state">state</h3>
<div class="state"><div class="transcend-resource-resourcelist-state-page"><p>Provides the current state of the resource list. Options include; &#39;clean&#39; or &#39;dirt&#39;.</p>
</div><h4 id="properties_state_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelist-state-page"><pre class="prettyprint linenums">
var list = $resourceList(...);
expect(list.state).toEqual('clean');
list.$update(...);
expect(list.state).toEqual('dirty');
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
