<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-core-page"><h2 id="core-module">Core Module</h2>
<p>The &quot;Core&quot; module is a small library of simple and basic functionality that is commonly used in many applications. The
goal of this module is to provide a small base set of code to build off of. The majority of components in this module
are utilitarian in nature. Many other modules have a dependency on this module. In addition, any common interfaces
are included in this module.</p>
<h3 id="core-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-core.git
</code></pre><p>Other options:</p>
<ul>
<li>Download the code at <a href="http://code.tsstools.com/bower-core/get/master.zip">http://code.tsstools.com/bower-core/get/master.zip</a></li>
<li>View the repository at <a href="http://code.tsstools.com/bower-core">http://code.tsstools.com/bower-core</a></li>
<li>If you have permissions, view the source code at <a href="http://code.tsstools.com/web-common/src/ee541a3bce850ae77f6d7948a00cc352b4f67b21/modules/core/?at=develop">http://code.tsstools.com/web-common</a></li>
</ul>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.core&#39;]);
</code></pre><h3 id="core-module_to-do">To Do</h3>
<ul>
<li>Determine if the <a href="#/api/transcend.core.$array">$array</a>, <a href="#/api/transcend.core.$string">$string</a>, and
<a href="#/api/transcend.core.$object">$object</a> services should be moved into a separate &quot;utils&quot; module.</li>
<li>Implement something similar to $array in the $color factory.</li>
<li>Deprecate the &#39;tsConfig&#39; object once the other modules have been weened off of it.</li>
</ul>
<h3 id="core-module_project-goals">Project Goals</h3>
<ul>
<li>Keep this module size below 10kb minified</li>
</ul>
</div></div>
