<h1><code ng:non-bindable="">lrsValidationGrid</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.lrs-validation-grid</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lrs-validation-grid-lrsvalidationgrid-page"><p>A wrapper for <a href="#/api/transcend.dynamic-grid.dynamicGrid">transcend.dynamic-grid.dynamicGrid</a>, specifically for visualizing and managing conflicts in
segment data.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$string">$string</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/lrsDataGridConfig">lrsDataGridConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transformLrsData">transformLrsData</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/localStorageService">localStorageService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$log">$log</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;lrs-validation-grid
       esri-data="{object}"
       show-controls="{boolean}"
       [map-manager]="{object}"
       zoom-factory="{function}"&gt;
&lt;/lrs-validation-grid&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>esriData</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-lrs-validation-grid-lrsvalidationgrid-page"><p>The data to visualize -- must be the return from a MapServer query</p>
</div></td></tr><tr><td>showControls</td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-lrs-validation-grid-lrsvalidationgrid-page"><p>Whether or not to show the map controls</p>
</div></td></tr><tr><td>[mapManager]</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-lrs-validation-grid-lrsvalidationgrid-page"><p>The RCE MapManager instance</p>
</div></td></tr><tr><td>zoomFactory</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-lrs-validation-grid-lrsvalidationgrid-page"><p>A function which returns a function that zooms the map. It must be a factory so the
scope can be injected into the function it returns</p>
</div></td></tr></tbody></table></div>
</div>
