<h1><code ng:non-bindable="">dateRangePicker</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-directive-page transcend-app-directive-daterangepicker-page"><p>The &#39;dateRangePicker&#39; directive provides the ability to create a datePicker that allows the user to pick
both a From Date and a To Date.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;date-range-picker&gt;
&lt;/date-range-picker&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY date-range-picker&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-app-directive-page transcend-app-directive-daterangepicker-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-2" source-edit-css="" source-edit-js="script.js-3" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-2" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-2">
<div ng-controller="Ctrl as ctrl">
<date-range-picker from-date="ctrl.from" to-date="ctrl.to"></date-range-picker>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-3"></pre>
<script type="text/ng-template" id="script.js-3">
angular.module('app', ['transcend.app'])
.controller('Ctrl', function() {
   this.from = new Date();
   this.to = new Date();
});
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-2" ng-eval-javascript="script.js-3"></div>
</div></div>
</div>
