<h1><code ng:non-bindable="">reportsMenu</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-directive-page transcend-app-directive-reportsmenu-page"><p>The &#39;reportsMenu&#39; directive creates a simple navigation menu item to show the &quot;reports list&quot; component.</p>
<pre class="prettyprint linenums">
 &lt;li class="dropdown" dropdown&gt;
 &lt;a href class="dropdown-toggle" dropdown-toggle&gt;More &lt;b class="caret"&gt;&lt;/b&gt;&lt;/a&gt;
 &lt;ul class="dropdown-menu" role="menu"&gt;
 &lt;li reports-menu&gt;&lt;/li&gt;
 &lt;/ul&gt;
 &lt;/li&gt;
</pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.app.service:$showModal">$showModal</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;reports-menu&gt;
&lt;/reports-menu&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY reports-menu&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-app-directive-page transcend-app-directive-reportsmenu-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js mocks.js" source-edit-html="index.html-10" source-edit-css="" source-edit-js="script.js-11 mocks.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-10" ng-html-wrap-loaded="app angular.js script.js mocks.js"></pre>
<script type="text/ng-template" id="index.html-10">
<div ng-controller="Ctrl as ctrl">
<nav class="navbar navbar-default" role="navigation">
<span class="navbar-brand" >Nav Bar</span>
<ul class="nav navbar-nav main-nav nav-pills">
<li class="dropdown" dropdown>
<a href class="dropdown-toggle" dropdown-toggle><i class="glyphicon glyphicon-plus"></i> More <b class="caret"></b></a>
<ul class="dropdown-menu" role="menu">
<li><a href role="menuitem">Menu Item 1</a></li>
<li reports-menu></li>
<li><a href role="menuitem">Menu Item 1</a></li>
</ul>
</li>
</ul>
</nav>

</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-11"></pre>
<script type="text/ng-template" id="script.js-11">
angular.module('app', ['transcend.app', 'ngMockE2E'])
.controller('Ctrl', function() {
 });
</script>
</div>
<div class="tab-pane" title="mocks.js">
<pre class="prettyprint linenums" ng-set-text="mocks.js"></pre>
<script type="text/ng-template" id="mocks.js">
angular.module('app')
.run(function($httpBackend, $roleManager, appConfig){
  $roleManager.enabled = false;

  var mocks = [{"name":"Straight Line Diagram","fileName":"ra","description":"Straight Line Diagram (SLD) report snapshot.","category":"","app":"","parameters":[{"name":"FromMeasure","type":"Double","value":0.0},{"name":"ToMeasure","type":"Double","value":0.0},{"name":"RepeatingImage","type":"Image"},{"name":"SignImage","type":"Image"},{"name":"RouteId","type":"String","value":""},{"name":"BarLegendImage","type":"Image"},{"name":"StickLegendImage","type":"Image"},{"name":"PageWidth","type":"Double","value":11.0},{"name":"PageHeight","type":"Double","value":8.5},{"name":"Grayscale","type":"Boolean","value":false},{"name":"Scale","type":"Double","value":0.0}]}];

  // Mock our HTTP calls.
  $httpBackend.whenGET('/api/report?category=' + appConfig.profile.id)
   .respond(angular.copy(mocks));
})
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-10" ng-eval-javascript="script.js-11 mocks.js"></div>
</div></div>
</div>
