<h1><code ng:non-bindable="">$symbol</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-service-page transcend-esri-service--symbol-page"><p>Provides a quick and abstract method of creating ESRI symbology. The main use case for this service is
to set the default colors you want in the configuration and then simply call this service to generate
symbol class instances without having to recreate them each time.</p>
<p>Note: When using this service you must include the ESRI ArcGIS JavaScript API.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/dojo">dojo</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/esri">esri</a></code>
<div class="transcend-esri-service-page transcend-esri-service--symbol-page"><p><h5 id="dependencies_calling-static-$symbol-utility-functions">Calling Static $symbol Utility Functions</h5>
<pre class="prettyprint linenums">
// Create a line symbol
var line = $symbol.polyline({polylineWidth: 2, polylineColor: [221, 011, 150]});

//Create a point symbol
var ref = $symbol.point({pointColor:[255, 0, 0], pointSize: 30});

//Create a polygon symbol
var ref = $symbol.polygon({polygonColor: [255, 100, 100], polygonOutlineWidth: 4});
</pre>
<p>See <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> documentation for
details on what methods are natively available to a resource.</p>
</div></li>
</ul>
</div>
