<h1><code ng:non-bindable="">Account</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.security</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-service-page transcend-security-service-account-page"><p>A <a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> to interact with an &quot;Account&quot; entity.
An &quot;Account&quot; entity models a single user account. The purpose of this
<a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> is to provide the necessary
functionality to create users, manage users, authenticate users, etc.</p>
<p> <pre class="prettyprint linenums">
 // Authenticate a user.
 var user = Account.authenticate({ userName: 'rgreen', password: 'abc123' });

 // Retrieve user information.
 user.$userInfo();
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.securityConfig">securityConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$string">$string</a></code>
<div class="transcend-security-service-page transcend-security-service-account-page"><p>See <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> documentation for
details on what methods are natively available to a resource.</p>
</div></li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_authenticate">authenticate(credentials)</h3>
<div class="authenticate"><div class="transcend-security-service-page transcend-security-service-account-authenticate-page"><p>Authenticates a user account with a set of credentials (user name and password) using an HTTP POST request.</p>
</div><h5 id="methods_authenticate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>credentials</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-security-service-page transcend-security-service-account-authenticate-page"><p>The credentials to use to authenticate a user. If an object is passed the object
must have a &#39;userName&#39; property and a &#39;password&#39; property - otherwise if a string is passed than that raw string will
get passed to the authentication REST service.</p>
</div></td></tr></tbody></table><h4 id="methods_authenticate_example">Example</h4>
<div class="example"><div class="transcend-security-service-page transcend-security-service-account-authenticate-page"><pre class="prettyprint linenums">
var account = Account.authenticate({ userName: 'user', password: 'password' });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_changepassword">changePassword()</h3>
<div class="changepassword"><div class="transcend-security-service-page transcend-security-service-account-changepassword-page"><p>Changes a password for a signed-in (already authenticated) user.</p>
</div><h4 id="methods_changepassword_example">Example</h4>
<div class="example"><div class="transcend-security-service-page transcend-security-service-account-changepassword-page"><pre class="prettyprint linenums">
Account.changePassword({
  oldPassword: 'abc123',
  newPassword: 'def456',
  confirmPassword: 'def456'
});
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_forgotpassword">forgotPassword()</h3>
<div class="forgotpassword"><div class="transcend-security-service-page transcend-security-service-account-forgotpassword-page"><p>Send reset password email to an anonymous user with valid username.</p>
</div><h4 id="methods_forgotpassword_example">Example</h4>
<div class="example"><div class="transcend-security-service-page transcend-security-service-account-forgotpassword-page"><pre class="prettyprint linenums">
Account.forgotPassword({
  redirectTo: 'www.example.com',
  userName: 'user',
  client: 'Team'
});
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_register">register(credentials)</h3>
<div class="register"><div class="transcend-security-service-page transcend-security-service-account-register-page"><p>Registers a user account with a set of credentials (user name, password, first name, last name and email)
using an HTTP POST request.</p>
</div><h5 id="methods_register_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>credentials</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-security-service-page transcend-security-service-account-register-page"><p>The credentials to use to register a user. If an object is passed the object
must have a &#39;userName&#39;, &#39;password&#39;, &#39;firstName&#39;, &#39;lastName&#39;, &#39;email&#39; property - otherwise if a string is passed
than that raw string will get passed to the authentication REST service.</p>
</div></td></tr></tbody></table><h4 id="methods_register_example">Example</h4>
<div class="example"><div class="transcend-security-service-page transcend-security-service-account-register-page"><pre class="prettyprint linenums">
var account = Account.register({ userName: 'user', password: 'password' , confirmPassword: 'password', email: 'myemail@mail.com', firstName: 'first', lastName: 'last'});
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_resetpassword">resetPassword()</h3>
<div class="resetpassword"><div class="transcend-security-service-page transcend-security-service-account-resetpassword-page"><p>Resets a password for a given username for an anonymous user.</p>
</div><h4 id="methods_resetpassword_example">Example</h4>
<div class="example"><div class="transcend-security-service-page transcend-security-service-account-resetpassword-page"><pre class="prettyprint linenums">
Account.resetPassword({
  resetToken: 'AQAANCabcXYZ%',
  userName: 'user',
  newPassword: 'abc123',
  client: 'Team'
});
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_signout">signOut()</h3>
<div class="signout"><div class="transcend-security-service-page transcend-security-service-account-signout-page"><p>Signs out an authenticated user. This will invalidate the user&#39;s token on the backend server.</p>
</div><h4 id="methods_signout_example">Example</h4>
<div class="example"><div class="transcend-security-service-page transcend-security-service-account-signout-page"><pre class="prettyprint linenums">
var account = Account.authenticate({ userName: 'user', password: 'password' });

Account.signOut(account);
// or...
account.$signOut();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_userinfo">userInfo()</h3>
<div class="userinfo"><div class="transcend-security-service-page transcend-security-service-account-userinfo-page"><p>Gets user information for an authenticated user. Such details may include:</p>
<ul>
<li>Id</li>
<li>User Name</li>
<li>Roles</li>
<li>Email</li>
<li>Contact Info</li>
</ul>
</div><h4 id="methods_userinfo_example">Example</h4>
<div class="example"><div class="transcend-security-service-page transcend-security-service-account-userinfo-page"><pre class="prettyprint linenums">
// Need to have an authenticated user first.
var account = Account.authenticate({ userName: 'user', password: 'password' });

Account.userInfo(account);
// or...
account.$userInfo();

// The account object will become the response of the user info call.
expect(account.email).toEqual('user@tssgis.com);
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
