<h1><code ng:non-bindable="">featureSelection</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-directive-page transcend-esri-directive-featureselection-page"><p>The &#39;featureSelection&#39; directive provides a subset of tools to enable the selection of features for the specified map layers and enables
highlighting of selected features.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/esriConfig">esriConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$array">$array</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$arcgis">$arcgis</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/esri">esri</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/dojo">dojo</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;feature-selection
       basemap="{string}"
       on-change="{function}"&gt;
&lt;/feature-selection&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY feature-selection
     basemap="{string}"
     on-change="{function}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>basemap</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-featureselection-page"><p>The basemap active for the current session. Valid options are: &quot;hybrid&quot;, &quot;streets&quot;,
&quot;satellite&quot;, &quot;topo&quot;, &quot;gray&quot;, &quot;oceans&quot;, &quot;national-geographic&quot;, &quot;osm&quot;</p>
</div></td></tr><tr><td>onChange</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-esri-directive-page transcend-esri-directive-featureselection-page"><p>The method used to change the basemap in the map display.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-esri-directive-page transcend-esri-directive-featureselection-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-32" source-edit-css="" source-edit-js="script.js-33" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-32" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-32">
<link rel="stylesheet" href="http://js.arcgis.com/3.7/js/esri/css/esri.css">
<div ng-controller="Ctrl">
<esri-map center="center" zoom="zoom" style="position:relative">
<div style="position:absolute; left: 10px; bottom: 10px;">
<basemap-selector basemap="selection.basemap"></basemap-selector>
</div>
</esri-map>

<hr>
<label>
Basemap:
<select ng-model="selection.basemap" ng-options="bm for bm in basemaps"></select>

</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-33"></pre>
<script type="text/ng-template" id="script.js-33">
angular.module('app', ['transcend.esri'])
.controller('Ctrl', function($scope) {
       $scope.selection = {};
       $scope.basemaps = ['hybrid', 'streets', 'satellite', 'topo', 'gray', 'oceans', 'national-geographic', 'osm'];
     });
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-32" ng-eval-javascript="script.js-33"></div>
</div></div>
</div>
