<h1><code ng:non-bindable="">anyChart</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.anychart</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-anychart-directive-page transcend-anychart-directive-anychart-page"><p>The &#39;AnyChart&#39; directive provides the ability to create &quot;AnyChart&quot; graphs and charts and bind to dynamic data.</p>
<p>Note: You need the AnyChart license file and chart configurations to use AnyChart.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core:tsConfig">tsConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.anychart:$anyChart">$anyChart</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;any-chart
       [pie="{bool}"]
       [gauge="{bool}"]
       [column="{bool}"]
       [config="{string}"]
       data="{string}"&gt;
&lt;/any-chart&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY any-chart
     [pie="{bool}"]
     [gauge="{bool}"]
     [column="{bool}"]
     [config="{string}"]
     data="{string}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pie <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-bool">bool</a></td><td><div class="transcend-anychart-directive-page transcend-anychart-directive-anychart-page"><p>Flag to determine if the chart should be of type &#39;pie&#39;.</p>
</div></td></tr><tr><td>gauge <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-bool">bool</a></td><td><div class="transcend-anychart-directive-page transcend-anychart-directive-anychart-page"><p>Flag to determine if the chart should be of type &#39;gauge&#39;.</p>
</div></td></tr><tr><td>column <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-bool">bool</a></td><td><div class="transcend-anychart-directive-page transcend-anychart-directive-anychart-page"><p>Flag to determine if the chart should be of type &#39;column&#39;.</p>
</div></td></tr><tr><td>config <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-anychart-directive-page transcend-anychart-directive-anychart-page"><p>Path to the configuration to use to build the chart. This configuration xml holds information
like series colors, labels, etc.</p>
</div></td></tr><tr><td>data</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-anychart-directive-page transcend-anychart-directive-anychart-page"><p>Data object to use to populate the chart/grid.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-anychart-directive-page transcend-anychart-directive-anychart-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html" source-edit-css="" source-edit-js="script.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html">
<div ng-controller="Ctrl">
<button class="btn btn-primary" ng-click="pieValue=browserData">Show Browser Data</button>
<button class="btn btn-primary" ng-click="pieValue=osData">Show Operating System Data</button>
<any-chart pie data="pieValue" title="3D Pie Chart" height="350px"></any-chart>

<hr/>

<label>
Gauge Value:
<input type="number" ng-model="gaugeValue" step="1" min="0" max="100" />
</label>
<any-chart gauge data="gaugeValue" title="Percentage Gauge Chart" height="350px"></any-chart>

<hr/>

<button class="btn btn-primary" ng-click="columnValue=browserData">Show Browser Data</button>
<button class="btn btn-primary" ng-click="columnValue=osData">Show Operating System Data</button>
<any-chart column data="columnValue" title="3D Column Chart" height="350px"></any-chart>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js"></pre>
<script type="text/ng-template" id="script.js">
angular.module('app', ['transcend.anychart'])

.value('tsConfig', {
  // Override the default XML locations for this "example" code.
  anyChart: {
    pie: {
      config: './mocks/anychart/config/pie-chart-3d.xml'
    },
    gauge: {
      config: './mocks/anychart/config/percentage-gauge.xml'
    },
    column: {
      config: './mocks/anychart/config/column-chart-3d.xml'
    }
  }
})

.controller('Ctrl', function($scope) {
   $scope.browserData = [{key: 'Chrome', value: 65}, {key: 'Firefox', value: 30}, {key: 'IE', value: 5}];
   $scope.osData = [{key: 'Windows', value: 45}, {key: 'Linux', value: 10}, {key: 'Mac IOS', value: 45}];
   $scope.pieValue = $scope.browserData;
   $scope.columnValue = $scope.osData;
   $scope.gaugeValue = 77;
 });
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html" ng-eval-javascript="script.js"></div>
</div></div>
</div>
