<h1><code ng:non-bindable="">transformLrsData</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.lrs-data-grid</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lrs-data-grid-directive-page transcend-lrs-data-grid-directive-transformlrsdata-page"><p>The &#39;transformLrsData&#39; factory provides methods for transforming LRS data into the dynamic-grid format.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.core.$string">$string</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transformLrsDataConfig">transformLrsDataConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">transformLrsData(esriData, injections);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>esriData</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-lrs-data-grid-directive-page transcend-lrs-data-grid-directive-transformlrsdata-page"><p>the raw esri Data</p>
</div></td></tr><tr><td>injections</td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-lrs-data-grid-directive-page transcend-lrs-data-grid-directive-transformlrsdata-page"><p>flag to check to see if additional attributes are applied</p>
</div></td></tr></tbody></table></div>
</div>
