<h1><code ng:non-bindable="">$showModal</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-service-page transcend-app-service--showmodal-page"><p>The &#39;$showModal&#39; service provides a quick way to pop open a bootstrap modal, using default configuration. It also
provides a more flexible manner of passing configuration to the modal. In addition, if you omit a controller
parameter it will use a default controller function with the &#39;ok&#39;, &#39;close&#39;, and &#39;cancel&#39; methods available on
the scope.</p>
<p> <pre class="prettyprint linenums">
 $showModal('web-common/modules/my-view.html', 'MyCtrl', true);

 $showModal('web-common/modules/my-view.html');

 $showModal({
   templateUrl: 'web-common/modules/my-view.html',
   controller: 'MyCtrl',
   backdrop: true,
   keyboard: false
 });
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$modal">$modal</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$showModal(template[, controller][, strict]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>template</td><td><a href="" class="label type-hint type-hint-string">string</a><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-app-service-page transcend-app-service--showmodal-page"><p>The URL to the template or the complete configuration object.</p>
</div></td></tr><tr><td>controller <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-app-service-page transcend-app-service--showmodal-page"><p>The controller name of function.</p>
</div></td></tr><tr><td>strict <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-app-service-page transcend-app-service--showmodal-page"><p>Whether to allow clicking in the modal backdrop to close it or not (strict mode).</p>
</div></td></tr></tbody></table></div>
</div>
