<h1><code ng:non-bindable="">roles</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.security</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-directive-page transcend-security-directive-roles-page"><p>The &#39;roles&#39; directive provides a simple way to define an HTML element as having a particular role id. The directive
will then automatically hide/show the HTML depending on whether the signed in user has privileges to view that role.</p>
<p>Note: This hide/showing of content depending on roles prevents the user from seeing the content but does not
provide a secure application by itself - the REST services that these components interact with must have their own
security implementation. In other words, since the client side code is just JavaScript anyone can manipulate the code
or DOM to show/hide what they would like - so the true security must happen on the REST services.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$parse">$parse</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.securityConfig">securityConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.$roleManager">$roleManager</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY roles="{Array}"
     roles-pass="{expression}"
     roles-fail="{expression}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>roles</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-security-directive-page transcend-security-directive-roles-page"><p>The roles/role ids that the user must have in order to view the HTML. The roles can be passed in
as comma-delimited or pipe-delimited. When passing a comma-delimited list the roles logic will use an &quot;AND&quot; operator,
while the pipe-delimited list will use an &quot;OR&quot; operator.
 <h5 id="usage_parameters_roles-using-&quot;and&quot;">Roles Using &quot;AND&quot;</h5>
 <pre class="prettyprint linenums">
 &lt;div roles="1,2,3"&gt;
 The user must have all three roles; 1, 2, and 3 in order to view this div.
 &lt;/div&gt;
 </pre>
 <h5 id="usage_parameters_roles-using-&quot;or&quot;">Roles Using &quot;OR&quot;</h5>
 <pre class="prettyprint linenums">
 &lt;div roles="1|2|3"&gt;
 The user can have role ids of either 1, 2, 3 in order to view this div.
 &lt;/div&gt;
 </pre>
</div></td></tr><tr><td>rolesPass</td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="transcend-security-directive-page transcend-security-directive-roles-page"><p>An expression to evaluate when roles pass for the given &quot;roles&quot;.
<pre class="prettyprint linenums">
&lt;div roles="1,2,3" roles-pass="pass"&gt;&lt;/div&gt;

&lt;div ng-if="pass"&gt;
Congratulations! You have access.
&lt;/div&gt;
</pre>
</div></td></tr><tr><td>rolesFail</td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="transcend-security-directive-page transcend-security-directive-roles-page"><p>An expression to evaluate when roles fail for the given &quot;roles&quot;.
<pre class="prettyprint linenums">
&lt;div roles="1,2,3" roles-fail="fail"&gt;&lt;/div&gt;

&lt;div ng-if="fail"&gt;
Sorry! You do not have access.
&lt;/div&gt;
</pre>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-security-directive-page transcend-security-directive-roles-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-44" source-edit-css="" source-edit-js="script.js-45" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-44" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-44">
<div ng-controller="Ctrl">
<h3 id="example_roles-example">Roles Example</h3>

<label>
User Role IDs:
<input type="text" ng-model="roleIds" ng-change="setRoles()" placeholder="Example: 1,2,3" />
</label>

<div class="row-fluid">
<div roles="1,2,3" class="span3" style="background-color: #ffc4c4;"><strong>roles="1,2,3"</strong><br/>Must Have Roles 1,2, and 3</div>
<div roles="5" class="span3" style="background-color: #ffdc9d;"><strong>roles="5"</strong><br/>Must Have Role 5</div>
<div roles="1|5|10" class="span3" style="background-color: #c5ecc5;"><strong>roles="1|5|10"</strong><br/>Must Have Roles 1,5, or 10</div>
<div class="span3" style="background-color: #c4c4ff;"><strong>roles=""</strong><br/>No Roles Required (always visible)</div>
</div>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-45"></pre>
<script type="text/ng-template" id="script.js-45">
angular.module('app', ['transcend.security'])

.value('securityConfig', {
  roleManager: {
    roleIds: [1,2,3,4,5]
  }
})

.controller('Ctrl', function($scope, $roleManager, securityConfig) {
   $scope.roleIds = $roleManager.roleIds();
   $scope.setRoles = function () {
     $roleManager.roles($scope.roleIds);
   };
 });
</script>
</div>
</div><h4 id="example_roles-example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-44" ng-eval-javascript="script.js-45"></div>
</div></div>
</div>
