<h1><code ng:non-bindable="">time</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.diagnostics</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-diagnostics-time-page"><p>Provides a filter to show milliseconds in human readable text.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$time">$time</a></code>
<div class="transcend-diagnostics-time-page"><pre class="prettyprint linenums">
var timeFilter = $filter('elapsed');
expect(timeFilter(100)).toEqual('100 ms');
expect(timeFilter(1000)).toEqual('1 sec');
</pre>
</div></li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> time_expression | time <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('time')()</code>
</div>
</div>
</div>
