<h1><code ng:non-bindable="">Email</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.notify</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-notify-service-page transcend-notify-service-email-page"><p>A <a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> that provides the ability to
construct and send emails - either as a POST or GET request.</p>
<p> <pre class="prettyprint linenums">
 Email.sendPost({to:'me@mail.com', subject:'subject', body:'hello'});
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/nnResource.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/tsConfig">tsConfig</a></code>
<div class="transcend-notify-service-page transcend-notify-service-email-page"><p>See <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> documentation for
details on what methods are natively available to a resource.</p>
</div></li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_send">send(params)</h3>
<div class="send"><div class="transcend-notify-service-page transcend-notify-service-email-send-page"><p>Sends an email via a GET request.</p>
</div><h5 id="methods_send_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>params</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-notify-service-page transcend-notify-service-email-send-page"><p>The email parts, such as from, to, subject, body, etc.</p>
</div></td></tr></tbody></table><h4 id="methods_send_example">Example</h4>
<div class="example"><div class="transcend-notify-service-page transcend-notify-service-email-send-page"><pre class="prettyprint linenums">
Email.send({to:'me@mail.com', subject:'subject', body:'hello'});
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_sendpost">sendPost(params)</h3>
<div class="sendpost"><div class="transcend-notify-service-page transcend-notify-service-email-sendpost-page"><p>Authenticates a user account with a set of credentials (user name and password) using an HTTP POST request.</p>
</div><h5 id="methods_sendpost_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>params</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-notify-service-page transcend-notify-service-email-sendpost-page"><p>The email parts, such as from, to, subject, body, etc.</p>
</div></td></tr></tbody></table><h4 id="methods_sendpost_example">Example</h4>
<div class="example"><div class="transcend-notify-service-page transcend-notify-service-email-sendpost-page"><pre class="prettyprint linenums">
Email.sendPost({to:'me@mail.com', subject:'subject', body:'hello'});
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
