<h1><code ng:non-bindable="">logTree</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.diagnostics</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-diagnostics-directive-page transcend-diagnostics-directive-logtree-page"><p>The &#39;logTree&#39; directive provides a simple interactive tree structure to view your nested logs.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$compile">$compile</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY log-tree
     tree-model="{object}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>treeModel</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-diagnostics-directive-page transcend-diagnostics-directive-logtree-page"><p>Nested log object (natively built by the $log service).</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-diagnostics-directive-page transcend-diagnostics-directive-logtree-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-24" source-edit-css="" source-edit-js="script.js-25" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-24" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-24">
<div ng-controller="Ctrl">
<input type="text" ng-model="logMsg" />
<select ng-model="logType">
<option value="debug">Debug</option>
<option value="info">Info</option>
<option value="warn">Warn</option>
<option value="error">Error</option>
</select>
<button class="btn btn-primary" ng-click="log[logType](logMsg)">Log It!</button>
<div log-tree tree-model="log.logs" filter="search"></div>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-25"></pre>
<script type="text/ng-template" id="script.js-25">
angular.module('app', ['transcend.diagnostics'])
.controller('Ctrl', function($scope, $log) {
   // Create some initial logs.
   var start1 = $log.start('Loading application').last,
     start2 = $log.start('Rendered 5 views').last;

   $log.info('Rendered view 1');
   $log.error('Failed to render view 2');
   $log.debug('Rendered view 3')
   $log.warn('Almost rendered view 4')
   $log.log('Rendered view 5')

   $log.stop(start2);
   $log.stop(start1);

   // Set defaults.
   $scope.logMsg = 'Test Log Message'
   $scope.logType = 'error';

   // Expose the log object.
   $scope.log = $log;
});
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-24" ng-eval-javascript="script.js-25"></div>
</div></div>
</div>
