<h1><code ng:non-bindable="">inlineAccountMgr</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-directive-page transcend-app-directive-inlineaccountmgr-page"><p>The &#39;inline account manager&#39; directive creates a simple wrapper for the
<a href="#/api/transcend.security.directive:inlineUserSignIn">Inline User Sign In Directive</a>, which has all of the necessary
hooks and actions to support managing a user&#39;s account - including changing password, forgot password, update
info, etc.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.app.service:$showModal">$showModal</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;inline-account-mgr&gt;
&lt;/inline-account-mgr&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY inline-account-mgr&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-app-directive-page transcend-app-directive-inlineaccountmgr-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js mocks.js" source-edit-html="index.html-14" source-edit-css="" source-edit-js="script.js-15 mocks.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-14" ng-html-wrap-loaded="app angular.js script.js mocks.js"></pre>
<script type="text/ng-template" id="index.html-14">
<div ng-controller="Ctrl">
<nav class="navbar navbar-default" role="navigation">
<inline-account-mgr on-success="onSuccess(user, manual)" on-fail="onFail()"></inline-account-mgr>
</nav>
Enter a user name of: <strong>rgreen</strong><br/>
Enter a password of: <strong>abc123</strong>
<hr/>
<div ng-style="style">{{message}}</div>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-15"></pre>
<script type="text/ng-template" id="script.js-15">
angular.module('app', ['transcend.app', 'ngMockE2E'])
.run(function($roleManager, $authenticate){
 $authenticate.rememberMe = false;
 $roleManager.enabled = false;
})

.controller('Ctrl', function($scope, $authenticate) {
   $scope.onSuccess = function(user, manual) {
     $scope.message = 'Congratulations ' + user.firstName + '! You have successfully signed in.';
     $scope.style = {color: 'green'};
   };

   $scope.onFail = function() {
     $scope.message = 'Sorry! Your credentials were not valid.';
     $scope.style = {color: 'red'};
   };
});
</script>
</div>
<div class="tab-pane" title="mocks.js">
<pre class="prettyprint linenums" ng-set-text="mocks.js"></pre>
<script type="text/ng-template" id="mocks.js">
angular.module('app')
.run(function($httpBackend){
  // Mock our HTTP calls.
  $httpBackend.whenPOST('/token', 'grant_type=password&username=rgreen&password=abc123')
   .respond({"access_token":"test-token","token_type":"bearer","expires_in":7775999,"id":"b6aad2d8-2fdd-4b07-91f9-ada394f1ee95","userName":"rgreen","roles":"","email":"","firstName":"Rusty","lastName":"Green",".issued":"Mon, 17 Aug 2015 17:03:31 GMT",".expires":"Sun, 15 Nov 2015 17:03:31 GMT"});

  $httpBackend.whenPOST('/token', /^(?!.*grant_type=password&username=rgreen&password=abc123)/)
   .respond(400, {"error":"invalid_grant","error_description":"The user name ('siteadmin') or password is incorrect."});

  $httpBackend.whenPOST('/api/account/signout')
   .respond();

  $httpBackend.whenPOST('/api/account/forgotpassword')
   .respond(function(method,url,data,header){
     console.log('Recieved data: ', method,url,data,header);
   });

  $httpBackend.whenPOST('/api/account/resetpassword')
   .respond(function(method,url,data,header){
     console.log('Recieved data: ', method,url,data,header);
   });
})
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-14" ng-eval-javascript="script.js-15 mocks.js"></div>
</div></div>
</div>
