<h1><code ng:non-bindable="">jobList</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.job</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-job-directive-page transcend-job-directive-joblist-page"><p>The &#39;jobList&#39; directive allows the viewing, and editing of jobs.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$interval">$interval</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core#$notify">core#$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.job#jobconfig">job#jobConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.job#job">job#Job</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">jobList([api][, columns][, hideColumns][, tags][, autoRefresh]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>api <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-job-directive-page transcend-job-directive-joblist-page"><p>Api object to bind to in order to gain access to directive functionality.</p>
</div></td></tr><tr><td>columns <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-job-directive-page transcend-job-directive-joblist-page"><p>Mapping of column names to visibility. This setting is used to specify exactly what
columns you want shown/hidden.</p>
</div></td></tr><tr><td>hideColumns <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-job-directive-page transcend-job-directive-joblist-page"><p>Comma separated list of columsn to hide (based on the default column visibilities).</p>
</div></td></tr><tr><td>tags <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-job-directive-page transcend-job-directive-joblist-page"><p>Tags to query on - when querying the server for a list of jobs.</p>
</div></td></tr><tr><td>autoRefresh <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-job-directive-page transcend-job-directive-joblist-page"><p>Determines whether to periodically poll the server for job list changes.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-job-directive-page transcend-job-directive-joblist-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js mocks.js" source-edit-html="index.html-34" source-edit-css="" source-edit-js="script.js-35 mocks.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-34" ng-html-wrap-loaded="app angular.js script.js mocks.js"></pre>
<script type="text/ng-template" id="index.html-34">
<div ng-controller="Ctrl as ctrl">
<job-list columns="ctrl.columns" on-query="ctrl.onQuery(jobs)"  query-params="{appId: ctrl.appConfig.appId, profileId:ctrl.appConfig.profile.id, ignoreOwner: true}"></job-list>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-35"></pre>
<script type="text/ng-template" id="script.js-35">
angular.module('app', ['ui.bootstrap', 'transcend.job', 'ngMockE2E'])
.controller('Ctrl', function() {
    this.columns = {
     job: true,
     status: true,
     appId: false,
     owner: true,
     startDate: true,
     endDate: false,
     elapsedTime: true,
     expires: true,
     action: false,
     comments: false
   };

   this.onQuery = function(jobs){
     console.log('Queried ' + jobs.length + ' jobs.');
   };
 });
</script>
</div>
<div class="tab-pane" title="mocks.js">
<pre class="prettyprint linenums" ng-set-text="mocks.js"></pre>
<script type="text/ng-template" id="mocks.js">
angular.module('app')
.run(function($httpBackend){
  var mocks = [{"recordCount":108,"filePath":"E:\\output\\08ec8274-2d0d-4cfa-aea5-a60bccf6aa18.sdf","id":"08ec8274-2d0d-4cfa-aea5-a60bccf6aa18","appId":"sa","ownerUserName":"TSS\\rgreen","startDate":"2015-07-23T07:19:16.22","endDate":"2015-07-23T07:19:16.767","neverExpires":true,"expirationDate":"2015-08-06T07:19:16.767","description":"Basic Merge of 2 events against 3 routes","message":"Running Analysis...","status":3,"progress":62, "comment":"Test Comment"},{"recordCount":30,"filePath":"E:\\output\\5f5b9087-f8fc-4437-b4b9-6b65ebc26303.sdf","id":"5f5b9087-f8fc-4437-b4b9-6b65ebc26303","appId":"sa","ownerUserName":"TSS\\yluo","startDate":"2015-07-23T07:15:14.373","endDate":"2015-07-23T07:15:14.657","neverExpires":false,"expirationDate":"2015-08-06T07:15:14.657","description":"Advanced Query of 2 events against 1 routes","message":"Analysis complete","status":5,"progress":100},{"recordCount":30,"filePath":"E:\\output\\a66e65f0-9867-4aa0-9b2a-8f79bcd5686a.sdf","id":"a66e65f0-9867-4aa0-9b2a-8f79bcd5686a","appId":"sa","ownerUserName":"TSS\\yluo","startDate":"2015-07-23T07:15:05.813","endDate":"","neverExpires":false,"expirationDate":"2015-08-06T07:15:06.11","description":"Advanced Query of 2 events against 1 routes","message":"Analysis Cancelled","status":6,"progress":32},{"recordCount":0,"filePath":"E:\\output\\65438db6-3284-489b-8da5-1031d5a854c8.sdf","id":"65438db6-3284-489b-8da5-1031d5a854c8","appId":"sa","ownerUserName":"siteadmin","startDate":"2015-07-23T05:07:05.483","endDate":"2015-07-23T05:07:07.747","neverExpires":false,"expirationDate":"2015-08-06T05:07:07.747","description":"Advanced Query of 2 events against 1 routes","message":"Queried selected route ids","errorMessage":"Failed to run bulk analysis for route list '025A...025A', Details: { Failed to analyze event layers for route id '025A', Details: { Event operator is invalid for LRSE_ACCESS :  } }","status":7,"progress":5},{"recordCount":0,"filePath":"E:\\output\\978e964d-ef85-49a7-8690-44f4623bcdda.sdf","id":"978e964d-ef85-49a7-8690-44f4623bcdda","appId":"sa","ownerUserName":"siteadmin","startDate":"2015-07-23T05:05:35.137","endDate":"2015-07-23T05:05:39.78","neverExpires":false,"expirationDate":"2015-08-06T05:05:39.78","description":"Advanced Query of 2 events against 2 routes","message":"Queried selected route ids","errorMessage":"Failed to run bulk analysis for route list '025A...025A_DEC', Details: { Failed to analyze event layers for route id '025A', Details: { Event operator is invalid for LRSE_ACCESS :  } }","status":7,"progress":5},{"recordCount":59,"filePath":"E:\\output\\25e82277-144a-462b-8a4e-bbccb4081a57.sdf","id":"25e82277-144a-462b-8a4e-bbccb4081a57","appId":"sa","ownerUserName":"siteadmin","startDate":"2015-07-23T04:54:22.293","endDate":"2015-07-23T04:54:24.62","neverExpires":false,"expirationDate":"","description":"Advanced Query of 2 events against 2 routes","message":"Analysis complete","status":5,"progress":100}];

  // Mock our HTTP calls.
  $httpBackend.whenGET(/api\/job\?/)
   .respond(angular.copy(mocks));
})
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-34" ng-eval-javascript="script.js-35 mocks.js"></div>
</div></div>
</div>
