<h1><code ng:non-bindable="">resizeModal</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-directive-page transcend-app-directive-resizemodal-page"><p>The &#39;resizeModal&#39; directive allows the modal window to have a toggleable full screen option. The component is
typically used within the &#39;modal-header&#39; portion of a modal.</p>
<pre class="prettyprint linenums">
 &lt;div class="modal-header text-center"&gt;
  &lt;resize-modal close="close()"&gt;&lt;/resize-modal&gt;
  &lt;h1&gt;About&lt;/h1&gt;
 &lt;/div&gt;

 &lt;div class="modal-body"&gt;&lt;/div&gt;
 &lt;div class="modal-footer"&gt;&lt;/div&gt;
</pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;resize-modal
       [state="{string}"]
       [maximized="{string}"]
       [close="{function}"]
       [on-resize="{function}"]&gt;
&lt;/resize-modal&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY resize-modal
     [state="{string}"]
     [maximized="{string}"]
     [close="{function}"]
     [on-resize="{function}"]&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>state <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-app-directive-page transcend-app-directive-resizemodal-page"><p>The default state to start at. Valid values are: &#39;&#39; or &#39;maximized&#39;.</p>
</div></td></tr><tr><td>maximized <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-app-directive-page transcend-app-directive-resizemodal-page"><p>Flag determining whether the modal size should be maximized or not.</p>
</div></td></tr><tr><td>close <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-app-directive-page transcend-app-directive-resizemodal-page"><p>Expression fired when &quot;close&quot; button is clicked.</p>
</div></td></tr><tr><td>onResize <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-app-directive-page transcend-app-directive-resizemodal-page"><p>Expression fired when the modal state is changed/toggled.</p>
</div></td></tr></tbody></table></div>
</div>
