<h1><code ng:non-bindable="">$authenticate</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.security</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-authenticate-page"><p>Provides an interface for authenticating (singing in) a user as well as signing out a user. The $authenticate service
will handling the token based authentication as well as setting the appropriate roles on the
<a href="#/api/$roleManager">role manager</a>. The actual HTTP request will be made through the
<a href="#/api/transcend.security.Account#authenticate">Account&#39;s authenticate method</a>.</p>
<p>   <pre class="prettyprint linenums">
   // Sign in (the service will handle the token and setting roles):
   $authenticate({ username: 'user', password: 'password' })
   .then(successCallback, failCallback);

   // Sing out (the service will handle removing the token and roles):
   $authenticate.signOut();
   </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$log">$log</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$loading">$loading</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.$roleManager">$roleManager</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.Account">Account</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$authenticate(credentials);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>credentials</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-security-authenticate-page"><p>The credentials to use to authenticate a user. If an object is passed the object
must have a &#39;userName&#39; property and a &#39;password&#39; property - otherwise if a string is passed than that raw string will
get passed to the authentication REST service.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_loadlocaltoken">loadLocalToken()</h3>
<div class="loadlocaltoken"><div class="transcend-security-authenticate-loadlocaltoken-page"><p>Loads the token from local storage if the token exists in local storage - this requires that the user has
opted to &quot;remember me&quot; and the browser supports local storage. If there is no token, or the token has
expired, then no action will take place.</p>
</div><h4 id="methods_loadlocaltoken_example">Example</h4>
<div class="example"><div class="transcend-security-authenticate-loadlocaltoken-page"><pre class="prettyprint linenums">
$authenticate.loadLocalToken();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_signout">signOut()</h3>
<div class="signout"><div class="transcend-security-authenticate-signout-page"><p>Signs an authenticated user out. This will reset the $authenticate service and the <a href="#/api/$roleManager">$roleManager</a> service
back to their original states.</p>
</div><h4 id="methods_signout_example">Example</h4>
<div class="example"><div class="transcend-security-authenticate-signout-page"><pre class="prettyprint linenums">
$authenticate.signOut();
</pre>
</div></div>
</div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_account">account</h3>
<div class="account"><div class="transcend-security-authenticate-account-page"><p>Object that holds the account information. This includes the token and user details like; user name, email,
first name, last name, etc.</p>
</div><h4 id="properties_account_example">Example</h4>
<div class="example"><div class="transcend-security-authenticate-account-page"><pre class="prettyprint linenums">
expect($authenticate.account.userName).toEqual('rgreen');
expect($authenticate.account.firstName).toEqual('Rusty');
expect($authenticate.account.lastName).toEqual('Green');
</pre>
</div></div>
</div>
</li>
<li><h3 id="properties_isauthenticated">isAuthenticated</h3>
<div class="isauthenticated"><div class="transcend-security-authenticate-isauthenticated-page"><p>Flag that states whether a user has been authenticated or not. If a user has not been authenticated than the
<a href="#/api/transcend.security.$authenticate#account">account</a> property will be empty (or whatever the default is
configured to).</p>
</div><h4 id="properties_isauthenticated_example">Example</h4>
<div class="example"><div class="transcend-security-authenticate-isauthenticated-page"><pre class="prettyprint linenums">
expect($authenticate.isAuthenticated).toBeFalsy();
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
