<h1><code ng:non-bindable="">$app</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-provider-page transcend-app-provider--app-page"><p>The &#39;$app&#39; factory provides functionality to bootstrap (initialize) and application. The intent is that the app
will load a &quot;profile&quot; (configuration entity) either from a REST service or from a JSON file.</p>
<pre class="prettyprint linenums">
 // Configure the application load/module process.
 $appProvider
 .configure({
          app: {
            appId: 'my-app-id',
            serviceUrl: 'http://localhost/tds'
          },
          autoConfigs: [
            'tsConfig',
            'esriConfig',
            'lrsConfig',
            'securityConfig',
            'securityManagerConfig',
            'reportingConfig',
            'lidarConfig',
            'dataSourceConfig',
            'drawingConfig',
            'exportConfig',
            'jobConfig'
          ]
        })
 .waitsFor(myCustomInitializationStep)
 .hooks({configureModules: myConfigureModulesHook, resolve: myOnResolveHook});
</pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$app([config]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>config <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-app-provider-page transcend-app-provider--app-page"><p>A configuration object that represents the &quot;appConfig&quot; or a string which represents
the &quot;appId&quot;.</p>
</div></td></tr></tbody></table></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_config">config</h3>
<div class="config"><div class="transcend-app-provider-page transcend-app-provider--app-config-page"><p>Configuration object on the provider that dictates behaviour and exposes hooks/functionality.
<pre class="prettyprint linenums">
       $appProvider.config = {
            autoConfigs: [],
            hooks: {
              beforeSignIn: noop,
              afterSignIn: noop,
              beforeProfileLoad: noop,
              afterProfileLoad: noop,
              configureModules: noop,
              resolve: noop,
              onRejected: noop
            },
            defaultProfileFlag: 'default'
          };
</pre>
</div></div>
</li>
</ul>
</div>
</div>
