<h1><code ng:non-bindable="">Report</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.reporting</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-reporting-service-page transcend-reporting-service-report-page"><p>Provides a set of &#39;Report&#39; utility functions that in turn invoke functions on the &quot;Reporting Engine&quot; used to create,
view and download reports using application data.
A <a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> to interact with a &quot;Reporting Engine&quot;
entity for data reporting functionality  The purpose of this
<a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> is to provide the necessary
functionality to create, view, edit and download reports.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.reporting.reportingConfig">reportingConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
<div class="transcend-reporting-service-page transcend-reporting-service-report-page"><p><h5 id="dependencies_calling-static-report-utility-functions">Calling Static Report Utility Functions</h5>
<pre class="prettyprint linenums">
var reports = Report.query();
Report.downloadZip(exportType, reports);
</pre>
<p>See <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> documentation for
details on what methods are natively available to a resource.</p>
</div></li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_design">design(report)</h3>
<div class="design"><div class="transcend-reporting-service-page transcend-reporting-service-report-design-page"><p>Opens the report designer window, passing in the Reporting Engine designer url and the list of reports.</p>
</div><h5 id="methods_design_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>report</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-reporting-service-page transcend-reporting-service-report-design-page"><p>The report to be edited</p>
</div></td></tr></tbody></table><h5 id="methods_design_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-reporting-service-page transcend-reporting-service-report-design-page"><p>The reference to the new window</p>
</div></td></tr></table><h4 id="methods_design_example">Example</h4>
<div class="example"><div class="transcend-reporting-service-page transcend-reporting-service-report-design-page"><pre class="prettyprint linenums">
Report.design(report);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_download">download(params, reports)</h3>
<div class="download"><div class="transcend-reporting-service-page transcend-reporting-service-report-download-page"><p>Downloads the reports list to the user&#39;s local computer. If only one report is present in the list, the report
is created using the href method, with the output path from the config file and the filename from the report.
If more than one report is present in the list, the downloadZip method is called, passing in the exportType and
reports list.</p>
</div><h5 id="methods_download_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>params</td><td><a href="" class="label type-hint type-hint-string">string</a><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-reporting-service-page transcend-reporting-service-report-download-page"><p>Type of file to which the data is to be exported (i.e., CSV, PDF,...)</p>
</div></td></tr><tr><td>reports</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="transcend-reporting-service-page transcend-reporting-service-report-download-page"><p>The list of reports to be exported</p>
</div></td></tr></tbody></table><h5 id="methods_download_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-reporting-service-page transcend-reporting-service-report-download-page"><p>The reference to the new window</p>
</div></td></tr></table><h4 id="methods_download_example">Example</h4>
<div class="example"><div class="transcend-reporting-service-page transcend-reporting-service-report-download-page"><pre class="prettyprint linenums">
// Will export a single PDF file.
Report.download({ fileType: 'pdf' }, report);

// Will export a zip file with two PDF files in it.
Report.download({ fileType: exportType }, [report1, report2]);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_view">view(report)</h3>
<div class="view"><div class="transcend-reporting-service-page transcend-reporting-service-report-view-page"><p>Opens the report viewer window, passing in the Reporting Engine view url and the list of reports.</p>
</div><h5 id="methods_view_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>report</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-reporting-service-page transcend-reporting-service-report-view-page"><p>The report to be viewed</p>
</div></td></tr></tbody></table><h5 id="methods_view_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-reporting-service-page transcend-reporting-service-report-view-page"><p>The reference to the new window</p>
</div></td></tr></table><h4 id="methods_view_example">Example</h4>
<div class="example"><div class="transcend-reporting-service-page transcend-reporting-service-report-view-page"><pre class="prettyprint linenums">
Report.view(report)
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
