<h1><code ng:non-bindable="">AccountDialogCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-controller-page transcend-app-controller-accountdialogctrl-page"><p>The &#39;AccountDialogCtrl&#39; controller handles  account dialog menu options, and creates the &#39;My Info&#39; tab, the
&#39;Change Password&#39; tab, and the &#39;My Privileges&#39; tab.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$modalInstance">$modalInstance</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.$authenticate">$authenticate</a></code>
</li>
</ul>
</div>
