<h1><code ng:non-bindable="">preChange</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.resource</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-resource-directive-page transcend-resource-directive-prechange-page"><p>The &#39;preChange&#39; directive provides a way to fire a function when the ng-model value is changed but it will fire
before the actual value has changed - unlike the &quot;ng-change&quot; directive which fires after the model is updated.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ngModel">ngModel</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY pre-change="{expression}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>preChange</td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="transcend-resource-directive-page transcend-resource-directive-prechange-page"><p><a href="https://docs.angularjs.org/guide/expression">Expression</a> to evaluate upon change
in input value.</p>
</div></td></tr></tbody></table></div>
</div>
