<h1><code ng:non-bindable="">dbConnectionsMenu</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-directive-page transcend-app-directive-dbconnectionsmenu-page"><p>The &#39;dbConnectionsMenu&#39; directive creates a simple navigation menu item to show the &quot;db connections manager&quot;
component.</p>
<pre class="prettyprint linenums">
 &lt;li class="dropdown" dropdown&gt;
   &lt;a href class="dropdown-toggle" dropdown-toggle&gt;More &lt;b class="caret"&gt;&lt;/b&gt;&lt;/a&gt;
   &lt;ul class="dropdown-menu" role="menu"&gt;
     &lt;li db-connections-menu&gt;&lt;/li&gt;
   &lt;/ul&gt;
 &lt;/li&gt;
</pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.app.service:$showModal">$showModal</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;db-connections-menu&gt;
&lt;/db-connections-menu&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY db-connections-menu&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-app-directive-page transcend-app-directive-dbconnectionsmenu-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js mocks.js" source-edit-html="index.html-4" source-edit-css="" source-edit-js="script.js-5 mocks.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-4" ng-html-wrap-loaded="app angular.js script.js mocks.js"></pre>
<script type="text/ng-template" id="index.html-4">
<div ng-controller="Ctrl as ctrl">
<nav class="navbar navbar-default" role="navigation">
  <span class="navbar-brand" >Nav Bar</span>
  <ul class="nav navbar-nav main-nav nav-pills">
    <li class="dropdown" dropdown>
     <a href class="dropdown-toggle" dropdown-toggle><i class="glyphicon glyphicon-plus"></i> More <b class="caret"></b></a>
     <ul class="dropdown-menu" role="menu">
       <li><a href role="menuitem">Menu Item 1</a></li>
       <li db-connections-menu></li>
       <li><a href role="menuitem">Menu Item 1</a></li>
      </ul>
    </li>
 </ul>
</nav>

</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-5"></pre>
<script type="text/ng-template" id="script.js-5">
angular.module('app', ['transcend.app', 'ngMockE2E'])
.controller('Ctrl', function() {
 });
</script>
</div>
<div class="tab-pane" title="mocks.js">
<pre class="prettyprint linenums" ng-set-text="mocks.js"></pre>
<script type="text/ng-template" id="mocks.js">
angular.module('app')
.run(function($httpBackend, $roleManager){
  $roleManager.enabled = false;

  var mocks = [{id: 'DefaultConnection', name: 'Default Connection', provider: 'System.Data.SqlServerCe.4.0', connectionString:'Data Source=|DataDirectory|\TDS.sdf'},
             {id: 'MySqlDb', name: 'Sql Server DB', provider: 'System.Data.SqlClient', connectionString:'data source=sql.myhost.com, 1433;initial catalog=MY_CATALOG;persist security info=True;user id=suer;password=password'},
             {id: 'MyOracleDb', name: 'Oracle DB', provider: 'System.Data.OracleClient', connectionString:'Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle.myhost.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=MY_SERVICE)));User Id=user;Password=password;'}];

  // Mock our HTTP calls.
  $httpBackend.whenGET('/api/data/source')
   .respond(angular.copy(mocks));

  angular.forEach(mocks, function(mock){
    $httpBackend.whenGET('/api/data/source/' + mock.id)
     .respond(angular.copy(mock));

    $httpBackend.whenPOST('/api/data/source/test/' + mock.id)
     .respond({"passed":true,"message":"Connection was successful","provider":mock.provider});
  });
})
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-4" ng-eval-javascript="script.js-5 mocks.js"></div>
</div></div>
</div>
