<h1><code ng:non-bindable="">DrawingInfo</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-service-page transcend-esri-service-drawinginfo-page"><p>The &#39;DrawingInfo&#39; factory returns methods</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.core.$string">$string</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$class">$class</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$color">$color</a></code>
</li>
</ul>
</div>
