<h1><code ng:non-bindable="">$roleManager</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.security</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-rolemanager-page"><p>Provides functionality to store and manage user roles. The main purpose of this service is to provide a simple
interface to determine if a given role is valid for the stored roles in the role manager. The role manager will let
you validate roles based on an &quot;and&quot; or &quot;or&quot; operator.</p>
<p> <pre class="prettyprint linenums">
 $roleManager(credentials);
 </pre>
<p>See the <a href="#/api/transcend.security.directive:roles">roles directive</a> for an interactive example.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$log">$log</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.securityConfig">securityConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$array">$array</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$roleManager(credentials);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>credentials</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-security-rolemanager-page"><p>The credentials to use to authenticate a user. If an object is passed the object
must have a &#39;userName&#39; property and a &#39;password&#39; property - otherwise if a string is passed than that raw string will
get passed to the authentication REST service.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_clearroles">clearRoles()</h3>
<div class="clearroles"><div class="transcend-security-rolemanager-clearroles-page"><p>Clears the stored roles and resets the manager to its original state. This function will also fire a
&#39;roles-changed&#39; event.</p>
</div><h4 id="methods_clearroles_example">Example</h4>
<div class="example"><div class="transcend-security-rolemanager-clearroles-page"><pre class="prettyprint linenums">
// Set roles.
$roleManager.roles([1,2,3]);

// Clear roles.
$roleManager.clearRoles();
expect($roleManager.roles().length).toEqual(0);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_configure">configure(configuration)</h3>
<div class="configure"><div class="transcend-security-rolemanager-configure-page"><p>Configures the default roles for the role manager. These roles will be what get set after
<a href="#/api/transcend.security.$roleManager#clearroles">transcend.security.$roleManager#clearRoles</a> is called.</p>
</div><h5 id="methods_configure_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configuration</td><td><a href="" class="label type-hint type-hint-array">Array</a><a href="" class="label type-hint type-hint-string">String</a><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-security-rolemanager-configure-page"><p>The configuration (roles) to set as defaults. An array of roles, a
string of roles, or an object with a &#39;roleIds&#39; property can be passed in.</p>
</div></td></tr></tbody></table><h4 id="methods_configure_example">Example</h4>
<div class="example"><div class="transcend-security-rolemanager-configure-page"><pre class="prettyprint linenums">
// Configure the default roles.
$roleManager.configure([1,2,3]);

// Set the roles to something else.
$roleManager.roles([4,5,6]);

// Clear the roles, and the roles will be reset to the defaults.
$roleManager.clearRoles();
expect($roleManager.roles()).toEqual([1,2,3]);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_hasrole">hasRole(role)</h3>
<div class="hasrole"><div class="transcend-security-rolemanager-hasrole-page"><p>Determines if the passed in role has permissions based on the stored roles.</p>
<p>Note, if the <a href="#/api/transcend.security.$roleManager#enabled">enabled</a> property is set to false than this method
will always return true.</p>
<p>See the <a href="#/api/transcend.security.directive:roles">roles directive</a> for an interactive example.</p>
</div><h5 id="methods_hasrole_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>role</td><td><a href="" class="label type-hint type-hint-string">String</a><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-security-rolemanager-hasrole-page"><p>A role or role id to validate against the stored roles.</p>
</div></td></tr></tbody></table><h4 id="methods_hasrole_example">Example</h4>
<div class="example"><div class="transcend-security-rolemanager-hasrole-page"><pre class="prettyprint linenums">
// Set role ids.
$roleManager.roles([1,2,3]);

expect($roleManager.hasRole(1)).toBeTruthy();
expect($roleManager.hasRole(9)).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_hasroles">hasRoles(roles, allInclusive)</h3>
<div class="hasroles"><div class="transcend-security-rolemanager-hasroles-page"><p>Determines if the passed in set of roles has permissions based on the stored roles. This is the same
functionality as the {link transcend.security.$roleManager#hasRole &quot;hasRole&quot; method} except it allows you to
pass multiple roles to check against, as well as an &quot;all inclusive&quot; flag to state whether to use an &quot;and&quot; or &quot;or&quot;
operator when checking roles.</p>
<p>If you pass a string you can specify the &quot;all inclusive&quot; flag to false by separating the role values with a
pipe (|).</p>
<p>Note, if the <a href="#/api/transcend.security.$roleManager#enabled">enabled</a> property is set to false than this method
will always return true.</p>
<p>See the <a href="#/api/transcend.security.directive:roles">roles directive</a> for an interactive example.</p>
</div><h5 id="methods_hasroles_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>roles</td><td><a href="" class="label type-hint type-hint-string">String</a><a href="" class="label type-hint type-hint-number">Number</a><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-security-rolemanager-hasroles-page"><p>A set of roles to validate against the stored roles.</p>
</div></td></tr><tr><td>allInclusive</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-security-rolemanager-hasroles-page"><p>Flag to determine if to use the &quot;and&quot; or &quot;or&quot; operator. If true is passed in than
the &quot;and&quot; operator will be used. If no value is passed in than it will look for a pipe (|) in the passed in roles
and will use &quot;or&quot; if it finds one - otherwise it will default to &quot;and&quot;.
       <pre class="prettyprint linenums">
       // Will return true if role 1 or 2 or 3 are in the stored roles.
       $roleManager.hasRoles('1|2|3'));

       // Will return true if role 1 and 2 and 3 are all in the stored roles.
       $roleManager.hasRoles('1,2,3'));
       </pre>
</div></td></tr></tbody></table><h4 id="methods_hasroles_example">Example</h4>
<div class="example"><div class="transcend-security-rolemanager-hasroles-page"><pre class="prettyprint linenums">
// Set role ids.
$roleManager.roles(['Admin','User', 'Guest']);

// Will use the "and" operator:
expect($roleManager.hasRoles(['Admin', 'User'])).toBeTruthy();
expect($roleManager.hasRoles('Admin, User')).toBeTruthy();
expect($roleManager.hasRoles('Admin User Guest')).toBeTruthy();

// Will use the "or" operator
expect($roleManager.hasRoles('Admin|SuperUser')).toBeTruthy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_roleids">roleIds(roleIds)</h3>
<div class="roleids"><div class="transcend-security-rolemanager-roleids-page"><p>Gets and/or sets role ids. If a value is passed in it will set role ids to the value, otherwise it will only
return the stored role ids.</p>
</div><h5 id="methods_roleids_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>roleIds</td><td><a href="" class="label type-hint type-hint-array">Array</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-security-rolemanager-roleids-page"><p>An array or comma separated string or role ids to set as the stored role ids.</p>
</div></td></tr></tbody></table><h4 id="methods_roleids_example">Example</h4>
<div class="example"><div class="transcend-security-rolemanager-roleids-page"><pre class="prettyprint linenums">
// Set role ids.
$roleManager.roleIds([1,2,3]);

// Get role ids.
expect($roleManager.roleIds()).toEqual([1,2,3]);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_roles">roles(roles)</h3>
<div class="roles"><div class="transcend-security-rolemanager-roles-page"><p>Gets and/or sets roles. If a value is passed in it will set role ids to the value, otherwise it will only
return the stored roles. This function will also update the role ids based on the passed in roles.</p>
</div><h5 id="methods_roles_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>roles <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-array">Array</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-security-rolemanager-roles-page"><p>An array or comma separated string or roles to set as the stored roles.</p>
</div></td></tr></tbody></table><h4 id="methods_roles_example">Example</h4>
<div class="example"><div class="transcend-security-rolemanager-roles-page"><pre class="prettyprint linenums">
// Set role ids.
$roleManager.roles([{id: 1},{id: 2},{id: 3}]);

// Get roles.
expect($roleManager.roles()).toEqual([{id: 1},{id: 2},{id: 3}]);

// Setting the roles also updates the role ids.
expect($roleManager.roleIds()).toEqual([1,2,3]);
</pre>
</div></div>
</div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_enabled">enabled</h3>
<div class="enabled"><div class="transcend-security-rolemanager-enabled-page"><p>Flag that states whether the role manager is enabled or not. If it is not enable than all has role calls will
always return true. By default this property is set to true.</p>
</div><h4 id="properties_enabled_example">Example</h4>
<div class="example"><div class="transcend-security-rolemanager-enabled-page"><pre class="prettyprint linenums">
$roleManager.enabled = false;
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
