<h1><code ng:non-bindable="">$protoFactory</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-core-protofactory-page"><p>the &#39;$protoFactory&#39; factory adds prototype methods to classes.</p>
</div></div>
</div>
