<h1><code ng:non-bindable="">$array</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-core-array-page"><p>Provides a set of &#39;array&#39; utility functions. These methods are &#39;static&#39; functions found on the
factory object. In addition, you can call the factory function to retrieve an instantiated &#39;array&#39;
utility instance. This instance has all of the same methods that the static &#39;factory&#39; object has,
except you do not have to pass in the &#39;array&#39; reference to the function. The point of the instantiable
&#39;array&#39; utility is to cache a particular item and execute multiple calls on that item without having
to pass the item reference in each time.</p>
<p> <h5 id="description_calling-static-array-utility-functions">Calling Static Array Utility Functions</h5>
 <pre class="prettyprint linenums">
 $array.someMethod(arrayReference, args);
 </pre>
<p> <h5 id="description_instantiating-an-array-utility">Instantiating an Array Utility</h5>
 <pre class="prettyprint linenums">
 // By instantiating an "Array" utility we cache the array reference in the
 // instance and therefore do not pass that array reference to any of the calls.
 var util = $array(arrayReference);
 util.someMethod(args);
 util.someOtherMethod(otherArgs);
 </pre>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$array([cachedItem]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cachedItem <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-page"><p>The array that you want to &#39;cache&#39; to perform operations against.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_containsall">containsAll(source, items)</h3>
<div class="containsall"><div class="transcend-core-array-containsall-page"><p>Determines if an array contains all of the items passed in as arguments.</p>
</div><h5 id="methods_containsall_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>source</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-containsall-page"><p>The source array to check against.</p>
</div></td></tr><tr><td>items</td><td><a href="" class="label type-hint type-hint-array">Array</a><a href="" class="label type-hint type-hint-object">...*</a></td><td><div class="transcend-core-array-containsall-page"><p>The items to check if they are present in the source array.</p>
</div></td></tr></tbody></table><h5 id="methods_containsall_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-core-array-containsall-page"><p>If the source array contains all of the items passed in.</p>
</div></td></tr></table><h4 id="methods_containsall_example">Example</h4>
<div class="example"><div class="transcend-core-array-containsall-page"><pre class="prettyprint linenums">
expect($array.containsAll([1, 2, 3], 1, 2, 3)).toBeTruthy();
expect($array.containsAll([1, 2, 3], [1, 2, 3])).toBeTruthy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_containsany">containsAny(source, items)</h3>
<div class="containsany"><div class="transcend-core-array-containsany-page"><p>Determines if an array contains any of the items passed in as arguments.</p>
</div><h5 id="methods_containsany_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>source</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-containsany-page"><p>The source array to check against.</p>
</div></td></tr><tr><td>items</td><td><a href="" class="label type-hint type-hint-array">Array</a><a href="" class="label type-hint type-hint-object">...*</a></td><td><div class="transcend-core-array-containsany-page"><p>The items to check if they are present in the source array.</p>
</div></td></tr></tbody></table><h5 id="methods_containsany_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-core-array-containsany-page"><p>If the source array contains any of the items passed in.</p>
</div></td></tr></table><h4 id="methods_containsany_example">Example</h4>
<div class="example"><div class="transcend-core-array-containsany-page"><pre class="prettyprint linenums">
expect($array.containsAll([1, 2, 3], 8, 3, 9)).toBeTruthy();
expect($array.containsAll([1, 2, 3], [8, 3, 9])).toBeTruthy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_count">count(source, filter)</h3>
<div class="count"><div class="transcend-core-array-count-page"><p>Returns the length of an array given a filter - the length after applying the filter.</p>
</div><h5 id="methods_count_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>source</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-count-page"><p>The source array to get the count on.</p>
</div></td></tr><tr><td>filter</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="transcend-core-array-count-page"><p>The filter function to limit the array by.</p>
</div></td></tr></tbody></table><h5 id="methods_count_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-core-array-count-page"><p>The array length after the filter is applied.</p>
</div></td></tr></table><h4 id="methods_count_example">Example</h4>
<div class="example"><div class="transcend-core-array-count-page"><pre class="prettyprint linenums">
expect($array.count([1, 2, 3], function (item) {
    return item &gt; 1;
  })).toEqual(2);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_findbyid">findById(list, value, field)</h3>
<div class="findbyid"><div class="transcend-core-array-findbyid-page"><p>Retrieves an item in an array based on the value of a specified property. The default property is &#39;id&#39;.</p>
</div><h5 id="methods_findbyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>list</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-findbyid-page"><p>The array to search for the item in.</p>
</div></td></tr><tr><td>value</td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-core-array-findbyid-page"><p>The value of the property to search on.</p>
</div></td></tr><tr><td>field</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-array-findbyid-page"><p>The field to search on. The default value is &#39;id&#39;.</p>
</div></td></tr></tbody></table><h5 id="methods_findbyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">*|undefined</a></td><td><div class="transcend-core-array-findbyid-page"><p>The found object or undefined if no object found.</p>
</div></td></tr></table><h4 id="methods_findbyid_example">Example</h4>
<div class="example"><div class="transcend-core-array-findbyid-page"><p><h7 id="methods_findbyid_example_finding-by-the-default-id-property">Finding by the Default &#39;id&#39; Property</h7>
<pre class="prettyprint linenums">
expect($array.findById([ {id: 1}, {id: 2}, {id: 3}], 2)).toEqual({id: 2});
</pre>
<p><h7 id="methods_findbyid_example_finding-by-a-specified-property">Finding by a Specified Property</h7>
<pre class="prettyprint linenums">
var item = $array.findById([{foo: 9}, {foo: 8}, {foo: 7}], 7, 'foo');
expect(item).toEqual({foo: 7});
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_frommap">fromMap(src, keyField, valueField)</h3>
<div class="frommap"><div class="transcend-core-array-frommap-page"><p>Converts an object into a simple key/value pair dictionary array.</p>
</div><h5 id="methods_frommap_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>src</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-array-frommap-page"><p>The source object to use to create the key/value array from.</p>
</div></td></tr><tr><td>keyField <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-array-frommap-page"><p>The field to use for the key property.</p>
</div></td></tr><tr><td>valueField <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-array-frommap-page"><p>The field to use for the value property.</p>
</div></td></tr></tbody></table><h5 id="methods_frommap_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-frommap-page"><p>An array of key/value pairs - based on the key/value field passed in.</p>
</div></td></tr></table><h4 id="methods_frommap_example">Example</h4>
<div class="example"><div class="transcend-core-array-frommap-page"><pre class="prettyprint linenums">
var map = {e: 'e', f: false, g: null};
expect($array.fromMap(map)).toEqual([
{key: 'e', value: 'e'},{key: 'f', value: false},{key: 'g', value: null}
]);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_isarray">isArray(value)</h3>
<div class="isarray"><div class="transcend-core-array-isarray-page"><p>Determines if a reference is an &#39;Array&#39;.</p>
</div><h5 id="methods_isarray_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-core-array-isarray-page"><p>Reference to check.</p>
</div></td></tr></tbody></table><h5 id="methods_isarray_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-core-array-isarray-page"><p>True if &#39;value&#39; is an &#39;Array&#39;.</p>
</div></td></tr></table><h4 id="methods_isarray_example">Example</h4>
<div class="example"><div class="transcend-core-array-isarray-page"><pre class="prettyprint linenums">
expect($array.isArray([])).toBeTruthy();
expect($array.isArray({})).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_max">max(source)</h3>
<div class="max"><div class="transcend-core-array-max-page"><p>Returns the maximum value in the Array.</p>
</div><h5 id="methods_max_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>source</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-max-page"><p>The Array from which to select the maximum value.</p>
</div></td></tr></tbody></table><h5 id="methods_max_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-core-array-max-page"><p>The maximum value in the source array.</p>
</div></td></tr></table><h4 id="methods_max_example">Example</h4>
<div class="example"><div class="transcend-core-array-max-page"><pre class="prettyprint linenums">
expect($array.max([1, 2, 3, 4, 20, 5, 6, 7, -5])).toEqual(20);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_merge">merge(destination, source, mergeArraysPropertyIdentifier)</h3>
<div class="merge"><div class="transcend-core-array-merge-page"><p>Merges objects of two arrays. If the values are primitive it will concatenate them onto the
destination array. If they are object&#39;s it will merge the two object&#39;s properties.</p>
</div><h5 id="methods_merge_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>destination</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-merge-page"><p>The array to merge into.</p>
</div></td></tr><tr><td>source</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-merge-page"><p>The array to merge from.</p>
</div></td></tr><tr><td>mergeArraysPropertyIdentifier</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-array-merge-page"><p>The identifier to determine if an object in the source array is
the same as an object in the destination array. The default value of is &#39;id&#39;.</p>
</div></td></tr></tbody></table><h4 id="methods_merge_example">Example</h4>
<div class="example"><div class="transcend-core-array-merge-page"><p><h7 id="methods_merge_example_merging-primitive-values">Merging Primitive Values</h7>
<pre class="prettyprint linenums">
var destination = [2, 4, 6, 8];
$array.merge(destination, [1, 3, 5, 7]);
expect(destination).toEqual([2, 4, 6, 8, 1, 3, 5, 7]);
</pre>
<p><h7 id="methods_merge_example_merging-objects-by-default-id-property">Merging Objects by Default &#39;id&#39; Property</h7>
<pre class="prettyprint linenums">
var destination = [{id: 1},{id: 2, x: 9, y: 7}];
$array.merge(destination, [{id: 2, x: 10, z: 2},{id: 3}]);

expect(destination).toEqual([{id: 1},{id: 2, x: 10, y: 7, z: 2},{id: 3}]);
</pre>
<p><h7 id="methods_merge_example_merging-objects-by-specified-property">Merging Objects by Specified Property</h7>
<pre class="prettyprint linenums">
var destination = [{name: 'one'},{x: 9, y: 7, name: 'two'}];
$array.merge(destination, [{x: 10, z: 2, name: 'two'},{name: 'three'}], 'name');

expect(destination).toEqual([
{name:'one'},
{x:10, y:7, z:2, name:'two'},
{name:'three'}
]);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_min">min(source)</h3>
<div class="min"><div class="transcend-core-array-min-page"><p>Returns the minimum value in an array.</p>
</div><h5 id="methods_min_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>source</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-min-page"><p>The Array from which to select the minimum value.</p>
</div></td></tr></tbody></table><h5 id="methods_min_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-core-array-min-page"><p>The minimum value in the source array.</p>
</div></td></tr></table><h4 id="methods_min_example">Example</h4>
<div class="example"><div class="transcend-core-array-min-page"><pre class="prettyprint linenums">
expect($array.min([1, 2, 3, 4, 5, 6, 7, -5, 20])).toEqual(-5);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_pluck">pluck(array, propertyName)</h3>
<div class="pluck"><div class="transcend-core-array-pluck-page"><p>Plucks the value of a property from each item in the Array.</p>
</div><h5 id="methods_pluck_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>array</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-pluck-page"><p>The Array of items to pluck the value from.</p>
</div></td></tr><tr><td>propertyName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-array-pluck-page"><p>The property name to pluck from each element.</p>
</div></td></tr></tbody></table><h5 id="methods_pluck_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-pluck-page"><p>The value from each item in the Array.</p>
</div></td></tr></table><h4 id="methods_pluck_example">Example</h4>
<div class="example"><div class="transcend-core-array-pluck-page"><pre class="prettyprint linenums">
// Note that the 3rd item in the array does not have an id property and is therefore skipped.
expect($array.pluck([{id: 1}, {id: 2}, {name: 5}, {id: 3}], 'id')).toBeEqual([1,2,3]);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_sortbyproperty">sortByProperty(source, property)</h3>
<div class="sortbyproperty"><div class="transcend-core-array-sortbyproperty-page"><p>Used as a comparison function to sort an array of objects on a specified property. Sorting can be set to be
ascending or descending. Sorting default is ascending. To sort descending add a minus prefix to the passed
property name string, e.g &#39;-propertyName&#39;.</p>
</div><h5 id="methods_sortbyproperty_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>source</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-sortbyproperty-page"><p>The array to sort on.</p>
</div></td></tr><tr><td>property</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-array-sortbyproperty-page"><p>The property to sort on. Prefix the property with a negative to sort descending. The
default value for this property is &#39;order&#39;.</p>
</div></td></tr></tbody></table><h5 id="methods_sortbyproperty_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-transcend">transcend.core.$array</a></td><td><div class="transcend-core-array-sortbyproperty-page"><p>The instance of $array (for chaining).</p>
</div></td></tr></table><h4 id="methods_sortbyproperty_example">Example</h4>
<div class="example"><div class="transcend-core-array-sortbyproperty-page"><p><h7 id="methods_sortbyproperty_example_sort-by-default-order-property">Sort by Default &#39;order&#39; Property</h7>
<pre class="prettyprint linenums">
source = [{order: 3}, {order: 1}, {order: 5}];
$array.sortByProperty(source);
expect(source).toEqual([{order: 1}, {order: 3}, {order: 5}]);
</pre>
<p><h7 id="methods_sortbyproperty_example_sort-ascending-by-x-property">Sort Ascending by &#39;x&#39; Property</h7>
<pre class="prettyprint linenums">
var source = [{x: 3}, {x: 1}, {x: 5}];
$array.sortByProperty(source, 'x');
expect(source).toEqual([{x: 1}, {x: 3}, {x: 5}]);
</pre>
<p><h7 id="methods_sortbyproperty_example_sort-descending-by-x-property">Sort Descending by &#39;x&#39; Property</h7>
<pre class="prettyprint linenums">
var source = [{x: 3}, {x: 1}, {x: 5}];
$array.sortByProperty(source, '-x'); // Prefix with '-' for descending.
expect(source).toEqual([{x: 1}, {x: 3}, {x: 5}]);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_tomap">toMap(src, keyProperty, value)</h3>
<div class="tomap"><div class="transcend-core-array-tomap-page"><p>Converts an array to an object (key/value pair).</p>
</div><h5 id="methods_tomap_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>src</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-tomap-page"><p>The source array to build a dictionary from.</p>
</div></td></tr><tr><td>keyProperty</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-array-tomap-page"><p>The element property value to be used as the dictionary key.</p>
</div></td></tr><tr><td>value <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-core-array-tomap-page"><p>If provided, sets the dictionary item value to the specified property value, otherwise the
item value will be the input array&#39;s element</p>
</div></td></tr></tbody></table><h5 id="methods_tomap_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-array-tomap-page"><p>Returns an object with each input array element as a property value and each property named
with the specified keyProp property&#39;s value.</p>
</div></td></tr></table><h4 id="methods_tomap_example">Example</h4>
<div class="example"><div class="transcend-core-array-tomap-page"><pre class="prettyprint linenums">
// Map an array of objects by the 'z' property.
var input = [{x: "value1a", y: "value1b", z: "value1c"}, {x: "value2a", y: "value2b", z: "value2c"}, {x: "value3a", y: "value3b", z: "value3c"}];

// The array will be turned into a dictionary based on the 'z' property.
expect($array.toMap(input)).toEqual({
    value1c: {x: "value1a", y: "value1b", z: "value1c"},
    value2c: {x: "value2a", y: "value2b", z: "value2c"},
    value3c: {x: "value3a", y: "value3b", z: "value3c"}
  });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_unique">unique(items, filterOn)</h3>
<div class="unique"><div class="transcend-core-array-unique-page"><p>Creates a new array with unique values from the source array. The unique values can be configured
to look at a specific property and will accept nested properties within an object (ex: &#39;x.y.z&#39;).</p>
</div><h5 id="methods_unique_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>items</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-array-unique-page"><p>The array of items to be filtered.</p>
</div></td></tr><tr><td>filterOn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-array-unique-page"><p>The attributes, if applicable, to filter the array by.</p>
</div></td></tr></tbody></table><h5 id="methods_unique_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array|undefined</a></td><td><div class="transcend-core-array-unique-page"><p>Returns the array of filtered items based off the given attribute.</p>
</div></td></tr></table><h4 id="methods_unique_example">Example</h4>
<div class="example"><div class="transcend-core-array-unique-page"><p><h7 id="methods_unique_example_filtering-on-primitive-types">Filtering on Primitive Types</h7>
<pre class="prettyprint linenums">
expect($array.unique(['one', 'one', 'two'])).toEqual(['one', 'two']);
</pre>
<p><h7 id="methods_unique_example_filtering-on-single-level-objects">Filtering on Single-Level Objects</h7>
<pre class="prettyprint linenums">
// Will filter on a single-level object.
expect($array.unique([{x:1}, {x:1}, {x:2}])).toEqual([{x:1}, {x:2}]);
</pre>
<p><h7 id="methods_unique_example_filtering-on-multi-level-objects">Filtering on Multi-Level Objects</h7>
<pre class="prettyprint linenums">
expect($array.unique([
{attributes:{x:1, y:2}},
{attributes:{x:1, y:2}},
{attributes:{x:2, y:2}}
], 'attributes.x')
.toEqual([
{attributes:{x:1, y:2}},
{attributes:{x:2, y:2}}]
);
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
