<h1><code ng:non-bindable="">resolvedFilter</code>
<div><span class="hint">filter in module <code ng:non-bindable="">transcend.lrs-data-grit</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lrs-data-grit-filter-page transcend-lrs-data-grit-filter-resolvedfilter-page"><p>The &#39;resolvedFilter&#39;</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> resolvedFilter_expression | resolvedFilter <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('resolvedFilter')()</code>
</div>
</div>
</div>
