<h1><code ng:non-bindable="">$download</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.export</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-export-download-page"><p>The &#39;$download&#39; service provides the ability to download content. It is specifically useful to initiate a download
of a file across all major browsers. The problem is that you can not initiate a download of a file directly from
client side code in all browsers (IE in particular). This service will upload the content by submitting it as a form,
behind the scenes, and initiating a download on the response.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$document">$document</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$log">$log</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$string">$string</a></code>
<div class="transcend-export-download-page"><pre class="prettyprint linenums">
// Auto-detect format from extension.
$download({}, 'my-file.json');       // -&gt; downloads: 'my-file.json'
$download('foo,bar', 'my-file.csv'); // -&gt; downloads: 'my-file.csv'
$download('foo', 'my-file.txt');     // -&gt; downloads: 'my-file.txt'

// Specifically specify a format/extension type.
$download.json({}, 'my-file');       // -&gt; downloads: 'my-file.json'
$download.csv('foo,bar', 'my-file'); // -&gt; downloads: 'my-file.csv'
$download.txt('foo', 'my-file');     // -&gt; downloads: 'my-file.txt'
</pre>
</div></li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$download(data[, file][, type][, mediaType][, disposition][, method]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-export-download-page"><p>The data/content to download.</p>
</div></td></tr><tr><td>file <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-download-page"><p>The name of the file to download. This can include an extension, but doesn&#39;t have to.</p>
</div></td></tr><tr><td>type <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-download-page"><p>The type of download (csv, json, txt, etc).</p>
</div></td></tr><tr><td>mediaType <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-download-page"><p>The media-type that wil be used in the response header (text/csv, json/application, etc).
This is optional and if left blank will be populated based on the passed in &#39;type&#39; or &#39;extension&#39;.</p>
</div></td></tr><tr><td>disposition <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-download-page"><p>The disposition text to send back in the header.</p>
</div></td></tr><tr><td>method <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-download-page"><p>The type of method the form should submit. By default it is a &#39;POST&#39;.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_csv">csv(data, fileOrExt)</h3>
<div class="csv"><div class="transcend-export-download-csv-page"><p>Downloads content specifically as &#39;csv&#39; media type. If an object is passed in it will be serialized to csv.</p>
</div><h5 id="methods_csv_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-export-download-csv-page"><p>The data/content to download.</p>
</div></td></tr><tr><td>fileOrExt <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-download-csv-page"><p>The name of the file to download. This can include an extension, but doesn&#39;t have to.</p>
</div></td></tr></tbody></table><h4 id="methods_csv_example">Example</h4>
<div class="example"><div class="transcend-export-download-csv-page"><pre class="prettyprint linenums">
$download.csv({}, 'my-file');
$download.csv('foo,bar', 'my-file')
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_json">json(data, fileOrExt)</h3>
<div class="json"><div class="transcend-export-download-json-page"><p>Downloads content specifically as &#39;JSON&#39; media type. If an object is passed in it will be serialized to JSON.</p>
</div><h5 id="methods_json_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-export-download-json-page"><p>The data/content to download.</p>
</div></td></tr><tr><td>fileOrExt <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-download-json-page"><p>The name of the file to download. This can include an extension, but doesn&#39;t have to.</p>
</div></td></tr></tbody></table><h4 id="methods_json_example">Example</h4>
<div class="example"><div class="transcend-export-download-json-page"><pre class="prettyprint linenums">
$download.json({}, 'my-file');
$download.json('{}', 'my-file')
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_txt">txt(data, fileOrExt)</h3>
<div class="txt"><div class="transcend-export-download-txt-page"><p>Downloads content specifically as &#39;text&#39; media type. If an object is passed in it will use the string
representation of the object (toString method).</p>
</div><h5 id="methods_txt_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-export-download-txt-page"><p>The data/content to download.</p>
</div></td></tr><tr><td>fileOrExt <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-download-txt-page"><p>The name of the file to download. This can include an extension, but doesn&#39;t have to.</p>
</div></td></tr></tbody></table><h4 id="methods_txt_example">Example</h4>
<div class="example"><div class="transcend-export-download-txt-page"><pre class="prettyprint linenums">
$download.txt({}, 'my-file');
$download.txt('foo', 'my-file')
</pre>
</div></div>
</div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_filename">fileName</h3>
<div class="filename"><div class="transcend-export-filename-page"><p>Gets a file name based on a given file name with or without an extension. This will essentially extract the
extension and use it if it finds one, otherwise add a default extension to it.</p>
</div><h5 id="properties_filename_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-export-filename-page"><p>The file name.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
