<h1><code ng:non-bindable="">dataLayerPrivilegeManager</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.security-manager</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-manager-directive-page transcend-security-manager-directive-datalayerprivilegemanager-page"><p>The &#39;roleFinder&#39; directive provides an HTML element that can be used to display and select a role returned from the the Role service. The directive
will utilize a dropdown select box to display the current roles.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;data-layer-privilege-manager&gt;
&lt;/data-layer-privilege-manager&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY data-layer-privilege-manager&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
