<h1><code ng:non-bindable="">$svgCanvasGroup</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.drawing</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-drawing-service-page transcend-drawing-service--svgcanvasgroup-page"><p>The &#39;$svgCanvasGroup&#39; factory adds properties to the SVG Canvas.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
</ul>
</div>
