<h1><code ng:non-bindable="">$connectionTest</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.data-source</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-data-source-service-page transcend-data-source-service--connectiontest-page"><p>The &#39;$connectionTest&#39; factory provides the ability to test database connections</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/DataSource">DataSource</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_success">success</h3>
<div class="success"><div class="transcend-data-source-service-page transcend-data-source-service--connectiontest-success-page"><p>Tests whether or not the database connection is valid/successful.</p>
</div><h5 id="properties_success_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-data-source-service-page transcend-data-source-service--connectiontest-success-page"><p>returns success or failure.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
