<h1><code ng:non-bindable="">dbConnectionList</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.data-source</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-data-source-directive-page transcend-data-source-directive-dbconnectionlist-page"><p>The &#39;dbConnectionList&#39; service</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend-core#$notify">transcend-core#$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend-resource#$resourcelistcontroller">transcend-resource#$resourceListController</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.data-source#$connectiontest">data-source#$connectionTest</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.data-source#datasourceproviders">data-source#dataSourceProviders</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$array">$array</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/DataSource">DataSource</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY db-connection-list
     [api="{object}"]
     [editable="{boolean}"]
     [on-save-begin="{function}"]
     [on-save="{function}"]
     [on-save-error="{function}"]&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>api <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-data-source-directive-page transcend-data-source-directive-dbconnectionlist-page"><p>Api object to bind to in order to gain access to directive functionality.</p>
</div></td></tr><tr><td>editable <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-data-source-directive-page transcend-data-source-directive-dbconnectionlist-page"><p>Determines whether the list will allow for editing data sources or not.</p>
</div></td></tr><tr><td>onSaveBegin <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-data-source-directive-page transcend-data-source-directive-dbconnectionlist-page"><p>Fired when the save process has begun.</p>
</div></td></tr><tr><td>onSave <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-data-source-directive-page transcend-data-source-directive-dbconnectionlist-page"><p>Fired when the save process has completed.</p>
</div></td></tr><tr><td>onSaveError <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-data-source-directive-page transcend-data-source-directive-dbconnectionlist-page"><p>Fired when the save process failed.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-data-source-directive-page transcend-data-source-directive-dbconnectionlist-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js mocks.js" source-edit-html="index.html-22" source-edit-css="" source-edit-js="script.js-23 mocks.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-22" ng-html-wrap-loaded="app angular.js script.js mocks.js"></pre>
<script type="text/ng-template" id="index.html-22">
<div ng-controller="Ctrl as ctrl">
<db-connection-list controller="api"></db-connection-list>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-23"></pre>
<script type="text/ng-template" id="script.js-23">
angular.module('app', ['transcend.data-source', 'ngMockE2E'])
.controller('Ctrl', function() {
 });
</script>
</div>
<div class="tab-pane" title="mocks.js">
<pre class="prettyprint linenums" ng-set-text="mocks.js"></pre>
<script type="text/ng-template" id="mocks.js">
angular.module('app')
.run(function($httpBackend){
  var mocks = [{id: 'DefaultConnection', name: 'Default Connection', provider: 'System.Data.SqlServerCe.4.0', connectionString:'Data Source=|DataDirectory|\TDS.sdf'},
             {id: 'MySqlDb', name: 'Sql Server DB', provider: 'System.Data.SqlClient', connectionString:'data source=sql.myhost.com, 1433;initial catalog=MY_CATALOG;persist security info=True;user id=suer;password=password'},
             {id: 'MyOracleDb', name: 'Oracle DB', provider: 'System.Data.OracleClient', connectionString:'Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle.myhost.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=MY_SERVICE)));User Id=user;Password=password;'}];

  // Mock our HTTP calls.
  $httpBackend.whenGET('/api/data/source')
   .respond(angular.copy(mocks));

  angular.forEach(mocks, function(mock){
    $httpBackend.whenGET('/api/data/source/' + mock.id)
     .respond(angular.copy(mock));

    $httpBackend.whenPOST('/api/data/source/test/' + mock.id)
     .respond({"passed":true,"message":"Connection was successful","provider":mock.provider});
  });
})
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-22" ng-eval-javascript="script.js-23 mocks.js"></div>
</div></div>
</div>
