<h1><code ng:non-bindable="">$geometry</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-service-page transcend-esri-service--geometry-page"><p>Provides a set of geometry utility functions.  The purpose of this service is to provide the necessary geometry
functionality for interacting with an esri map.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/esri">esri</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$object">$object</a></code>
<div class="transcend-esri-service-page transcend-esri-service--geometry-page"><p><h5 id="dependencies_calling-static-$geometry-utility-functions">Calling Static $geometry Utility Functions</h5>
<pre class="prettyprint linenums">
// Create a line from an array of points
var line = $geometry.polyline([pt1, pt2, pt3]);

//Create a spatial reference based on a wkid value
var ref = $geometry.spatialReference({wkid: value});
</pre>
<p>See <a href="http://docs.angularjs.org/api/ngResource/service/$resource">AngularJS&#39;s $resource</a> documentation for
details on what methods are natively available to a resource.</p>
</div></li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_$geometry">$geometry(geometry, spatialReference)</h3>
<div class="$geometry"><div class="transcend-esri-service-page transcend-esri-service--geometry-geometry-page"><p>Convert the given item into an appropriate esri geometry using the given spatial reference.  Note:
this method can handle a feature object as well as an esri geometry object.</p>
</div><h5 id="methods_$geometry_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>geometry</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-geometry-page"><p>Item to be converted.</p>
</div></td></tr><tr><td>spatialReference</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-geometry-page"><p>The spatial reference to apply to the geometry</p>
</div></td></tr></tbody></table><h5 id="methods_$geometry_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-geometry-page"><p>The esri geometry for the item that was passed in.</p>
</div></td></tr></table><h4 id="methods_$geometry_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-geometry-page"><pre class="prettyprint linenums">
// Returns the geometry of the line
var line = new esri.geometry.Polyline([{x:5, y:10}{x:30, y:50}]);
var ref = new SpatialReference({wkid: 102100});
var geom = $geometry(line, ref);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_distance">distance(point1, point2)</h3>
<div class="distance"><div class="transcend-esri-service-page transcend-esri-service--geometry-distance-page"><p>Returns the distance between two points.</p>
</div><h5 id="methods_distance_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>point1</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-distance-page"><p>One of two points/numbers to find the distance from.</p>
</div></td></tr><tr><td>point2</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-distance-page"><p>Two of two points/numbers to find the distance from.</p>
</div></td></tr></tbody></table><h5 id="methods_distance_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-distance-page"><p>The distance between the points/numbers.</p>
</div></td></tr></table><h4 id="methods_distance_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-distance-page"><pre class="prettyprint linenums">
// Returns 5.
$geometry.distance(5, 10);

// Returns 10.8 (plus remainder).
$geometry.distance({ 'x':2, 'y':5 }, { 'x':8, 'y':-4 });
// Returns 10.8 (plus remainder).
$geometry.distance(new esri.geometry.Point(2, 5), new esri.geometry.Point(8, -4));
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_equal">equal(point1, point2, delta)</h3>
<div class="equal"><div class="transcend-esri-service-page transcend-esri-service--geometry-equal-page"><p>Determines whether two points or numbers are equal based on a precision.</p>
</div><h5 id="methods_equal_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>point1</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-equal-page"><p>One of two points/numbers to find the distance from.</p>
</div></td></tr><tr><td>point2</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-equal-page"><p>Two of two points/numbers to find the distance from.</p>
</div></td></tr><tr><td>delta</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-equal-page"><p>The precision to use when checking if the numbers
are equal or not.</p>
</div> <p><em>(default: .0001)</em></p></td></tr></tbody></table><h5 id="methods_equal_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-equal-page"><p>Whether the points are equal.</p>
</div></td></tr></table><h4 id="methods_equal_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-equal-page"><pre class="prettyprint linenums">
// Returns true.
$geometry.equal(1, 1);
$geometry.equal({ 'x':2, 'y':5 }, { 'lon':2, 'lat':5 });

// Returns false.
$geometry.equal(1, 5);
$geometry.equal({ 'x':2, 'y':5 }, { 'x':-2, 'y':-5 });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_extent">extent(feature)</h3>
<div class="extent"><div class="transcend-esri-service-page transcend-esri-service--geometry-extent-page"><p>Determines the extent of the feature that was passed in and returns it if it is a valid feature with
a valid geometry.  If the feature does not have a valid geometry, undefined is returned.</p>
</div><h5 id="methods_extent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>feature</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-extent-page"><p>The feature from which to determine the extent.</p>
</div></td></tr></tbody></table><h5 id="methods_extent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-extent-page"><p>The extent of the feature if it is is found; undefined otherwise.</p>
</div></td></tr></table><h4 id="methods_extent_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-extent-page"><pre class="prettyprint linenums">
// Returns extent.
var feature = new Feature(esri.geometry.Point({x:15,y:20}, layer);
$geometry.extent(feature);

// Returns undefined.
$geometry.extent('test string');
$geometry.extent(15);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_extractmeasures">extractMeasures(vertices)</h3>
<div class="extractmeasures"><div class="transcend-esri-service-page transcend-esri-service--geometry-extractmeasures-page"><p>Extracts measure values from vertices. See:
<a href="https://tonicdev.com/jerryharrison/56fb2f1781168d1100abffb0">https://tonicdev.com/jerryharrison/56fb2f1781168d1100abffb0</a></p>
</div><h5 id="methods_extractmeasures_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>vertices</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-extractmeasures-page"><p>An array of vertices.</p>
</div></td></tr></tbody></table><h5 id="methods_extractmeasures_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-extractmeasures-page"><p>An array of flattened &quot;vertices&quot;.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_ispoint">isPoint(geometry)</h3>
<div class="ispoint"><div class="transcend-esri-service-page transcend-esri-service--geometry-ispoint-page"><p>Determines whether or not a specified geometry is a point.</p>
</div><h5 id="methods_ispoint_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>geometry</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-ispoint-page"><p>An esri geometric object.</p>
</div></td></tr></tbody></table><h5 id="methods_ispoint_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-bool">bool</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-ispoint-page"><p>True if the geometry is a point; false otherwise</p>
</div></td></tr></table><h4 id="methods_ispoint_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-ispoint-page"><pre class="prettyprint linenums">
expect($geometry.isPoint(new esri.geometry.Point())).toBeTruthy();
expect($geometry.isPoint(new esri.geometry.Polygon())).toBeFalsy();
expect($geometry.isPoint(new esri.geometry.Polyline())).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_ispolygon">isPolygon(geometry)</h3>
<div class="ispolygon"><div class="transcend-esri-service-page transcend-esri-service--geometry-ispolygon-page"><p>Determines whether or not a specified geometry is a polygon.</p>
</div><h5 id="methods_ispolygon_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>geometry</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-ispolygon-page"><p>An esri geometric object.</p>
</div></td></tr></tbody></table><h5 id="methods_ispolygon_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-bool">bool</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-ispolygon-page"><p>True if the geometry is a polygon; false otherwise</p>
</div></td></tr></table><h4 id="methods_ispolygon_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-ispolygon-page"><pre class="prettyprint linenums">
expect($geometry.isPolygon(new esri.geometry.Polygon())).toBeTruthy();
expect($geometry.isPolygon(new esri.geometry.Polyline())).toBeFalsy();
expect($geometry.isPolygon(new esri.geometry.Point())).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_ispolyline">isPolyline(geometry)</h3>
<div class="ispolyline"><div class="transcend-esri-service-page transcend-esri-service--geometry-ispolyline-page"><p>Determines whether or not a specified geometry is a polyline.</p>
</div><h5 id="methods_ispolyline_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>geometry</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-ispolyline-page"><p>An esri geometric object.</p>
</div></td></tr></tbody></table><h5 id="methods_ispolyline_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-bool">bool</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-ispolyline-page"><p>True if the geometry is a polyline; false otherwise</p>
</div></td></tr></table><h4 id="methods_ispolyline_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-ispolyline-page"><pre class="prettyprint linenums">
expect($geometry.isPolyline(new esri.geometry.Polyline())).toBeTruthy();
expect($geometry.isPolyline(new esri.geometry.Polygon())).toBeFalsy();
expect($geometry.isPolyline(new esri.geometry.Point())).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_isspatialreference">isSpatialReference(spatialReference)</h3>
<div class="isspatialreference"><div class="transcend-esri-service-page transcend-esri-service--geometry-isspatialreference-page"><p>Determines whether or not a specified parameter is a spatial reference.</p>
</div><h5 id="methods_isspatialreference_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>spatialReference</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-isspatialreference-page"><p>Any object.</p>
</div></td></tr></tbody></table><h5 id="methods_isspatialreference_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-bool">bool</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-isspatialreference-page"><p>True if the object is a spatial reference; false otherwise</p>
</div></td></tr></table><h4 id="methods_isspatialreference_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-isspatialreference-page"><pre class="prettyprint linenums">
expect($geometry.isSpatialReference(new esri.geometry.SpatialReference())).toBeTruthy();
expect($geometry.isSpatialReference(new esri.geometry.Polygon())).toBeFalsy();
expect($geometry.isSpatialReference(new esri.geometry.Point())).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_joinparts">joinParts(feature)</h3>
<div class="joinparts"><div class="transcend-esri-service-page transcend-esri-service--geometry-joinparts-page"><p>Concatenates geometries from a featuer into an array.</p>
</div><h5 id="methods_joinparts_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>feature</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-joinparts-page"><p>The feature from which to extract the geometries.</p>
</div></td></tr></tbody></table><h5 id="methods_joinparts_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-joinparts-page"><p>The geometries from the feature, or an empty array if no geometries are present</p>
</div></td></tr></table><h4 id="methods_joinparts_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-joinparts-page"><pre class="prettyprint linenums">
// Returns array.
var feature = new Feature(esri.geometry.Point({x:15,y:20}, layer);
$geometry.joinParts(feature);

// Returns empty array.
var feature = "test string";
$geometry.joinParts(feature);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_notequal">notEqual(point1, point2, delta)</h3>
<div class="notequal"><div class="transcend-esri-service-page transcend-esri-service--geometry-notequal-page"><p>Determines whether two points or numbers are not equal based on a precision.</p>
</div><h5 id="methods_notequal_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>point1</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-notequal-page"><p>One of two points/numbers to find the distance from.</p>
</div></td></tr><tr><td>point2</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-notequal-page"><p>Two of two points/numbers to find the distance from.</p>
</div></td></tr><tr><td>delta</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-notequal-page"><p>The precision to use when checking if the numbers
are equal or not.</p>
</div> <p><em>(default: .0001)</em></p></td></tr></tbody></table><h5 id="methods_notequal_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-notequal-page"><p>Whether the points are not equal.</p>
</div></td></tr></table><h4 id="methods_notequal_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-notequal-page"><pre class="prettyprint linenums">
// Returns false.
$geometry.notEqual(1, 1);
$geometry.notEqual({ 'x':2, 'y':5 }, { 'lon':2, 'lat':5 });

// Returns true.
$geometry.notEqual(1, 5);
$geometry.notEqual({ 'x':2, 'y':5 }, { 'x':-2, 'y':-5 });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_point">point(geometry, spatialReference)</h3>
<div class="point"><div class="transcend-esri-service-page transcend-esri-service--geometry-point-page"><p>Creates an esri.geometry.Point based on the passed in point object. If
an esri.geometry.Point is passed in, it will simply return the same object.</p>
</div><h5 id="methods_point_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>geometry</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-point-page"><p>An esri point or javascript object.</p>
</div></td></tr><tr><td>spatialReference</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-point-page"><p>The spatial reference to set the point to.</p>
</div></td></tr></tbody></table><h5 id="methods_point_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object|esri.geometry.Point=</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-point-page"><p>An esri.geometry.Point.</p>
</div></td></tr></table><h4 id="methods_point_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-point-page"><pre class="prettyprint linenums">
var mapPoint = { 'x':-76, 'y':4e2 };
// Returns the point that was passed in, in the specified spatial reference.
$geometry.point(mapPoint, {wkid: 102100});
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_pointfrommeasure">pointFromMeasure(polyline, measure, spatialReference)</h3>
<div class="pointfrommeasure"><div class="transcend-esri-service-page transcend-esri-service--geometry-pointfrommeasure-page"><p>Retrieves a point in a polyline from a given measure</p>
</div><h5 id="methods_pointfrommeasure_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>polyline</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-pointfrommeasure-page"><p>The polyline object from which to extract the point</p>
</div></td></tr><tr><td>measure</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-pointfrommeasure-page"><p>The route measure from which to determine the corresponding point</p>
</div></td></tr><tr><td>spatialReference</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-pointfrommeasure-page"><p>The spatial reference that applies to the polyline</p>
</div></td></tr></tbody></table><h5 id="methods_pointfrommeasure_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-pointfrommeasure-page"><p>The point corresponding to the given measure if it exists; undefined otherwise.</p>
</div></td></tr></table><h4 id="methods_pointfrommeasure_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-pointfrommeasure-page"><pre class="prettyprint linenums">
// Returns point.
var line = new esri.geometry.Polyline([{x:15,y:20},{x:50,y:25}]);
var ref = new SpatialReference(wkid: 102100);
var point = $geometry.pointFromMeasure(line, 5, ref);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_polygon">polygon(geometry, spatialReference)</h3>
<div class="polygon"><div class="transcend-esri-service-page transcend-esri-service--geometry-polygon-page"><p>Creates an esri.geometry.Polygon based on the passed in geometry object. If
an esri.geometry.Polygon is passed in, it will simply return the same object.</p>
</div><h5 id="methods_polygon_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>geometry</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-polygon-page"><p>An esri polygon or javascript object.</p>
</div></td></tr><tr><td>spatialReference</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-polygon-page"><p>The spatial reference to set the polygon to.</p>
</div></td></tr></tbody></table><h5 id="methods_polygon_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object|esri.geometry.Polygon=</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-polygon-page"><p>An esri.geometry.Polygon.</p>
</div></td></tr></table><h4 id="methods_polygon_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-polygon-page"><pre class="prettyprint linenums">
var mapPoint1 = { 'x':-76, 'y':4e2 };
mapPoint2 = { 'x':-150, 'y':3e2 };
mapPoint3 = { 'x':-205, 'y':4e2 };
mapPoint4 = { 'x':-76, 'y':4e2 };

// Returns the polygon that was passed in, in the specified spatial reference.
var line = $geometry.polygon([mapPoint1, mapPoint2, mapPoint3, mapPoint4], {wkid: 102100});
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_polyline">polyline(geometry, spatialReference)</h3>
<div class="polyline"><div class="transcend-esri-service-page transcend-esri-service--geometry-polyline-page"><p>Creates an esri.geometry.Polyline based on the passed in geometry object. If
an esri.geometry.Polyline is passed in, it will simply return the same object.</p>
</div><h5 id="methods_polyline_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>geometry</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-polyline-page"><p>An esri polyline or javascript object.</p>
</div></td></tr><tr><td>spatialReference</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-polyline-page"><p>The spatial reference to set the polyline to.</p>
</div></td></tr></tbody></table><h5 id="methods_polyline_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object|esri.geometry.Polyline=</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-polyline-page"><p>An esri.geometry.Polyline.</p>
</div></td></tr></table><h4 id="methods_polyline_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-polyline-page"><pre class="prettyprint linenums">
var mapPoint1 = { 'x':-76, 'y':4e2 },
mapPoint2 = { 'x':-150, 'y':3e2 },
mapPoint3 = { 'x':-205, 'y':4e2 };
// Returns the polyline that was passed in, in the specified spatial reference.
var line = new $geometry.polyline([mapPoint1, mapPoint2, mapPoint3], {wkid: 102100});
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_spatialreference">spatialReference(spatialReference, forceCreate)</h3>
<div class="spatialreference"><div class="transcend-esri-service-page transcend-esri-service--geometry-spatialreference-page"><p>Create a spatial reference out of a passed in object.  If the forceCreate parameter is true, then create
the spatial reference whether or not the object passed contains valid spatial reference data.  If the
forceCreate parameter is false, then only create a spatial reference if the passed in object has valid
spatial reference information.</p>
</div><h5 id="methods_spatialreference_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>spatialReference</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-spatialreference-page"><p>An object from which to create a spatial reference</p>
</div></td></tr><tr><td>forceCreate</td><td><a href="" class="label type-hint type-hint-bool">bool</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-spatialreference-page"><p>Whether or not to force a spatial reference to be created</p>
</div></td></tr></tbody></table><h5 id="methods_spatialreference_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object|esri.geometry.SpatialReference</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-spatialreference-page"><p>An esri spatial reference object</p>
</div></td></tr></table><h4 id="methods_spatialreference_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-spatialreference-page"><pre class="prettyprint linenums">
// Should create a valid spatial reference object
expect($geometry.spatialReference(new esri.geometry.SpatialReference())).toBeTruthy();
// Should create a default spatial reference object
expect($geometry.spatialReference(new esri.geometry.Polygon(), true)).toBeTruthy();
// Should not create a spatial reference object
expect($geometry.isSpatialReference(new esri.geometry.Point(), false)).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_xattr">xAttr(point)</h3>
<div class="xattr"><div class="transcend-esri-service-page transcend-esri-service--geometry-xattr-page"><p>Returns the x attribute of the point object.</p>
</div><h5 id="methods_xattr_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>point</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-xattr-page"><p>A point object to retrieve the attribute from.</p>
</div></td></tr></tbody></table><h5 id="methods_xattr_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-xattr-page"><p>The first attribute name that matched the criteria.</p>
</div></td></tr></table><h4 id="methods_xattr_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-xattr-page"><pre class="prettyprint linenums">
// Returns 'lon'.
$geometry.xAttr({ 'lon':2, 'lat':45 });

// Returns 'x'.
$geometry.xAttr({ 'x':2, 'y':45 });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_xattrvalue">xAttrValue(point)</h3>
<div class="xattrvalue"><div class="transcend-esri-service-page transcend-esri-service--geometry-xattrvalue-page"><p>Returns the value of the x attribute of the point object.</p>
</div><h5 id="methods_xattrvalue_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>point</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-xattrvalue-page"><p>A point object to retrieve the attribute value from.</p>
</div></td></tr></tbody></table><h5 id="methods_xattrvalue_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-xattrvalue-page"><p>The value of the first attribute name that matched the criteria.</p>
</div></td></tr></table><h4 id="methods_xattrvalue_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-xattrvalue-page"><pre class="prettyprint linenums">
// Returns 5.
$geometry.xAttrValue({ 'x':5, 'y':6 });

// Returns 5.
$geometry.xAttrValue({ 'lon':5, 'lat':6 });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_yattr">yAttr(point)</h3>
<div class="yattr"><div class="transcend-esri-service-page transcend-esri-service--geometry-yattr-page"><p>Returns the y attribute of the point object.</p>
</div><h5 id="methods_yattr_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>point</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-yattr-page"><p>A point object to retrieve the attribute from.</p>
</div></td></tr></tbody></table><h5 id="methods_yattr_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-yattr-page"><p>The first attribute name that matched the criteria.</p>
</div></td></tr></table><h4 id="methods_yattr_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-yattr-page"><pre class="prettyprint linenums">
// Returns 'lat'.
$geometry.yAttr({ 'lat':5, 'lon':6 });

// Returns 'y'.
$geometry.yAttr({ 'y':5, 'x':6 });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_yattrvalue">yAttrValue(point)</h3>
<div class="yattrvalue"><div class="transcend-esri-service-page transcend-esri-service--geometry-yattrvalue-page"><p>Returns the value of the y attribute of the point object.</p>
</div><h5 id="methods_yattrvalue_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>point</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-yattrvalue-page"><p>A point object to retrieve the attribute value from.</p>
</div></td></tr></tbody></table><h5 id="methods_yattrvalue_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-esri-service-page transcend-esri-service--geometry-yattrvalue-page"><p>The value of the first attribute name that matched the criteria.</p>
</div></td></tr></table><h4 id="methods_yattrvalue_example">Example</h4>
<div class="example"><div class="transcend-esri-service-page transcend-esri-service--geometry-yattrvalue-page"><pre class="prettyprint linenums">
// Returns 6.
$geometry.yAttrValue({ 'x':5, 'y':6 });

// Returns 6.
$geometry.yAttrValue({ 'lon':5, 'lat':6 });
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
