<h1><code ng:non-bindable="">floatingPane</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-directive-page transcend-app-directive-floatingpane-page"><p>The &#39;floatingPane&#39; directive creates a floating window pane, which is a fixed container that can sit at any corner
of the screen and house any elements. The floating pane will automatically change to &quot;relative&quot; positioning when
the screen size becomes too small.</p>
<pre class="prettyprint linenums">
 &lt;floating-pane position-class="bottom-left"&gt;
 &lt;!-- TODO: Bookmarks Menu --&gt;
 &lt;/floating-pane&gt;
</pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;floating-pane&gt;
&lt;/floating-pane&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY floating-pane&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
