<h1><code ng:non-bindable="">featureOrderBy</code>
<div><span class="hint">filter in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-filter-page transcend-esri-filter-featureorderby-page"><p>The &#39;featureOrderBy&#39; filter orders a given feature set by a selected feature.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> featureOrderBy_expression | featureOrderBy <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('featureOrderBy')()</code>
</div>
</div>
</div>
