<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-security-page"><h2 id="security-module">Security Module</h2>
<p>The &quot;Security&quot; module provides all the necessary components to support user authentication and hiding/showing content
based on user roles for any <a href="http://oauth.net/2/">OAuth 2.0</a> token based authentication. This module was specifically
designed to work seamlessly with <a href="http://blogs.msdn.com/b/webdev/archive/2013/07/03/understanding-owin-forms-authentication-in-mvc-5.aspx">Microsoft&#39;s MVC 5 OWIN authentication</a>.</p>
<h3 id="security-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-security.git
</code></pre><p>Other options:</p>
<ul>
<li>Download the code at <a href="http://code.tsstools.com/bower-security/get/master.zip">http://code.tsstools.com/bower-security/get/master.zip</a></li>
<li>View the repository at <a href="http://code.tsstools.com/bower-security">http://code.tsstools.com/bower-security</a></li>
<li>If you have permissions, view the source code at <a href="http://code.tsstools.com/web-common/src/ee541a3bce850ae77f6d7948a00cc352b4f67b21/modules/security/?at=develop">http://code.tsstools.com/web-common</a></li>
</ul>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.security&#39;]);
</code></pre><h3 id="security-module_configuration">Configuration</h3>
<p>You can configure the <a href="#/api/transcend.security">Security Module</a> by using the standard $provider configuration method
or by overriding the &quot;<a href="#/api/transcend.security.securityConfig">securityConfig</a>&quot; object. This object is passed into each component in the
module and will use any properties set on the object before deferring to the default settings/configuration.</p>
<pre><code>angular.module(&#39;myApp&#39;).value(&#39;securityConfig&#39;, {
  resource: {
    // Override the default URL for all resources in this module.
    url: &#39;http://locahost/MyWebApiApp&#39;
  }
});
</code></pre><h3 id="security-module_usage">Usage</h3>
<p>By default, the <a href="#/api/transcend.security">Security Module</a> is configured to work out of the box with an MVC5 WebAPI2
back-end - with individual accounts setup (using Bearer token). For additional information on setting up the backend
project to support this front-end control, see the &quot;MVC5 and WebAPI Authentication&quot; section of the
<a href="#/development/resources">Resources Page</a>.</p>
<h3 id="security-module_to-do">To Do</h3>
<ul>
<li>Add additional components for registration, password change, and role management.</li>
</ul>
<h3 id="security-module_module-goals">Module Goals</h3>
<ul>
<li>Keep the minified module under 10KB.</li>
</ul>
</div></div>
