<h1><code ng:non-bindable="">reportParams</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.reporting</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-reporting-directive-page transcend-reporting-directive-reportparams-page"><p>The &#39;reportParams&#39; directive displays a list of attributes that are defined for a report item in the reports list.
A user can modify the values for these attributes to produce the desired report results.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;report-params
       params="{array}"
       formatter="{function}"&gt;
&lt;/report-params&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY report-params
     params="{array}"
     formatter="{function}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>params</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="transcend-reporting-directive-page transcend-reporting-directive-reportparams-page"><p>The parameters and their values that were used to generate the report</p>
</div></td></tr><tr><td>formatter</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="transcend-reporting-directive-page transcend-reporting-directive-reportparams-page"><p>The method used to format the report parameters for the report list.</p>
</div></td></tr></tbody></table></div>
</div>
