<h1><code ng:non-bindable="">LrsProfile</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.lrs</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lrs-service-page transcend-lrs-service-lrsprofile-page"><p>The &#39;LrsProfile&#39; factory provides configuration parameters and direct passage of a URL.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.lrs.lrsConfig">lrsConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$object">$object</a></code>
</li>
</ul>
</div>
