<h1><code ng:non-bindable="">$log</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.diagnostics</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-diagnostics-log-page"><p>Extends the default AngularJS <a href="http://docs.angularjs.org/api/ng/service/$log">$log service</a> to provide a hierarchical
tracking of operations with elapsed time calculations.</p>
<p> <pre class="prettyprint linenums">
 $log.log('log message');
 $log.debug('debug message');
 $log.info('info message');
 $log.warn('warn message');
 $log.error('error message');

 var defer = $q.defer();
 $log.start('Doing something...', defer.promise);

 defer.resolve();
 // The log will automatically be marked as complete
 // and will calculate the time based on the promise.
 </pre>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_clear">clear()</h3>
<div class="clear"><div class="transcend-diagnostics-log-clear-page"><p>Clears the log cache.</p>
</div><h5 id="methods_clear_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$log</a></td><td><div class="transcend-diagnostics-log-clear-page"><p>The $log service.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_error">error()</h3>
<div class="error"><div class="transcend-diagnostics-log-error-page"><p>Default <a href="http://docs.angularjs.org/api/ng/service/$log">AngularJS $log</a> error method.</p>
</div><h5 id="methods_error_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$log</a></td><td><div class="transcend-diagnostics-log-error-page"><p>The $log service.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_info">info()</h3>
<div class="info"><div class="transcend-diagnostics-log-info-page"><p>Default <a href="http://docs.angularjs.org/api/ng/service/$log">AngularJS $log</a> info method.</p>
</div><h5 id="methods_info_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$log</a></td><td><div class="transcend-diagnostics-log-info-page"><p>The $log service.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_linear">linear()</h3>
<div class="linear"><div class="transcend-diagnostics-log-linear-page"><p>Turns the nested log object into an array.</p>
</div><h5 id="methods_linear_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-diagnostics-log-linear-page"><p>An array representation of the nested logs.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_log">log()</h3>
<div class="log"><div class="transcend-diagnostics-log-log-page"><p>Default <a href="http://docs.angularjs.org/api/ng/service/$log">AngularJS $log</a> log method.</p>
</div><h5 id="methods_log_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$log</a></td><td><div class="transcend-diagnostics-log-log-page"><p>The $log service.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_start">start()</h3>
<div class="start"><div class="transcend-diagnostics-log-start-page"><p>Starts a running log - an asynchronous log. Any other logs that happen during this process will logged as a
child under the running log (parent).</p>
</div><h5 id="methods_start_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$log</a></td><td><div class="transcend-diagnostics-log-start-page"><p>The $log service.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_stop">stop()</h3>
<div class="stop"><div class="transcend-diagnostics-log-stop-page"><p>Stops a running log (an asynchronous log) so that it will no catch logs as it&#39;s children.</p>
</div><h5 id="methods_stop_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$log</a></td><td><div class="transcend-diagnostics-log-stop-page"><p>The $log service.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_warn">warn()</h3>
<div class="warn"><div class="transcend-diagnostics-log-warn-page"><p>Default <a href="http://docs.angularjs.org/api/ng/service/$log">AngularJS $log</a> warn method.</p>
</div><h5 id="methods_warn_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$log</a></td><td><div class="transcend-diagnostics-log-warn-page"><p>The $log service.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
