<h1><code ng:non-bindable="">$networkLayer</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.lrs</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lrs-networklayer-page"><p>Provides a set of utility functions related to a plain network layer object (not an instantiated object).</p>
<p>The main purpose of this service is to provide common functionality that will be performed on a network layer object.</p>
<p> <h5 id="description_calling-static-functions">Calling Static Functions</h5>
 <pre class="prettyprint linenums">
 $networkLayer.someMethod(layerReference, args);
 </pre>
<p> <h5 id="description_instantiating">Instantiating</h5>
 <pre class="prettyprint linenums">
 // The 'network layer' reference is stored - no need to pass it.
 var lyr = $networkLayer(layerReference);
 lyr.someMethod(args);
 lyr.someOtherMethod(otherArgs);
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.core.$protoFactory">$protoFactory</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$array">$array</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$networkLayer([networkLayer]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>networkLayer <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-lrs-networklayer-page"><p>The network layer object to &#39;cache&#39; to perform operations against.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_hierarchyfilter">hierarchyFilter(networkLayer)</h3>
<div class="hierarchyfilter"><div class="transcend-lrs-networklayer-hierarchyfilter-page"><p>Creates a &quot;hierarchy filter&quot; configuration based on a network layer&#39;s route id fields.</p>
</div><h5 id="methods_hierarchyfilter_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>networkLayer <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-lrs-networklayer-hierarchyfilter-page"><p>An object with a &#39;routeIdFields&#39; property on it and a &#39;field&#39; property.</p>
</div></td></tr></tbody></table><h5 id="methods_hierarchyfilter_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-lrs-networklayer-hierarchyfilter-page"><p>An array of &quot;filter&quot; objects to pass to a hierarchy filter component.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
