<h1><code ng:non-bindable="">ErrorReportCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-controller-page transcend-app-controller-errorreportctrl-page"><p>The &#39;ErrorReportCtrl&#39; controller holds the logic for the error reporting menu, which sends an email with the details
written by the user who experienced the error.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$log">$log</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$modalInstance">$modalInstance</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$string">$string</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.$authenticate">$authenticate</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.app.appConfig">appConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$loading">$loading</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/Email">Email</a></code>
</li>
</ul>
</div>
