<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-reporting-page"><h2 id="reporting-module">Reporting Module</h2>
<p>The &quot;Reporting&quot; module is a set of controls and functionality to provide the ability to view, download, and interact
with reports - exposed via a &quot;Reporting Engine&quot;.</p>
<h3 id="reporting-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-reporting.git
</code></pre><p>Other options:</p>
<ul>
<li>Download the code at <a href="http://code.tsstools.com/bower-reporting/get/master.zip">http://code.tsstools.com/bower-reporting/get/master.zip</a></li>
<li>View the repository at <a href="http://code.tsstools.com/bower-reporting">http://code.tsstools.com/bower-reporting</a></li>
<li>If you have permissions, view the source code at <a href="http://code.tsstools.com/web-common/src/ee541a3bce850ae77f6d7948a00cc352b4f67b21/modules/reporting/?at=develop">http://code.tsstools.com/web-common</a></li>
</ul>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.reporting&#39;]);
</code></pre></div></div>
