<h1><code ng:non-bindable="">$anyChart</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.anychart</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-anychart-service-page transcend-anychart-service--anychart-page"><p>The &#39;$anyChart&#39; service is a factory to create AnyChart instances. The factory is just a wrapper to the global
window.AnyChart object. The object itself is the actual AnyChart library instance. This service simply pulls it
off the window to allow it to be created via an angular factory call so that it can be injected in a cleaner manner.</p>
<p>Typically this service will not be used in application code but rather in the the <a href="#/api/transcend.anychart:anyChart">AnyChart</a> directive.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
</ul>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-anychart-service-page transcend-anychart-service--anychart-page"><pre class="prettyprint linenums">
app.controller('TestCtrl', function ($anyChart) {
  // Create a new AnyChart instance from the factory.
  chart = $anyChart();
  chart.addEventListener('render', postRender);
  chart.width = '400px';
  chart.height = '400px';
});
</pre>
</div></div>
</div>
