<h1><code ng:non-bindable="">RolePrivilege</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.security-manager</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-manager-service-page transcend-security-manager-service-roleprivilege-page"><p>A <a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> to interact with a &quot;RolePrivilege&quot; entity.
A &quot;RolePrivilege&quot; entity models a single role to privilege relationship. The purpose of this
<a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> is to provide the necessary
functionality to interact with a &quot;RolePrivilege&quot; - such as create, read, update, and delete.</p>
<p> <pre class="prettyprint linenums">
 // Get a list of roles.
 var rolePrivs = RolePrivilege.query();
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security-manager.securityManagerConfig">securityManagerConfig</a></code>
</li>
</ul>
</div>
