<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-anychart-page"><h2 id="anychart-module">AnyChart Module</h2>
<p>The &quot;AnyChart&quot; module provides a set of reusable components to quickly and easily create charts/graphs using the
<a href="http://www.anychart.com/home/">AnyChart</a> library. The main benefit of the components available in this module is the
ability to bind charts to data and allow them to automatically update when the data changes - using the standard
<a href="http://docs.angularjs.org/guide/databinding">AngularJS data binding technology</a>.</p>
<h3 id="anychart-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-anychart.git
</code></pre><p>Other options:</p>
<ul>
<li>Download the code at <a href="http://code.tsstools.com/bower-anychart/get/master.zip">http://code.tsstools.com/bower-anychart/get/master.zip</a></li>
<li>View the repository at <a href="http://code.tsstools.com/bower-anychart">http://code.tsstools.com/bower-anychart</a></li>
<li>If you have permissions, view the source code at <a href="http://code.tsstools.com/web-common/src/ee541a3bce850ae77f6d7948a00cc352b4f67b21/modules/anychart/?at=develop">http://code.tsstools.com/web-common</a></li>
</ul>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.anychart&#39;]);
</code></pre><h3 id="anychart-module_to-do">To Do</h3>
<ul>
<li>Find and create directives based on another charting library - we need to deprecate our use of this library.</li>
<li>Re-evaluate the approach of storing the AnyChart library code in the repo.</li>
</ul>
<h3 id="anychart-module_project-goals">Project Goals</h3>
<ul>
<li>Find a better library to build upon - AnyChart isn&#39;t cutting it.</li>
</ul>
</div></div>
