<h1><code ng:non-bindable="">themeMenu</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.themes</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-themes-directive-page transcend-themes-directive-thememenu-page"><p>The &#39;themeMenu&#39; directive provides a simple dropdown menu component that will allow selecting (binding) to a theme.</p>
<p>Note: This component will set $rootScope.theme to the selected theme value.</p>
<p> <pre class="prettyprint linenums">
 // Typical usage in navbar:
 &lt;li theme-menu&gt;&lt;/li&gt;
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core#appconfig">core#appConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.themes#themesconfig">themes#themesConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;theme-menu&gt;
&lt;/theme-menu&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY theme-menu&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
