<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-esri-page"><h2 id="esri-module">ESRI Module</h2>
<p>The &quot;ESRI&quot; module provides a set of reusable components to quickly and easily create components based on the <a href="https://developers.arcgis.com/javascript/">ArcGIS
JavaScript API</a>. The main benefit of the components available in this module
is the integration they have with other AngularJS components. This component integration allows binding of map values
like zoom level, center location, layers, etc. This two-way binding allows many components to all share the same values
and remain in sync automatically.</p>
<h3 id="esri-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-esri.git
</code></pre><p>Other options:</p>
<p>Download the code at <a href="http://code.tsstools.com/bower-esri/get/master.zip">http://code.tsstools.com/bower-esri/get/master.zip</a>
View the repository at <a href="http://code.tsstools.com/bower-esri">http://code.tsstools.com/bower-esri</a></p>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.esri&#39;]);
</code></pre><h3 id="esri-module_to-do">To Do</h3>
<ul>
<li>Find a way to mock the dojo and esri libraries in unit tests.</li>
</ul>
</div></div>
