<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-lidar-page"><h2 id="lidar-module">Lidar Module</h2>
<p>The &quot;Lidar&quot; module contains the components to query, view, and interact with Lidar data. The Lidar viewer provides the
ability to view point data collected by remote sensing hardware.</p>
<h3 id="lidar-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-lidar.git
</code></pre><p>Other options:</p>
<ul>
<li>Download the code at <a href="http://code.tsstools.com/bower-lidar/get/master.zip">http://code.tsstools.com/bower-lidar/get/master.zip</a></li>
<li>View the repository at <a href="http://code.tsstools.com/bower-lidar">http://code.tsstools.com/bower-lidar</a></li>
<li>If you have permissions, view the source code at <a href="http://code.tsstools.com/web-common/src/ee541a3bce850ae77f6d7948a00cc352b4f67b21/modules/lidar/?at=develop">http://code.tsstools.com/web-common</a></li>
</ul>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.lidar&#39;]);
</code></pre><h3 id="lidar-module_to-do">To Do</h3>
<ul>
<li>Add unit tests.</li>
</ul>
<h3 id="lidar-module_project-goals">Project Goals</h3>
<ul>
<li>Keep this module size below 25kb minified</li>
</ul>
</div></div>
