<h1><code ng:non-bindable="">exportConfig</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.export</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-export-exportconfig-page"><p>Provides a single configuration object that can be used to change the behaviour, options, urls, etc for any
components in the <a href="#/api/transcend.export">Export Module</a>. The &quot;exportConfig&quot; object is a
<a href="http://docs.angularjs.org/api/auto/object/$provide#value">module value</a> and can therefore be
overridden/configured by:</p>
<p> <pre class="prettyprint linenums">
 // Override the value of the 'exportConfig' object.
 angular.module('myApp').value('exportConfig', {
     resource: {
       url: 'http://localhost/MyWebApiApp'
     }
   });
 </pre>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_download">download</h3>
<div class="download"><div class="transcend-export-exportconfig-download-page"><p>Configuration object for the <a href="#/api/transcend.export:$download">$download service</a>. This object provides
the capability to override the <a href="#/api/transcend.export:$download">$download service&#39;s</a> default
configuration.</p>
<h5 id="properties_download_configuration-properties">Configuration Properties</h5>
<ul>
<li><p><strong>url</strong> - a string that that represents the base url to the backend server.</p>
<p>   <pre class="prettyprint linenums">
       angular.module('myApp').value('exportConfig', {
        download: {
          url: 'http://localhost/download'
        }
       });
       </pre>
</li>
</ul>
</div></div>
</li>
<li><h3 id="properties_resource">resource</h3>
<div class="resource"><div class="transcend-export-exportconfig-resource-page"><p>Configuration object to configure common resource properties, such as the server URL and default parameters.
All resources in the &quot;<a href="#/api/transcend.export">Export Module</a>&quot; extend the resource config object first, and
then extend the resource&#39;s specific configuration. So you can set the default backend server URL for all
resources, by using this configuration, and define any other configurations that may vary as well.</p>
<h5 id="properties_resource_configuration-properties">Configuration Properties</h5>
<ul>
<li><strong>url</strong> - a string that that represents the base url to the backend server.</li>
<li><p><strong>params</strong> - default URL parameters that will be passed to each service call.</p>
<pre class="prettyprint linenums">
 angular.module('myApp').value('exportConfig', {
       // Any resource's URL will be set
       // by the resource url configuration.
       resource: {
         url: 'http://localhost/MyWebApiApplication'
       },
       // The "$download" resource's URL will initially be set by
       // the resource url configuration, but
       // will be overridden by the "download" configuration.
       // So ultimately the "$download" resource URL will
       // be 'http://otherhost/MyOtherApplication'.
       download: {
         url: 'http://otherhost/MyOtherApplication'
       }
     });
 </pre>
</li>
</ul>
</div></div>
</li>
</ul>
</div>
</div>
