<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-drawing-page"><h2 id="drawing-module">Drawing Module</h2>
<p>The &quot;Drawing&quot; module contains the components to add svg drawing capabilities to any container. Such drawing capabilities
include; points, lines, rectangles, and text.</p>
<h3 id="drawing-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-drawing.git
</code></pre><p>Other options:</p>
<p>Download the code at <a href="http://code.tsstools.com/bower-drawing/get/master.zip">http://code.tsstools.com/bower-drawing/get/master.zip</a>
View the repository at <a href="http://code.tsstools.com/bower-drawing">http://code.tsstools.com/bower-drawing</a>
If you have permissions, view the source code at <a href="http://code.tsstools.com/web-common/src/ee541a3bce850ae77f6d7948a00cc352b4f67b21/modules/drawing/?at=develop">http://code.tsstools.com/web-common</a></p>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.drawing&#39;]);
</code></pre><h3 id="drawing-module_to-do">To Do</h3>
<ul>
<li>Add unit tests.</li>
<li>Explore other drawing libraries and see if there is a better solution.</li>
</ul>
<h3 id="drawing-module_project-goals">Project Goals</h3>
<ul>
<li>Keep this module size below 25kb minified</li>
</ul>
</div></div>
