<h1><code ng:non-bindable="">appProfileList</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-directive-page transcend-app-directive-appprofilelist-page"><p>Provides a simple list of profiles and provides the ability to add/delete them - if you have the privileges to.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.app#appconfig">app#appConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.app#appprofile">app#AppProfile</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core#$notify">core#$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core#$array">core#$array</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">appProfileList([appId]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>appId <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-app-directive-page transcend-app-directive-appprofilelist-page"><p>The ID of the &quot;App&quot; profiles that you want to show. This will default to appConfig.appId.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-app-directive-page transcend-app-directive-appprofilelist-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js mocks.js" source-edit-html="index.html-8" source-edit-css="" source-edit-js="script.js-9 mocks.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-8" ng-html-wrap-loaded="app angular.js script.js mocks.js"></pre>
<script type="text/ng-template" id="index.html-8">
<div ng-controller="Ctrl as ctrl">
<app-profile-list add-roles="1" delete-roles="2"></app-profile-list>

<h3 id="example_or-place-in-a-modal">Or Place in a Modal:</h3>
<button class="btn btn-primary btn-lg" ng-click="ctrl.modal('web-common/modules/app/profile/app-profile-list-dialog.html'">
Show Profile List in Modal
</button>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-9"></pre>
<script type="text/ng-template" id="script.js-9">
angular.module('app', ['transcend.app', 'ngMockE2E'])
.run(function($roleManager) {
   $roleManager.roles([1,2]);
})

.controller('Ctrl', function(appConfig, $showModal) {
   this.modal = $showModal;

   appConfig.appName = 'My App';
   appConfig.appId = 'my-app'
   appConfig.profile = {
     id: 'tss'
   };
 });
</script>
</div>
<div class="tab-pane" title="mocks.js">
<pre class="prettyprint linenums" ng-set-text="mocks.js"></pre>
<script type="text/ng-template" id="mocks.js">
angular.module('app')
.run(function($httpBackend){
  var mocks = [{"homePageUrl":"http://www.coloradodot.info/","errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/cdot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"cdot","name":"Colorado Road Analyzer","logo":"images/logos/cdot-logo.png","appId":"ra","theme":"midnight"},{"homePageUrl":"http://ddot.dc.gov/","message":"<strong>Welcome!</strong> If this is your first time viewing Road Analyzer check out our <a href=\"docs/#/user\" target=\"_blank\">Users Guide</a> for help navigating the application.","errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"settings":{"id":4,"scale":50.0,"visibility":{}},"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/ddot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"ddot","name":"DDOT Road Analyzer","logo":"images/logos/ddot-logo.png","appId":"ra","theme":"patriot"},{"homePageUrl":"http://www.dot.ga.gov/Pages/default.aspx","errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/gdot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"gdot","name":"Georgia Road Analyzer","logo":"images/logos/gdot-logo.png","appId":"ra","theme":"midnight"},{"homePageUrl":"http://www.virginiadot.org/","errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/happytown/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"happytown","name":"LRS Common Scenarios","logo":"images/logos/happytown-logo.png","appId":"ra","theme":"transcend"},{"homePageUrl":"http://www.iowadot.gov/","message":"<strong>Welcome!</strong> If this is your first time viewing Road Analyzer check out our <a href=\"docs/#/user\" target=\"_blank\">Users Guide</a> for help navigating the application.","lrsProfileId":9,"errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/iadot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"iadot","name":"IOWA DOT Road Analyzer","logo":"images/logos/iadot-logo.png","appId":"ra","theme":"khaki"},{"homePageUrl":"http://www.in.gov/indot/","lrsProfileId":3,"errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/indot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"indot","name":"Indiana Road Analyzer","logo":"images/logos/indot-logo.png","appId":"ra","theme":"royal"},{"homePageUrl":"http://www.michigan.gov/mdot/","errorReportEmail":"","bypassQueryOrderBy":true,"bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/mdot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"mdot","name":"Michigan Road Analyzer","logo":"images/logos/mdot-logo.png","appId":"ra","theme":"spacelab"},{"homePageUrl":"http://www.roads.maryland.gov/Home.aspx","message":"<strong>Welcome!</strong> If this is your first time viewing Road Analyzer check out our <a href=\"docs/#/user\" target=\"_blank\">Users Guide</a> for help navigating the application.","errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/mdsha/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"mdsha","name":"MDSHA Road Analyzer","logo":"images/logos/mdsha-logo.png","appId":"ra","theme":"superhero"},{"homePageUrl":"http://www.ncdot.gov/","message":"<strong>Welcome!</strong> If this is your first time viewing Road Analyzer check out our <a href=\"docs/#/user\" target=\"_blank\">Users Guide</a> for help navigating the application.","lrsProfileId":7,"errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/ncdot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"ncdot","name":"North Carolina Road Analyzer","logo":"images/logos/ncdot-logo.png","appId":"ra","theme":"ocean"},{"homePageUrl":"http://www.dot.state.oh.us/pages/home.aspx","lrsProfileId":4,"errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{"map":"topo"},"mapServer":{"url":"//dev-app/arcgis/rest/services/odot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"odot","name":"Ohio Road Analyzer","logo":"images/logos/odot-logo.png","appId":"ra","theme":"cartographic"},{"homePageUrl":"http://www.penndot.gov/","message":"<strong>Welcome!</strong> If this is your first time viewing Road Analyzer check out our <a href=\"docs/#/user\" target=\"_blank\">Users Guide</a> for help navigating the application.","lrsProfileId":8,"errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"settings":{"id":3,"scale":50.0,"setLoadedProfileAsDefault":true,"visibility":{"versionSelection":true,"dateSelection":true}},"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/penndot/lrs/MapServer","hasLrsMeta":true,"hasNumericRouteId":true},"arcgis":{}},"id":"penndot","name":"PennDOT Road Analyzer","logo":"images/logos/penndot-logo.png","appId":"ra","theme":"ocean"},{"homePageUrl":"http://www.transcendspatial.com/?ref=road-analyzer","message":"<strong>Welcome!</strong> If this is your first time viewing Road Analyzer check out our <a href=\"docs/#/user\" target=\"_blank\">Users Guide</a> for help navigating the application.","lrsProfileId":1,"errorReportEmail":"","routeListOrderBy":"10-11","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/tss/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"tss","name":"Road Analyzer","logo":"images/logos/tss-logo.png","appId":"ra","theme":"transcend"},{"homePageUrl":"http://www.txdot.gov/","lrsProfileId":6,"errorReportEmail":"","bypassProxy":false,"signSystems":[],"links":[],"settings":{"id":2,"setLoadedProfileAsDefault":true,"maxQueryLayers":10,"visibility":{"versionSelection":false,"dateSelection":false}},"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/txdot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"txdot","name":"TXDOT Road Analyzer","logo":"images/logos/txdot-logo.png","appId":"ra","theme":"patriot"},{"homePageUrl":"http://www.virginiadot.org/","lrsProfileId":5,"errorReportEmail":"","bypassProxy":true,"signSystems":[],"links":[],"settings":{"id":1,"setLoadedProfileAsDefault":true,"maxQueryLayers":15,"visibility":{"versionSelection":false,"dateSelection":false}},"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/vdot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":true},"arcgis":{}},"id":"vdot","name":"Straight Line Diagram","logo":"images/logos/vdot-logo.png","appId":"ra","theme":"contrast"},{"homePageUrl":"http://www.transportation.wv.gov/Pages/default.aspx","message":"<strong>Attention!</strong> A new roadway network is being implemented, until the process is finished the data driving this application will be incomplete.","lrsProfileId":2,"errorReportEmail":"","routeListOrderBy":"10-11","bypassProxy":true,"signSystems":[],"links":[],"esriConfig":{"basemapSelector":{},"mapServer":{"url":"//dev-app/arcgis/rest/services/wvdot/lrs/MapServer","hasLrsMeta":false,"hasNumericRouteId":false},"arcgis":{}},"id":"wvdot","name":"West Virginia Road Analyzer","logo":"images/logos/wvdot-logo.png","appId":"ra","theme":"sunrise"}]

  // Mock our HTTP calls.
  $httpBackend.whenGET(/api\/my-app\/profile/)
   .respond(angular.copy(mocks));
})
</script>
</div>
</div><h4 id="example_or-place-in-a-modal_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-8" ng-eval-javascript="script.js-9 mocks.js"></div>
</div></div>
</div>
