<h1><code ng:non-bindable="">drawToolbar</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.drawing</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-drawing-directive-page transcend-drawing-directive-drawtoolbar-page"><p>The &#39;drawToolbar&#39; directive provides an editable toolbar for the SVG Canvas.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/drawingConfig">drawingConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$svgCanvasGroup">$svgCanvasGroup</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;draw-toolbar&gt;
&lt;/draw-toolbar&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY draw-toolbar&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
