<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-resource-page"><h2 id="resource-module">Resource Module</h2>
<p>The &quot;Resource&quot; module provides a set of utility services to make working with an <a href="https://docs.angularjs.org/api/ngResource/service/$resource">AngularJS resource</a>,
or list of resources, easier. In addition it offers a number of &quot;form&quot; related components to assist in the Create, Read,
Update, and Delete (CRUD) operations to make these actions generic enough to be used in common situations. One such
control is the <a href="#/api/dynamicForm">Dynamic Form Directive</a> which will automatically create a form based on an object
structure - and/or meta-data for that object.</p>
<h3 id="resource-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-resource.git
</code></pre><p>Other options:</p>
<ul>
<li>Download the code at <a href="http://code.tsstools.com/bower-resource/get/master.zip">http://code.tsstools.com/bower-resource/get/master.zip</a></li>
<li>View the repository at <a href="http://code.tsstools.com/bower-resource">http://code.tsstools.com/bower-resource</a></li>
<li>If you have permissions, view the source code at <a href="http://code.tsstools.com/web-common/src/ee541a3bce850ae77f6d7948a00cc352b4f67b21/modules/resource/?at=develop">http://code.tsstools.com/web-common</a></li>
</ul>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.resource&#39;]);
</code></pre><h3 id="resource-module_to-do">To Do</h3>
<ul>
<li>Add additional unit tests</li>
<li>Finish documentation</li>
</ul>
</div></div>
