<h1><code ng:non-bindable="">DataSource</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.data-source</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-data-source-service-page transcend-data-source-service-datasource-page"><p>A <a href="http://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> to interact with a &quot;DataSource&quot; entity.
A &quot;DataSource&quot; entity models a single database source.</p>
<p> <pre class="prettyprint linenums">
 // Get a list of data sources.
 var sources = DataSource.query();

 // Get a single data source by id/name.
 var sources = DataSource.query({ id: 'MyConnection' });

 // Test a connection by id/name.
 var result = DataSource.testConnectionById({ id: 'MyConnection' });

 // Test a connection string.
 var result = DataSource.testConnection({ connectionString: '...' });
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resource">$resource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.transcend.data-source.dataSourceConfig">dataSourceConfig</a></code>
</li>
</ul>
</div>
