<h1><code ng:non-bindable="">$layer</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-layer-page"><p>Provides a set of utility functions related to a plain layer object (not an instantiated object).</p>
<p>The main purpose of this service is to provide common functionality that will be performed on a layer object.</p>
<p> <h5 id="description_calling-static-functions">Calling Static Functions</h5>
 <pre class="prettyprint linenums">
 $layer.someMethod(layerReference, args);
 </pre>
<p> <h5 id="description_instantiating">Instantiating</h5>
 <pre class="prettyprint linenums">
 // The 'layer' reference is stored - no need to pass it.
 var lyr = $layer(layerReference);
 lyr.someMethod(args);
 lyr.someOtherMethod(otherArgs);
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.core.$protoFactory">$protoFactory</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$array">$array</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$layer([layer]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>layer <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-layer-page"><p>The layer object to &#39;cache&#39; to perform operations against.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_domain">domain(layer, fieldName, fieldValue)</h3>
<div class="domain"><div class="transcend-esri-layer-domain-page"><p>Gets a coded value domain based on a value.</p>
</div><h5 id="methods_domain_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>layer <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-layer-domain-page"><p>An object with a &#39;fields&#39; property on it.</p>
</div></td></tr><tr><td>fieldName <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-layer-domain-page"><p>The name of the field to get the field by. If this parameter is not passed in it
will look for a &#39;displayField&#39; or &#39;defaultField&#39; on the layer object.</p>
</div></td></tr><tr><td>fieldValue <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-esri-layer-domain-page"><p>The value to lookup the &quot;alias&quot; (lookup) from in the coded value domains.</p>
</div></td></tr></tbody></table><h5 id="methods_domain_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-layer-domain-page"><p>The coded value domain object that matched the given value.</p>
</div></td></tr></table><h4 id="methods_domain_example">Example</h4>
<div class="example"><div class="transcend-esri-layer-domain-page"><pre class="prettyprint linenums">
var layer = { fields: [{name: 'Field1', alias:'One'}, {name: 'Field2', alias:'Two', domain: {codedValues: [{name: 'Right', code: 'R'}]}}] }
var domain = $layer.domain(layer, 'Field2', 'R');
expect(domain.name).toEqual('Right');
expect(domain.code).toEqual('R');

// or...
var domain = $layer(layer).domain('Field2', 'R');
expect(domain.name).toEqual('Right');
expect(domain.code).toEqual('R');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_domainvalue">domainValue(layer, fieldName, fieldValue)</h3>
<div class="domainvalue"><div class="transcend-esri-layer-domainvalue-page"><p>Gets a coded value domain&#39;s alias value (lookup value).</p>
</div><h5 id="methods_domainvalue_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>layer <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-layer-domainvalue-page"><p>An object with a &#39;fields&#39; property on it.</p>
</div></td></tr><tr><td>fieldName <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-layer-domainvalue-page"><p>The name of the field to get the field by. If this parameter is not passed in it
will look for a &#39;displayField&#39; or &#39;defaultField&#39; on the layer object.</p>
</div></td></tr><tr><td>fieldValue <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-esri-layer-domainvalue-page"><p>The value to lookup the &quot;alias&quot; (lookup) from in the coded value domains.</p>
</div></td></tr></tbody></table><h5 id="methods_domainvalue_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-layer-domainvalue-page"><p>The value of the coded value domain object that matched the given value. If no coded value
domain was found that matched the value the original value that was passed in will be returned.</p>
</div></td></tr></table><h4 id="methods_domainvalue_example">Example</h4>
<div class="example"><div class="transcend-esri-layer-domainvalue-page"><pre class="prettyprint linenums">
var layer = { fields: [{name: 'Field1', alias:'One'}, {name: 'Field2', alias:'Two', domain: {codedValues: [{name: 'Right', code: 'R'}]}}] }
var domain = $layer.domain(layer, 'Field2', 'R');
expect(domain).toEqual('Right');

// or...
var domain = $layer(layer).domain('Field2', 'R');
expect(domain).toEqual('Right');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_field">field(layer, fieldName)</h3>
<div class="field"><div class="transcend-esri-layer-field-page"><p>Gets a field by name for a layer.</p>
</div><h5 id="methods_field_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>layer <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-layer-field-page"><p>An object with a &#39;fields&#39; property on it.</p>
</div></td></tr><tr><td>fieldName <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-esri-layer-field-page"><p>The name of the field to get the field by. If this parameter is not passed in it
will look for a &#39;displayField&#39; or &#39;defaultField&#39; on the layer object.</p>
</div></td></tr></tbody></table><h5 id="methods_field_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-esri-layer-field-page"><p>The field with the passed in field name or undefined if it can not be found.</p>
</div></td></tr></table><h4 id="methods_field_example">Example</h4>
<div class="example"><div class="transcend-esri-layer-field-page"><pre class="prettyprint linenums">
var field = $layer.field({ fields: [{name: 'Field1', alias:'One'}, {name: 'Field2', alias:'Two'}] }, 'Field2');
expect(field.alias).toEqual('Two');

// or...
var lyr = $layer({ displayField: 'Field2', fields: [{name: 'Field1', alias:'One'}, {name: 'Field2', alias:'Two'}] });
expect(lyr(field('Field2').alias).toEqual('Two');
expect(lyr(field().alias).toEqual('Two');
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
