<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="transcend-diagnostics-page"><h2 id="diagnostics-module">Diagnostics Module</h2>
<p>The &quot;Diagnostics&quot; module is a set of functionality to provide application diagnostics and debugging support. The
primary component in this module is the <a href="#/api/transcend.diagnostics.$log">$log service</a>
which extends AngularJS&#39;s <a href="http://docs.angularjs.org/api/ng/service/$log">$log service</a> to provide a hierarchical
tracking of operations with elapsed time calculations.</p>
<h3 id="diagnostics-module_installation">Installation</h3>
<p>The easiest way to use this, and other Transcend libraries, is to use <a href="http://bower.io/">Bower.js</a>. Run the following
commands to install this package:</p>
<pre><code>bower install https://bitbucket.org/transcend/bower-diagnostics.git
</code></pre><p>Other options:</p>
<ul>
<li>Download the code at <a href="http://code.tsstools.com/bower-diagnostics/get/master.zip">http://code.tsstools.com/bower-diagnostics/get/master.zip</a></li>
<li>View the repository at <a href="http://code.tsstools.com/bower-diagnostics">http://code.tsstools.com/bower-diagnostics</a></li>
<li>If you have permissions, view the source code at <a href="http://code.tsstools.com/web-common/src/ee541a3bce850ae77f6d7948a00cc352b4f67b21/modules/diagnostics/?at=develop">http://code.tsstools.com/web-common</a></li>
</ul>
<p>When you have pulled down the code and included the files (and dependency files), simply add the module as a
dependency to your application:</p>
<pre><code>angular.module(&#39;myModule&#39;, [&#39;transcend.diagnostics&#39;]);
</code></pre><h3 id="diagnostics-module_to-do">To Do</h3>
<ul>
<li>Refactor the &quot;treeLog&quot; code:</li>
<li>Move the tree/node code into its own directive &quot;tree&quot;</li>
<li>Modify the treeLog directive to use the new &quot;tree&quot; directive</li>
<li>Give the treeLog an isolated scope and set defaults on the scope to use $log.logs by default</li>
</ul>
</div></div>
