<h1><code ng:non-bindable="">rolePrivileges</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.security-manager</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-manager-directive-page transcend-security-manager-directive-roleprivileges-page"><p>The &#39;rolePrivileges&#39; directive provides an HTML element that provides an interface to view and edit the privileges assigned to a role. This directive utilizes the
&#39;roleFinder&#39; directive to display a dropdown list of current roles. The &#39;rolePriviliges&#39; directive requires the Role, Privilege and RolePrivilege services to view and edit
role privileges.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;role-privileges&gt;
&lt;/role-privileges&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY role-privileges&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
