<h1><code ng:non-bindable="">inArray</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-core-inarray-page"><p>Provides the ability to filter an array using another array</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> inArray_expression | inArray:the <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('inArray')(the, the)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>the</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="transcend-core-inarray-page"><p>array which contains the filter values</p>
</div></td></tr><tr><td>the</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-core-inarray-page"><p>element of the list to match against the array</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-core-inarray-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-18" source-edit-css="" source-edit-js="script.js-19" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-18" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-18">
<div ng-controller="Ctrl">
<div ng-repeat='letter in letters | inArray:filterBy:"id"'>{{letter.id}}</div>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-19"></pre>
<script type="text/ng-template" id="script.js-19">
angular.module('app', ['transcend.core'])
.controller('Ctrl', function($scope) {
       $scope.letters = [
         {id: 'a'},
         {id: 'b'},
         {id: 'c'},
         {id: 'd'},
         {id: 'e'}
       ];

     $scope.filterBy = ['b', 'c', 'd'];
     });
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-18" ng-eval-javascript="script.js-19"></div>
</div></div>
</div>
