<h1><code ng:non-bindable="">userFinder</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.security</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-directive-page transcend-security-directive-userfinder-page"><p>The &#39;userFinder&#39; directive provides an HTML element that can be used to display and select a user returned from the the Users service. The directive
will utilize the bootstrap typeahead directive to query the Users service on each key entry.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/User">User</a></code>
<div class="transcend-security-directive-page transcend-security-directive-userfinder-page"><p><h4 id="dependencies_roles-using-&quot;and&quot;">Roles Using &quot;AND&quot;</h4>
<pre class="prettyprint linenums">
&lt;div roles="1,2,3"&gt;
The user must have all three roles; 1, 2, and 3 in order to view this div.
&lt;/div&gt;
</pre>
<p><h4 id="dependencies_roles-using-&quot;or&quot;">Roles Using &quot;OR&quot;</h4>
<pre class="prettyprint linenums">
&lt;div roles="1|2|3"&gt;
The user can have role ids of either 1, 2, 3 in order to view this div.
&lt;/div&gt;
</pre>
</div></li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;user-finder&gt;
&lt;/user-finder&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY user-finder&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-security-directive-page transcend-security-directive-userfinder-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js" source-edit-html="index.html-42" source-edit-css="" source-edit-js="script.js-43" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-42" ng-html-wrap-loaded="app angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-42">
<div ng-controller="Ctrl">
<h3 id="example_roles-example">Roles Example</h3>

<label>
User Role IDs:
<input type="text" ng-model="roleIds" ng-change="setRoles()" placeholder="Example: 1,2,3" />
</label>

<div class="row-fluid">
<div roles="1,2,3" class="span3" style="background-color: #ffc4c4;"><strong>roles="1,2,3"</strong><br/>Must Have Roles 1,2, and 3</div>
<div roles="5" class="span3" style="background-color: #ffdc9d;"><strong>roles="5"</strong><br/>Must Have Role 5</div>
<div roles="1|5|10" class="span3" style="background-color: #c5ecc5;"><strong>roles="1|5|10"</strong><br/>Must Have Roles 1,5, or 10</div>
<div class="span3" style="background-color: #c4c4ff;"><strong>roles=""</strong><br/>No Roles Required (always visible)</div>
</div>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-43"></pre>
<script type="text/ng-template" id="script.js-43">
angular.module('app', ['transcend.security'])

.value('securityConfig', {
  roleManager: {
    roleIds: [1,2,3,4,5]
  }
})

.controller('Ctrl', function($scope, $roleManager, securityConfig) {
   $scope.roleIds = $roleManager.roleIds();
   $scope.setRoles = function () {
     $roleManager.roles($scope.roleIds);
   };
 });
</script>
</div>
</div><h4 id="example_roles-example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-42" ng-eval-javascript="script.js-43"></div>
</div></div>
</div>
