<h1><code ng:non-bindable="">$object</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-core-object-page"><p>Provides a set of &#39;object&#39; utility functions. These methods are &#39;static&#39; functions found on the
factory object. In addition, you can call the factory function to retrieve an instantiated &#39;object&#39;
utility instance. This instance has all of the same methods that the static &#39;factory&#39; object has,
except you do not have to pass in the &#39;object&#39; reference to the function. The point of the instantiable
&#39;object&#39; utility is to cache a particular item and execute multiple calls on that item without having
to pass the item reference in each time.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$protoFactory">$protoFactory</a></code>
<div class="transcend-core-object-page"><pre class="prettyprint linenums">
// Static method call.
$object.someMethod(objectReference, args);

// Instantiable method calls. Note, the string reference is not passed in as the first argument anymore.
var obj = $object(objectReference);
obj.someMethod(args);
obj.someOtherMethod(otherArgs);
</pre>
</div></li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$object([cachedItem]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cachedItem <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-page"><p>The object that you want to &#39;cache&#39; to perform operations against.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_arenumbers">areNumbers(tests)</h3>
<div class="arenumbers"><div class="transcend-core-object-arenumbers-page"><p>Determines if all of the passed in arguments are numbers.</p>
</div><h5 id="methods_arenumbers_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>tests</td><td><a href="" class="label type-hint type-hint-object">Object...</a></td><td><div class="transcend-core-object-arenumbers-page"><p>Objects to test whether they are numbers or not.</p>
</div></td></tr></tbody></table><h5 id="methods_arenumbers_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-core-object-arenumbers-page"><p>Returns true if all of the arguments are numbers.</p>
</div></td></tr></table><h4 id="methods_arenumbers_example">Example</h4>
<div class="example"><div class="transcend-core-object-arenumbers-page"><p><h8 id="methods_arenumbers_example_static-method">Static Method</h8>
<pre class="prettyprint linenums">
expect($object.areNumbers(-1, 0, 1, 2, 3, 4, 5)).toBeTruthy();
expect($object.areNumbers(1, 2, 3, 'four')).toBeFalsy();
</pre>
<p><h8 id="methods_arenumbers_example_instance-method">Instance Method</h8>
<pre class="prettyprint linenums">
var obj = $object('nine');

// This fails because the cached object 'nine' will be passed in as the first argument.
expect(obj.areNumbers(5)).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_extend">extend(dst, src)</h3>
<div class="extend"><div class="transcend-core-object-extend-page"><p>Extends the destination object &#39;dst&#39; by copying all of the properties from the &#39;src&#39; object(s)
to &#39;dst&#39;. You can specify multiple &#39;src&#39; objects.</p>
</div><h5 id="methods_extend_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>dst</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-extend-page"><p>Destination object.</p>
</div></td></tr><tr><td>src</td><td><a href="" class="label type-hint type-hint-object">...Object</a></td><td><div class="transcend-core-object-extend-page"><p>Source object(s).</p>
</div></td></tr></tbody></table><h5 id="methods_extend_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-extend-page"><p>Reference to &#39;dst&#39;.</p>
</div></td></tr></table><h4 id="methods_extend_example">Example</h4>
<div class="example"><div class="transcend-core-object-extend-page"><p><h8 id="methods_extend_example_static-method">Static Method</h8>
<pre class="prettyprint linenums">
var source1 = {a: 'a', b: 'b'};
var source2 = {c: 'c'};
var destination = {d: 'd'};

// The 'destination' property will be extended.
$object.extend(destination, source1, source2);

expect(destination).toEqual({ a: 'a', b: 'b', c: 'c', d: 'd' });
</pre>
<p><h8 id="methods_extend_example_instance-method">Instance Method</h8>
<pre class="prettyprint linenums">
var destination = {d: 'd'};
var obj = $object(destination);

// Note, the 'destination' object is not passed in.
obj.extend({a: 'a', b: 'b'}, {c: 'c'});

expect(destination).toEqual({ a: 'a', b: 'b', c: 'c', d: 'd' });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_haskeys">hasKeys(object, attributes)</h3>
<div class="haskeys"><div class="transcend-core-object-haskeys-page"><p>Determines if an object has all of a the passed in attributes - &#39;keys&#39;.</p>
</div><h5 id="methods_haskeys_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>object</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-haskeys-page"><p>The object to test if it has all of the attributes against.</p>
</div></td></tr><tr><td>attributes</td><td><a href="" class="label type-hint type-hint-string">String...</a></td><td><div class="transcend-core-object-haskeys-page"><p>Attribute(s) to test if the object has.</p>
</div></td></tr></tbody></table><h5 id="methods_haskeys_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-core-object-haskeys-page"><p>Returns &#39;true&#39; if the object has all of the keys passed in or.</p>
</div></td></tr></table><h4 id="methods_haskeys_example">Example</h4>
<div class="example"><div class="transcend-core-object-haskeys-page"><p><h8 id="methods_haskeys_example_static-method">Static Method</h8>
<pre class="prettyprint linenums">
expect($object.hasKeys({a: 9, x: 5, lon: 8}, 'lon, x')).toBeTruthy();
</pre>
<p><h8 id="methods_haskeys_example_instance-method">Instance Method</h8>
<pre class="prettyprint linenums">
var obj = $object({a: 9, x: 5, lon: 8});

expect(obj.hasKeys('lon, x')).toBeTruthy();
expect(obj.hasKeys(['x', 'lon', 'blah'])).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_key">key(object, attributes)</h3>
<div class="key"><div class="transcend-core-object-key-page"><p>Returns the first (if any) key that the object has. The main point of this function is to
be able to pass in a number of keys that may match, and the function will return the first
key that matches. An example scenario of this would be if you wanted to determine what the
&#39;longitude&#39; property of a &#39;center&#39; object but you&#39;re not sure what property was actually
used - like: lon, x, longitude, etc.</p>
</div><h5 id="methods_key_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>object</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-key-page"><p>The object to check for properties in.</p>
</div></td></tr><tr><td>attributes</td><td><a href="" class="label type-hint type-hint-string">String</a><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="transcend-core-object-key-page"><p>Potential attributes to check if the object has.</p>
</div></td></tr></tbody></table><h5 id="methods_key_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String|undefined</a></td><td><div class="transcend-core-object-key-page"><p>The first attribute that the object has - if any. Undefined will be returned
if no attribute is found.</p>
</div></td></tr></table><h4 id="methods_key_example">Example</h4>
<div class="example"><div class="transcend-core-object-key-page"><p><h8 id="methods_key_example_static-method">Static Method</h8>
<pre class="prettyprint linenums">
expect($object.key({a: 9, x: 5, lon: 8}, 'lon, x')).toEqual('lon');
</pre>
<p><h8 id="methods_key_example_instance-method">Instance Method</h8>
<pre class="prettyprint linenums">
var obj = $object({a: 9, x: 5, lon: 8});

expect(obj.key('lon, x')).toEqual('lon');
expect(obj.key(['x', 'lon'])).toEqual('x');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_merge">merge(destination, source, opts)</h3>
<div class="merge"><div class="transcend-core-object-merge-page"><p>Merges two objects. This method is similar to extend however instead of overwriting
objects it will traverse them and add to the properties and/or only overwrite simple types.</p>
</div><h5 id="methods_merge_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>destination</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-merge-page"><p>The object to add properties/values to (merge into).</p>
</div></td></tr><tr><td>source</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-merge-page"><p>Object to merge into the destination object.</p>
</div></td></tr><tr><td>opts</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-merge-page"><p>Merge options.</p>
</div></td></tr></tbody></table><h5 id="methods_merge_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-merge-page"><p>Reference to &#39;destination&#39;.</p>
</div></td></tr></table><h4 id="methods_merge_example">Example</h4>
<div class="example"><div class="transcend-core-object-merge-page"><p><h8 id="methods_merge_example_static-method">Static Method</h8>
<pre class="prettyprint linenums">
var destination = { foo: { bar: 5, blah: 4 } };
var source = { foo: { bar: 9 }, test: 'one' };

// Note, the 'foo' attribute still has the 'blah' property. If we used 'extend' here the entire 'foo'
// property would be overwritten from the source - which means the 'blah' property would be gone.
expect($object.merge(destination, source)).toEqual({ foo: { bar: 9, blah: 4 }, test: 'one' });
</pre>
<p><h8 id="methods_merge_example_instance-method">Instance Method</h8>
<pre class="prettyprint linenums">
var destination = { foo: { bar: 5, blah: 4 } };
var source = { foo: { bar: 9 }, test: 'one' };
var obj = $object(destination);

// Note, the 'foo' attribute still has the 'blah' property. If we used 'extend' here the entire 'foo'
// property would be overwritten from the source - which means the 'blah' property would be gone.
expect($object.merge(source)).toEqual({ foo: { bar: 9, blah: 4 }, test: 'one' });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_traverse">traverse(object, map)</h3>
<div class="traverse"><div class="transcend-core-object-traverse-page"><p>Traverses an object based on a string representation/configuration of attributes.</p>
</div><h5 id="methods_traverse_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>object</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-traverse-page"><p>Object to traverse.</p>
</div></td></tr><tr><td>map</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-object-traverse-page"><p>Map (representation/configuration) of the attributes to traverse to.</p>
</div></td></tr></tbody></table><h5 id="methods_traverse_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-traverse-page"><p>The object property that was traversed to.</p>
</div></td></tr></table><h4 id="methods_traverse_example">Example</h4>
<div class="example"><div class="transcend-core-object-traverse-page"><p><h8 id="methods_traverse_example_static-method">Static Method</h8>
<pre class="prettyprint linenums">
expect($object.traverse({x: 9}, 'x')).toEqual(9);
expect($object.traverse({x: { y: 5 }}, 'x.y')).toEqual(5);
</pre>
<p><h8 id="methods_traverse_example_instance-method">Instance Method</h8>
<pre class="prettyprint linenums">
var obj = $object({x: { y: 5 }});
expect(obj.traverse('x').toEqual({ y: 5 });
expect(obj.traverse('x.y').toEqual(5);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_value">value(object, attributes, setterValue)</h3>
<div class="value"><div class="transcend-core-object-value-page"><p>Gets or sets the value of a given attribute in an object. The attribute &#39;definition&#39; can be a multi-level string
representation of the attribute - like &#39;x.y.z&#39;.</p>
</div><h5 id="methods_value_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>object</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-core-object-value-page"><p>The object to get/set the value to/from.</p>
</div></td></tr><tr><td>attributes</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-object-value-page"><p>Attribute(s) to get/set the value to/from.</p>
</div></td></tr><tr><td>setterValue</td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-core-object-value-page"><p>A value to set the object&#39;s attribute to. Note, if a attribute
configuration of &#39;x.y.z&#39; is passed in, than &#39;z&#39; will be set to the value of &#39;setValue&#39;.</p>
</div></td></tr></tbody></table><h5 id="methods_value_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="transcend-core-object-value-page"><p>The value of the attribute. If a &#39;setterValue&#39; was passed than
the &#39;setterValue&#39; will be returned if the value was actually set.</p>
</div></td></tr></table><h4 id="methods_value_example">Example</h4>
<div class="example"><div class="transcend-core-object-value-page"><p><h8 id="methods_value_example_static-method">Static Method</h8>
<pre class="prettyprint linenums">
expect($object.value({a: 9, x: 5, lon: 8}, 'lon, x')).toEqual(8);
</pre>
<p><h8 id="methods_value_example_instance-method">Instance Method</h8>
<pre class="prettyprint linenums">
var obj = $object({a: 9, x: 5, lon: 8});

expect(obj.value('lon, x')).toEqual(8);
expect(obj.value(['x', 'lon'])).toEqual(5);
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
