<h1><code ng:non-bindable="">lrsProfileList</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.lrs</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lrs-directive-page transcend-lrs-directive-lrsprofilelist-page"><p>The &#39;lrsProfileList&#39; directive provides an editable template for a Profile list where you can search and select Lrs
profiles.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$resourceListController">$resourceListController</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/lrsProfile">lrsProfile</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;lrs-profile-list&gt;
&lt;/lrs-profile-list&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY lrs-profile-list&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
