<h1><code ng:non-bindable="">$notify</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-core-notify-page"><p>the &quot;$notify&quot; factory provides functionality for the notify system to help log errors and other important things
as they occur within the app. The factory provides the ability to log messages, track a promise, show waiting
messages, and provide success/error feedback. The $notify factory is typically extended using a &quot;toaster&quot; notify
decorator to add behaviour.</p>
<p>The concept of the &quot;$notify&quot; factory is to provide a single common interface that components can use to communicate
information to the user, the individual application can than determine how to display that information to the user.</p>
<p> <pre class="prettyprint linenums">
 $scope.working = true;

 $notify(Account.changePassword(null, model))
 .wait('Saving password change. Please wait.', 'Saving Password')
   .success('Password changed successfully', 'Password Changed')
   .error('Failed to change password. {0}', 'Password Change Failed')
   .log('Password changed', 'Failed to change password')
   .promise.finally(function () {
        $scope.working = false;
      });
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$log">$log</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$string">$string</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$errorMsg">$errorMsg</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.tsConfig">tsConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$notify([promise][, log]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>promise <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-core-notify-page"><p>A promise or object that has a $promise property, to track.</p>
</div></td></tr><tr><td>log <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-core-notify-page"><p>A log item to track, and update, with the promise.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_error">error(msg, title)</h3>
<div class="error"><div class="transcend-core-notify-error-page"><p>Provides a notification on error (when the promise is rejected).</p>
</div><h5 id="methods_error_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>msg <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-error-page"><p>The message to show when an error occurs. Will default to a generic message. Any instances
of {0} will be replaced with the inner most exception message (if an exception is returned via the promise
rejection.</p>
</div></td></tr><tr><td>title <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-error-page"><p>The title to show. Will default to a generic title.</p>
</div></td></tr></tbody></table><h5 id="methods_error_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-transcend">transcend.core.$notify</a></td><td><div class="transcend-core-notify-error-page"><p>A $notify instance.</p>
</div></td></tr></table><h4 id="methods_error_example">Example</h4>
<div class="example"><div class="transcend-core-notify-error-page"><pre class="prettyprint linenums">
$notify(Account.changePassword(null, model))
  .error('Failed to save password. Ooops! {0}', 'Save Failed');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_log">log(msg, errorMsg, skipTimeTrack, logClosed)</h3>
<div class="log"><div class="transcend-core-notify-log-page"><p>Provides a method to have the $notify instance automatically log messages, based on the state. If the promise is
resolved it will log the &quot;msg&quot;, otherwise it the promise is failed it will log the &quot;errorMsg&quot;.</p>
</div><h5 id="methods_log_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>msg <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-log-page"><p>The message to be logged on success (promise is resolved).</p>
</div></td></tr><tr><td>errorMsg <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-log-page"><p>The message to be logged on error (promise is rejected). Any instances of {0} will be
replaced with the inner most exception message (if an exception is returned via the promise rejection.</p>
</div></td></tr><tr><td>skipTimeTrack <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-log-page"><p>Flag to determine whether to use the $log&#39;s start/stop method (stopwatch tracking).</p>
</div></td></tr><tr><td>logClosed <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-log-page"><p>Flag to determine whether to catch any other logs and add them as children to this log.</p>
</div></td></tr></tbody></table><h5 id="methods_log_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-transcend">transcend.core.$notify</a></td><td><div class="transcend-core-notify-log-page"><p>A $notify instance.</p>
</div></td></tr></table><h4 id="methods_log_example">Example</h4>
<div class="example"><div class="transcend-core-notify-log-page"><pre class="prettyprint linenums">
$notify(Account.changePassword(null, model))
  .log('Saved profile', 'Failed to save profile. {0}');

$notify(Account.changePassword(null, model))
  .log('Saved profile', 'Failed to save profile. {0}', false, true);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_success">success(msg, title)</h3>
<div class="success"><div class="transcend-core-notify-success-page"><p>Provides a notification on success (when the promise is resolved).</p>
</div><h5 id="methods_success_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>msg <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-success-page"><p>The message to show. Will default to a generic message.</p>
</div></td></tr><tr><td>title <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-success-page"><p>The title to show. Will default to a generic title.</p>
</div></td></tr></tbody></table><h5 id="methods_success_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-transcend">transcend.core.$notify</a></td><td><div class="transcend-core-notify-success-page"><p>A $notify instance.</p>
</div></td></tr></table><h4 id="methods_success_example">Example</h4>
<div class="example"><div class="transcend-core-notify-success-page"><pre class="prettyprint linenums">
$notify(Account.changePassword(null, model))
  .success('Saved password. Congrats!', 'Password Saved');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_wait">wait(msg, title, waitTime)</h3>
<div class="wait"><div class="transcend-core-notify-wait-page"><p>Indicates a state of &quot;waiting&quot;. Typically will show a spinner in this state.</p>
</div><h5 id="methods_wait_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>msg <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-wait-page"><p>The wait message. Will default to a generic message.</p>
</div></td></tr><tr><td>title <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-notify-wait-page"><p>The wait message title. Will default to a generic title.</p>
</div></td></tr><tr><td>waitTime <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="transcend-core-notify-wait-page"><p>The maximum amount of time (seconds) to show the &quot;wait&quot; state. Will default to &quot;infinite&quot; time.</p>
</div></td></tr></tbody></table><h5 id="methods_wait_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-transcend">transcend.core.$notify</a></td><td><div class="transcend-core-notify-wait-page"><p>A $notify instance.</p>
</div></td></tr></table><h4 id="methods_wait_example">Example</h4>
<div class="example"><div class="transcend-core-notify-wait-page"><pre class="prettyprint linenums">
$notify(Account.changePassword(null, model))
  .wait('Saving password change. Please wait.', 'Saving Password');
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
