<h1><code ng:non-bindable="">$resourceController</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.resource</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-resource-resourcecontroller-page"><p>A controller factory that will provide a new function to be used as a controller in a directive. This controller
provides all of the basic functionality to manipulate, track changes, and sync a resource.</p>
<p> <pre class="prettyprint linenums">
 angular.module('myModule')
 .directive('myDirective', function ($resourceController, MyResource) {
     'use strict';

      return {
        scope: {
          onSaveBegin: '&', // Automatically called by the controller.
          onSave: '&',      // Automatically called by the controller.
          onSaveError: '&'  // Automatically called by the controller.
        },
        template: "...",

        // Call the $resourceController factory to
        // create a new controller for this directive.
        controller: $resourceController({
            dirtyCheckingEnabled: true,
            resource: MyResource.get({ id: 123 })
          }),

        link: function (scope, el, attr, controller) {
          // The "controller" is the instance created
          // from the $resourceController above.
        }
     };
 });
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$object">$object</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$resourceController(config);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-resourcecontroller-page"><p>The configuration object that is used to setup the controller. See the <a href="#/api/transcend.resource.$resourceController#methods_extend">extend method</a>
&quot;conf&quot; argument for a detailed list of acceptable configuration properties (they are the same).</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_dirty">dirty()</h3>
<div class="dirty"><div class="transcend-resource-resourcecontroller-dirty-page"><p>Function to determine if the state of the resource is dirty or not. The dirty check takes into account
the resource&#39;s state as well as the form&#39;s validity if there is a form set for this controller. This is
done to prevent the user from being able to save a resource that has invalid property values.</p>
</div><h5 id="methods_dirty_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-resource-resourcecontroller-dirty-page"><p>True if the resource is dirty.</p>
</div></td></tr></table><h4 id="methods_dirty_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcecontroller-dirty-page"><pre class="prettyprint linenums">
// Fake a form with an invalid state.
controller.form = { $invalid : true };
var isDirty = controller.dirty();
expect(isDirty).toBeTruthy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_extend">extend(conf)</h3>
<div class="extend"><div class="transcend-resource-resourcecontroller-extend-page"><p>Extends the controller with additional configurations/properties.</p>
</div><h5 id="methods_extend_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>conf</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-resourcecontroller-extend-page"><p>The configuration object to extend the controller instance with. The acceptable
configurations properties to pass are as follows:</p>
<h7 id="methods_extend_parameters_valid-properties">Valid Properties:</h7>
<ul>
<li><strong>Resource</strong> - The resource service to use to retrieve the single resource.</li>
<li><strong>resource</strong> - An already retrieved/instantiated resource instance.</li>
<li><strong>eventPrefix</strong> - An prefix to add to the events that are fired when actions are taken on this resource.</li>
<li><strong>form</strong> - A reference to the view&#39;s form element which will be used to check teh forms valid state.
If no form is passed in than the form validity check will be skipped.</li>
<li><strong>dirtyCheckingEnabled</strong> - A flag that determines if we should keep track of changes to the resource
or not. This is useful to enhance performance if the specific usage does not care about the &quot;dirty&quot;
state of the resource. If &quot;dirtyCheckingEnabled&quot; is set to false than the resource controller will
not have to create a copy/clone of the resource object to check against later.</li>
</ul>
</div></td></tr></tbody></table><h4 id="methods_extend_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcecontroller-extend-page"><pre class="prettyprint linenums">
controller.extend({
   dirtyCheckingEnabled: true,
   form: scope.form,
   eventPrefix: 'resources',
   Resource: MyResource
 });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_reset">reset()</h3>
<div class="reset"><div class="transcend-resource-resourcecontroller-reset-page"><p>Resets any changes to the resource back to its&#39; original state.</p>
</div><h4 id="methods_reset_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcecontroller-reset-page"><pre class="prettyprint linenums">
controller.resource.value = 456;
controller.reset();
expect(controller.resource.value).toEqual(123);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_save">save()</h3>
<div class="save"><div class="transcend-resource-resourcecontroller-save-page"><p>Saves the resource&#39;s changes. This will call the &quot;$save&quot; function on the AngularJS resource. See the
<a href="https://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> documentation for more
information on the built in resource methods.</p>
</div><h4 id="methods_save_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcecontroller-save-page"><pre class="prettyprint linenums">
controller.save();
expect(controller.resource.$save).toHaveBeenCalled();
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
