<h1><code ng:non-bindable="">$errorMsg</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-core-errormsg-page"><p>Provides a simple method to extract/find an error message from an error/exception object.</p>
<p> <pre class="prettyprint linenums">
 // String message:
 expect($errorMsg('oh no!')).toEqual('oh no!');

 // Single level deep message:
 expect($errorMsg({message: 'msg'})).toEqual('msg');
 expect($errorMsg({exceptionMessage: 'msg'})).toEqual('msg');
 expect($errorMsg({msg: 'msg'})).toEqual('msg');
 expect($errorMsg({error: 'msg'})).toEqual('msg');
 expect($errorMsg({data: 'msg'})).toEqual('msg');
 expect($errorMsg({exception: 'msg'})).toEqual('msg');

 // Nested message:
 expect($errorMsg({data: {
  exception: {
    exceptionMessage: 'msg'
  }
 }})).toEqual('msg');
 </pre>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$errorMsg(error);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>error</td><td><a href="" class="label type-hint type-hint-string">string</a><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-core-errormsg-page"><p>The error to find the message in.</p>
</div></td></tr></tbody></table></div>
</div>
