<h1><code ng:non-bindable="">$string</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.core</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-core-string-page"><p>Provides a set of &#39;string&#39; utility functions. These methods are &#39;static&#39; functions found on the
factory object. In addition, you can call the factory function to retrieve an instantiated &#39;string&#39;
utility instance. This instance has all of the same methods that the static &#39;factory&#39; object has,
except you do not have to pass in the &#39;string&#39; reference to the function. The point of the instantiable
&#39;string&#39; utility is to cache a particular item and execute multiple calls on that item without having
to pass the item reference in each time.</p>
<p> <pre class="prettyprint linenums">
 // Static method call.
 $string.someMethod(stringReference, args);

 // Instantiable method calls. Note, the string reference is not passed in as the first argument anymore.
 var str = $string(stringReference);
 str.someMethod(args);
 str.someOtherMethod(otherArgs);
 </pre>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$string([cachedItem]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cachedItem <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-string-page"><p>The string that you want to &#39;cache&#39; to perform operations against.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_format">format(str, args)</h3>
<div class="format"><div class="transcend-core-string-format-page"><p>Applies a formatting to a string. The main purpose of this function is to replace {} tokens
based on arguments. For example, {0} will be replaced with the 0th indexed argument.</p>
</div><h5 id="methods_format_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>str</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-string-format-page"><p>The string to apply the formatting on.</p>
</div></td></tr><tr><td>args</td><td><a href="" class="label type-hint type-hint-object">...String</a></td><td><div class="transcend-core-string-format-page"><p>Strings to replace tokens in the input string.</p>
</div></td></tr></tbody></table><h5 id="methods_format_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-string-format-page"><p>Formatted string.</p>
</div></td></tr></table><h4 id="methods_format_example">Example</h4>
<div class="example"><div class="transcend-core-string-format-page"><p><h8 id="methods_format_example_static-method">Static Method</h8>
<pre class="prettyprint linenums">
var formattedString = $string.format('{0} {1}', 'Hello', 'World');
expect(formattedString).toEqual('Hello World');
</pre>
<p><h8 id="methods_format_example_instance-method">Instance Method</h8>
<pre class="prettyprint linenums">
var str = $string('{0} {1} {2}');
var formattedString = str.format('Hello', 'World');

// Note, the 'str' instance still has the original '{0} {1} {2}' cached, as its source.
// More string actions could be applied against that same string source.
expect(str).toEqual('Hello World');
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_prettify">prettify(text)</h3>
<div class="prettify"><div class="transcend-core-string-prettify-page"><p>Turns text into &quot;readable&quot; text by separating combined text into words and then
capitalizing the first character(s).</p>
</div><h5 id="methods_prettify_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>text</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-string-prettify-page"><p>The string make readable/pretty.</p>
</div></td></tr></tbody></table><h5 id="methods_prettify_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="transcend-core-string-prettify-page"><p>The readable/pretty string.</p>
</div></td></tr></table><h4 id="methods_prettify_example">Example</h4>
<div class="example"><div class="transcend-core-string-prettify-page"><p><h8 id="methods_prettify_example_static-method">Static Method</h8>
<pre class="prettyprint linenums">
var text = $string.format('helloWorld');
expect(text).toEqual('Hello World');
</pre>
<p><h8 id="methods_prettify_example_instance-method">Instance Method</h8>
<pre class="prettyprint linenums">
var str = $string('{0} {1} {2}');
var text = str.format('helloWorld');

// Note, the 'str' instance still has the original 'helloWorld' cached, as its source.
// More string actions could be applied against that same string source.
expect(text).toEqual('Hello World');
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
