<h1><code ng:non-bindable="">userRolesManager</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.security-manager</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-manager-directive-page transcend-security-manager-directive-userrolesmanager-page"><p>The &#39;userRolesManager&#39; directive provides an HTML element that can be used to display and edit the roles assigned to
a user. The directive includes the userFinder directive for user lookup. The &#39;userRolesManager&#39; utilizes the User,
Role, and UserRole services to retrieve and update users and their roles.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;user-roles-manager&gt;
&lt;/user-roles-manager&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY user-roles-manager&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
