<h1><code ng:non-bindable="">AccountRegistrationDialogCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-controller-page transcend-app-controller-accountregistrationdialogctrl-page"><p>The &#39;AccountRegistrationDialogCtrl&#39; controller controls the Account Registration Dialog menu.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$loading">$loading</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$modalInstance">$modalInstance</a></code>
</li>
</ul>
</div>
