<h1><code ng:non-bindable="">themesConfig</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.themes</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-themes-themesconfig-page"><p>Provides a single configuration object that can be used to change the behaviour, options, urls, etc for any
components in the <a href="#/api/transcend.themes">Themes Module</a>. The &quot;themesConfig&quot; object is a
<a href="http://docs.angularjs.org/api/auto/object/$provide#value">module value</a> and can therefore be
overridden/configured by:</p>
<p> <pre class="prettyprint linenums">
 // Override the value of the 'themes' property.
 angular.module('myApp').value('themesConfig', {
    // This would limit the list to only 2 available themes.
     themes: [
       'cartographic',
       'cerulean'
     ]
   });
 </pre>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_themes">themes</h3>
<div class="themes"><div class="transcend-themes-themesconfig-themes-page"><p>List of available themes. The default value of this list is all avialable themes.</p>
<p> <pre class="prettyprint linenums">
 angular.module('myApp').value('themesConfig', {
       themes: [
        'cartographic',
        'cerulean',
        'contrast',
        'cosmo',
        'cyborg',
        'darkly',
        'flatly',
        'journal',
        'khaki',
        'lumen',
        'midnight',
        'mint',
        'ocean',
        'paper',
        'patriot',
        'purpley',
        'readable',
        'royal',
        'sandstone',
        'simplex',
        'slate',
        'spacelab',
        'sunrise',
        'superhero',
        'transcend',
        'united',
        'yeti'
       ]
     });
 </pre>
<p><strong>Note,</strong> There must be an associated &quot;css&quot; file to match this theme.</p>
</div></div>
</li>
</ul>
</div>
</div>
