<h1><code ng:non-bindable="">dbConnectionEditor</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.data-source</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-data-source-directive-page transcend-data-source-directive-dbconnectioneditor-page"><p>The &#39;dBConnectionEditor&#39; directive provides a template for a menu to edit the database connections.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$resourceListController">$resourceListController</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$connectionTest">$connectionTest</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/dataSourceProviders">dataSourceProviders</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;db-connection-editor&gt;
&lt;/db-connection-editor&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY db-connection-editor&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
