<h1><code ng:non-bindable="">$time</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.diagnostics</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-diagnostics-time-page"><p>Provides an elapsed filter that:</p>
<ul>
<li>takes a start value and returns the equivalent time in milliseconds if the value is &lt; 1000 and in seconds otherwise</li>
<li><p>takes start and finish values and returns the difference between them in milliseconds if the start value is &lt; 1000
and seconds if the start value is &gt; 1000.</p>
<p><h5 id="description_using-the-elapsed-filter">Using the Elapsed Filter</h5>
<pre class="prettyprint linenums">
 var elapsedFilter = $filter('elapsed');
 elapsedFilter(1000, 1300);
 // returns:  '300'

 elapsedFilter(200);
 // returns:  '200 ms'
 </pre>
</li>
</ul>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> $time_expression | $time <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('$time')()</code>
</div>
</div>
</div>
