<h1><code ng:non-bindable="">elapsed</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.diagnostics</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-diagnostics-elapsed-page"><p>Provides the ability to show elapsed time in human readable text. If a second parameter &quot;end date&quot; is not passed in,
than it will supplement the end date with the current date time.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> elapsed_expression | elapsed:end:suffixMap <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('elapsed')(start, end, suffixMap)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>start</td><td><a href="" class="label type-hint type-hint-date">date</a><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-diagnostics-elapsed-page"><p>The start date.</p>
</div></td></tr><tr><td>end</td><td><a href="" class="label type-hint type-hint-date">date</a><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="transcend-diagnostics-elapsed-page"><p>The end date.</p>
</div></td></tr><tr><td>suffixMap</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="transcend-diagnostics-elapsed-page"><p>A mapping of time units to alias. Example: ms: millis, sec: seconds, etc.</p>
<p> <pre class="prettyprint linenums">
 var elapsedFilter = $filter('elapsed');
 expect(elapsedFilter(1000, 1200)).toEqual('200 ms');
 expect(elapsedFilter(1000, 2000)).toEqual('1 sec');
 expect(elapsedFilter(1000, 61000)).toEqual('1 min');
 expect(elapsedFilter(1000, 3601000)).toEqual('1 hr');
 expect(elapsedFilter(1000, 86401000)).toEqual('1 day');
 </pre>
</div></td></tr></tbody></table></div>
</div>
