<h1><code ng:non-bindable="">svgCanvas</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.drawing</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-drawing-directive-page transcend-drawing-directive-svgcanvas-page"><p>The &#39;svgCanvas&#39; directive provides a template for a Scalable Vectory Graphics (SvG) Canvas.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$svgCanvasGroup">$svgCanvasGroup</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/settings">settings</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$color">$color</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$vectorEditor">$vectorEditor</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;svg-canvas&gt;
&lt;/svg-canvas&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY svg-canvas&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
