<h1><code ng:non-bindable="">inlineUserSignIn</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.security</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-directive-page transcend-security-directive-inlineusersignin-page"><p>The &#39;inlineUserSignIn&#39; directive provides a compacted and simplified interface to let users enter their credentials
and be authenticated. This sign in directive abstracts the security module details and allows you to simply include
this directive and not have to do anything else to to support authentication.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$log">$log</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.$authenticate">$authenticate</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.securityConfig">securityConfig</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;inline-user-sign-in
       [on-success="{Function}"]
       [on-fail="{Function}"]&gt;
&lt;/inline-user-sign-in&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY inline-user-sign-in
     [on-success="{Function}"]
     [on-fail="{Function}"]&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>onSuccess <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="transcend-security-directive-page transcend-security-directive-inlineusersignin-page"><p>Function called when the user is successfully authenticated (signed in).</p>
</div></td></tr><tr><td>onFail <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="transcend-security-directive-page transcend-security-directive-inlineusersignin-page"><p>Function called when a user&#39;s credentials fail and they are not authenticated.</p>
</div></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="transcend-security-directive-page transcend-security-directive-inlineusersignin-page"><h4 id="example_source">Source</h4>
<div source-edit="app" source-edit-deps="angular.js script.js mocks.js" source-edit-html="index.html-40" source-edit-css="" source-edit-js="script.js-41 mocks.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-40" ng-html-wrap-loaded="app angular.js script.js mocks.js"></pre>
<script type="text/ng-template" id="index.html-40">
<div ng-controller="Ctrl">
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-default nav-inline-user-sign-in pull-right">
    <inline-user-sign-in on-success="onSuccess()" on-fail="onFail()"></inline-user-sign-in>
  </div>
</nav>

Enter a user name of: <strong>rgreen</strong><br/>
Enter a password of: <strong>abc123</strong>
<hr/>
<div ng-style="style">{{message}}</div>
</div>
</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-41"></pre>
<script type="text/ng-template" id="script.js-41">
angular.module('app', ['transcend.security', 'ngMockE2E'])
.run(function($roleManager, $authenticate){
 $authenticate.rememberMe = false;
 $roleManager.enabled = false;
})

.controller('Ctrl', function($scope, $authenticate) {
   $scope.onSuccess = function() {
     $scope.message = 'Congratulations! You have successfully signed in.';
     $scope.style = {color: 'green'};
   };

   $scope.onFail = function() {
     $scope.message = 'Sorry! Your credentials were not valid.';
     $scope.style = {color: 'red'};
   };
});
</script>
</div>
<div class="tab-pane" title="mocks.js">
<pre class="prettyprint linenums" ng-set-text="mocks.js"></pre>
<script type="text/ng-template" id="mocks.js">
angular.module('app')
.run(function($httpBackend){
  // Mock our HTTP calls.
  $httpBackend.whenPOST('/token', 'grant_type=password&username=rgreen&password=abc123')
   .respond({"access_token":"test-token","token_type":"bearer","expires_in":7775999,"id":"b6aad2d8-2fdd-4b07-91f9-ada394f1ee95","userName":"rgreen","roles":"","email":"","firstName":"Rusty","lastName":"Green",".issued":"Mon, 17 Aug 2015 17:03:31 GMT",".expires":"Sun, 15 Nov 2015 17:03:31 GMT"});

  $httpBackend.whenPOST('/token', /^(?!.*grant_type=password&username=rgreen&password=abc123)/)
   .respond(400, {"error":"invalid_grant","error_description":"The user name ('siteadmin') or password is incorrect."});

  $httpBackend.whenPOST('/api/account/signout')
   .respond('');
})
</script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="app" ng-set-html="index.html-40" ng-eval-javascript="script.js-41 mocks.js"></div>
</div></div>
</div>
