<h1><code ng:non-bindable="">siteSecurityManager</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.security-manager</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-manager-directive-page transcend-security-manager-directive-sitesecuritymanager-page"><p>The &#39;siteSecurityManager&#39; directive provides the ability to see and edit the site&#39;s security/authentication mechanism.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/SecurityProfile">SecurityProfile</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$array">$array</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;site-security-manager&gt;
&lt;/site-security-manager&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY site-security-manager&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
