<h1><code ng:non-bindable="">dynamicGridRow</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.dynamic-grid</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-dynamic-grid-directive-page transcend-dynamic-grid-directive-dynamicgridrow-page"><p>The &#39;dynamicGridRow&#39; directive provides an editable template for a grid row.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/dynamicGridConfig">dynamicGridConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$document">$document</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY dynamic-grid-row&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
