<h1><code ng:non-bindable="">userRegistration</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.security</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-security-directive-page transcend-security-directive-userregistration-page"><p>The &#39;userRegistration&#39; directive provides a template for secure User registration</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/transcend.core.$string">$string</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.core.$notify">$notify</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.$authenticate">$authenticate</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.security.service:Account">Account</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;user-registration&gt;
&lt;/user-registration&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY user-registration&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
