<h1><code ng:non-bindable="">$lidar</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.lidar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lidar-service-page transcend-lidar-service--lidar-page"><p>The &#39;$lidar&#39; service contains functions for manipulation of lidar collected points.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$math">$math</a></code>
</li>
</ul>
</div>
