<h1><code ng:non-bindable="">lrsGridEditorConfig</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.lrs-validation-grid</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-lrs-validation-grid-lrsgrideditorconfig-page"><p>Provides a single configuration object that can be used to change the behaviour, options, urls, etc for any
components in the <a href="#/api/transcend.lrs">LRS Module</a>. The &quot;lrsConfig&quot; object is a
<a href="http://docs.angularjs.org/api/auto/object/$provide#value">module value</a> and can therefore be
overridden/configured by:</p>
<p> <pre class="prettyprint linenums">
 // Override the value of the 'esriConfig' object.
 angular.module('myApp').value('lrsConfig', {
     lrsProfile: {
       url: 'http://some-other-service/lrs'
     }
   });
 </pre>
</div></div>
</div>
