<h1><code ng:non-bindable="">$resourceListController</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.resource</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-resource-resourcelistcontroller-page"><p>A controller factory that will provide a new function to be used as a controller in a directive that has a list of
resources. This controller provides all of the basic functionality to manipulate, track changes, and sync a list
of <a href="https://docs.angularjs.org/api/ngResource/service/$resource">AngularJS resources</a>.</p>
<p> <pre class="prettyprint linenums">
 angular.module('myModule')
 .directive('myListDirective', function ($resourceListController, MyResource) {
     'use strict';

      return {
        scope: {
          onSaveBegin: '&', // Automatically called by the controller.
          onSave: '&',      // Automatically called by the controller.
          onSaveError: '&'  // Automatically called by the controller.
        },
        template: "...",

        // Call the $resourceListController factory to
        // create a new controller for this directive.
        controller: $resourceListController({
            dirtyCheckingEnabled: true,
            listProperty: 'myResourcesList',
            Resource: MyResource // Will internally call MyResource.query()
          }),

        link: function (scope, el, attr, controller) {
          // The "controller" is the instance created
          // from the $resourceListController above.
          // Note: "controller.myResourcesList" is the
          // result of "MyResource.query()".
        }
     };
 });
 </pre>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transcend.resource.$resourceList">$resourceList</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">$resourceListController(config);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-resourcelistcontroller-page"><p>The configuration object that is used to setup the controller. See the <a href="#/api/transcend.resource.$resourceListController#methods_extend">extend method</a>
&quot;conf&quot; argument for a detailed list of acceptable configuration properties (they are the same).</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_add">add()</h3>
<div class="add"><div class="transcend-resource-resourcelistcontroller-add-page"><p>Adds a new resource to the list of resources. Note, this is the same functionality as
calling the &quot;push&quot; method.</p>
</div><h4 id="methods_add_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelistcontroller-add-page"><pre class="prettyprint linenums">
controller.resourcesList.add({ name: 'My New Resource' });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_dirty">dirty()</h3>
<div class="dirty"><div class="transcend-resource-resourcelistcontroller-dirty-page"><p>Function to determine if any of the resources in the list or resources has a &quot;dirty&quot; state or not. The
dirty check takes into account the resource&#39;s state as well as the form&#39;s validity if there is a form
set for this controller. This is done to prevent the user from being able to save a resource that has
invalid property values.</p>
</div><h5 id="methods_dirty_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="transcend-resource-resourcelistcontroller-dirty-page"><p>True if the resource is dirty.</p>
</div></td></tr></table><h4 id="methods_dirty_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelistcontroller-dirty-page"><pre class="prettyprint linenums">
// Fake a form with an invalid state.
controller.form = { $invalid : true };
var isDirty = controller.dirty();
expect(isDirty).toBeTruthy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_extend">extend(conf)</h3>
<div class="extend"><div class="transcend-resource-resourcelistcontroller-extend-page"><p>Extends the controller with additional configurations/properties.</p>
</div><h5 id="methods_extend_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>conf</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="transcend-resource-resourcelistcontroller-extend-page"><p>The configuration object to extend the controller instance with. The acceptable
configurations properties to pass are as follows:</p>
<h7 id="methods_extend_parameters_valid-properties">Valid Properties:</h7>
<ul>
<li><strong>Resource</strong> - The resource service to use to query for the list of resources.</li>
<li><strong>resource</strong> - An already retrieved/instantiated resource list/array instance.</li>
<li><strong>listProperty</strong> - The name (property name) of the list that will be appended to the $scope of the
controller. By default this is &quot;$scope.resources&quot;.</li>
<li><strong>eventPrefix</strong> - An prefix to add to the events that are fired when actions are taken on this resource.</li>
<li><strong>form</strong> - A reference to the view&#39;s form element which will be used to check teh forms valid state.
If no form is passed in than the form validity check will be skipped.</li>
<li><strong>dirtyCheckingEnabled</strong> - A flag that determines if we should keep track of changes to the resource
list or not. This is useful to enhance performance if the specific usage does not care about the
&quot;dirty&quot; state of the resources in the list. If &quot;dirtyCheckingEnabled&quot; is set to false than the
resource list controller will not have to create a copy/clone of the changed resource object to
check against later.</li>
</ul>
</div></td></tr></tbody></table><h4 id="methods_extend_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelistcontroller-extend-page"><pre class="prettyprint linenums">
controller.extend({
   listProperty: 'myResourceList',
   dirtyCheckingEnabled: true,
   form: scope.form,
   eventPrefix: 'resources',
   Resource: MyResource
 });
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_reload">reload()</h3>
<div class="reload"><div class="transcend-resource-resourcelistcontroller-reload-page"><p>Resets any changes to the existing resources and re-queries the resource list to get a new list of
resources.</p>
</div><h4 id="methods_reload_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelistcontroller-reload-page"><pre class="prettyprint linenums">
controller.reload();
expect(controller.MyResource.query).toHaveBeenCalled();
expect(controller.dirty()).toBeFalsy();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_remove">remove()</h3>
<div class="remove"><div class="transcend-resource-resourcelistcontroller-remove-page"><p>Removes a resource from the list of resources. When the controller&#39;s <a href="#/api/transcend.resource.$resourceListController#save">save</a>
method is called, the resource that was removed from the list will have its &quot;$delete&quot; method called.</p>
</div><h4 id="methods_remove_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelistcontroller-remove-page"><pre class="prettyprint linenums">
expect(controller.list.length).toEqual(5);
controller.remove(controller.list[2]);
expect(controller.list.length).toEqual(4);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_reset">reset()</h3>
<div class="reset"><div class="transcend-resource-resourcelistcontroller-reset-page"><p>Resets any resources in the list that are dirty back to their original state.</p>
</div><h4 id="methods_reset_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelistcontroller-reset-page"><pre class="prettyprint linenums">
controller.resourcesList[4].value = 456;
controller.reset();
expect(controller.resourcesList[4].value).toEqual(123);
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_save">save()</h3>
<div class="save"><div class="transcend-resource-resourcelistcontroller-save-page"><p>Saves all dirty resource&#39;s changes . This will call the &quot;$save&quot; function on each of the AngularJS
resources in the list. See the <a href="https://docs.angularjs.org/api/ngResource/service/$resource">$resource</a>
documentation for more information on the built in resource methods.</p>
</div><h4 id="methods_save_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelistcontroller-save-page"><pre class="prettyprint linenums">
controller.save();
expect(controller.myResourceList[4].$save).toHaveBeenCalled();
</pre>
</div></div>
</div>
</li>
<li><h3 id="methods_update">update()</h3>
<div class="update"><div class="transcend-resource-resourcelistcontroller-update-page"><p>Tells the list that a resource has been updated. This will trigger the resource list to copy/clone the
original resource value and then start tracking changes. <strong>Note</strong>, this method must be called prior to
the actual object being updated otherwise the cached &quot;original&quot; value will not be correct. You must use
the &quot;pre-change&quot; directive to call this method in a view to get the resource reference before the ng-model
value changes.</p>
<p>See the <a href="#/api/preChange">preChange directive</a> for an example.</p>
</div><h4 id="methods_update_example">Example</h4>
<div class="example"><div class="transcend-resource-resourcelistcontroller-update-page"><pre class="prettyprint linenums">
var item = controller.resources[4];
controller.update(item);
item.value = "456";
</pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
