<h1><code ng:non-bindable="">esriConfig</code>
<div><span class="hint">service in module <code ng:non-bindable="">transcend.esri</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-esri-esriconfig-page"><p>Provides a single configuration object that can be used to change the behaviour, options, urls, etc for any
components in the <a href="#/api/transcend.esri">Esri Module</a>. The &quot;esriConfig&quot; object is a
<a href="http://docs.angularjs.org/api/auto/object/$provide#value">module value</a> and can therefore be
overridden/configured by:</p>
<p> <pre class="prettyprint linenums">
 // Override the value of the 'esriConfig' object.
 angular.module('myApp').value('esriConfig', {
     basemapSelector: {
       map: 'streets'
     }
   });
 </pre>
</div></div>
</div>
