<h1><code ng:non-bindable="">loaded</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-app-directive-page transcend-app-directive-loaded-page"><p>The &#39;loaded&#39; directive provides a the ability to bind (a hook) to whether an element loads or not. This is typically
used to keep the window loading screen shown until the theme (css file) has fully loaded - but it is not limited
to that scenario or CSS files.</p>
<pre class="prettyprint linenums">
 &lt;link rel="stylesheet" loaded="app.themeLoaded" ng-if="app.hasTheme" ng-href="themes/{{theme}}.css" /&gt;
</pre>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY loaded="{boolean}"
     [loaded-success="{boolean}"]
     [loaded-failed="{boolean}"]&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>loaded <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-app-directive-page transcend-app-directive-loaded-page"><p>A flag that represents when the item has loaded - either successfully or failed.</p>
</div></td></tr><tr><td>loadedSuccess <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-app-directive-page transcend-app-directive-loaded-page"><p>A flag that represents when the item has loaded successfully.</p>
</div></td></tr><tr><td>loadedFailed <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="transcend-app-directive-page transcend-app-directive-loaded-page"><p>A flag that represents when the item failed to load.</p>
</div></td></tr></tbody></table></div>
</div>
