<h1><code ng:non-bindable="">dynamicGridContainer</code>
<div><span class="hint">directive in module <code ng:non-bindable="">transcend.dynamic-grid</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="transcend-dynamic-grid-directive-page transcend-dynamic-grid-directive-dynamicgridcontainer-page"><p>The &#39;dynamicGridContainer&#39; provides a grid container template.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$compile">$compile</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;dynamic-grid-container&gt;
&lt;/dynamic-grid-container&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
