<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="adding-new-content-page"><h2 id="adding-new-content">Adding New Content</h2>
<ol>
<li><a href="#heading=h.y19rmmmfsp5w">Clone a repository</a> that you want to work against - if you have not already</li>
<li>Add a file to your project <img src="http://media.tsstools.com/images/sourcetree-example4-v1.png" ></li>
<li>The file will appear in SourceTree under the &quot;Working Copy Changes&quot; window. <img src="http://media.tsstools.com/images/sourcetree-example5-v1.png" ></li>
<li>Click the <strong>Stage</strong> button to add the file to the index. It will move the the file into the &quot;Staged Changes&quot; window. <br> <img src="http://media.tsstools.com/images/sourcetree-example6-v1.png" ></li>
<li>Click the <strong>Commit</strong> button to open the commit dialog. You will be prompted to enter a comment. You must enter a comment before commiting your changes. <img src="http://media.tsstools.com/images/sourcetree-example7-v1.png" ></li>
<li>Click the <strong>Commit </strong>button in the dialog to save your file to the local repository.</li>
</ol>
</div></div>
