<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="adding-an-ssh-key-page"><p>How to add an SSH key</p>
<h2 id="adding-an-ssh-key">Adding an SSH Key</h2>
<ol>
<li>Open the <strong>Git Bash</strong> application. <img src="http://media.tsstools.com/images/git-bash-logo-v1.png" ></li>
<li>Alter the following text and copy / paste it into the Git Bash command line. <br><strong>    ssh-keygen -t rsa -C &quot;*</strong><your email address at tss.com><strong>*&quot;</strong><img src="http://media.tsstools.com/images/git-bash-example-v1.png" ></li>
<li>Accept the default location for the file in which to save the key. <img src="http://media.tsstools.com/images/git-bash-example2-v1.png" ></li>
<li>Enter a passphrase and confirm it. <img src="http://media.tsstools.com/images/git-bash-example3-v1.png" ></li>
<li>You will get a message <img src="http://media.tsstools.com/images/git-bash-example4-v1.png" ></li>
<li>Open SourceTree and <strong>click</strong> <strong>Tools</strong> &gt; <strong>Add SSH Key</strong> <img src="http://media.tsstools.com/images/sourcetree-example1-v1.png" ></li>
<li><strong>Navigate</strong> to <strong>C:/Users/<your user>/.ssh</strong></li>
<li>Select the <strong>id_rsa</strong> file</li>
<li>TODO: Set &quot;SSH&quot; rather than Putty options</li>
<li>Navigate to <strong>C:/Users/<your user>/.ssh</strong></li>
<li><strong>Open</strong> the &quot;<strong>id_rsa.pub</strong>&quot; file in a text editor</li>
<li><strong>Copy</strong> the contents of &quot;<strong>id_rsa.pub</strong>&quot; to your clipboard</li>
<li><strong>Navigate</strong> to your <strong>bitbucket</strong> account in a <strong>browser</strong></li>
<li><strong>Click</strong> your <strong>account</strong> drop down to see the account options (you profile picture)</li>
<li>Click &quot;<strong>Manage Account</strong>&quot;</li>
<li>Click &quot;<strong>SSH Keys</strong>&quot; from the list on the left</li>
<li>Click &quot;<strong>Add Key</strong>&quot;</li>
<li>Give it a label (example: Transcend Laptop)</li>
<li><strong>Paste</strong> your key into the &quot;<strong>Key</strong>&quot; input box (the text you copied to your clipboard)</li>
<li>Hit &quot;<strong>Add Key</strong>&quot; button</li>
</ol>
</div></div>
