<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="checkout-a-branch-page"><h2 id="checkout-a-branch-|">Checkout a Branch | <a href="http://screencast.com/t/dSYEXvaFCZ">Video Walkthrough</a></h2>
<p><em>Checkout refers to changing your local copy of the code to a different branch. This could include swapping to another branch to look at code or swapping to a new feature branch to review code or a pull request (PR).</em></p>
<ol>
<li>Right click on the branch you want to work off</li>
<li>Click &quot;Checkout <branch>...&quot;<ol>
<li><em>Your local copy of the code is now that branch</em></li>
</ol>
</li>
</ol>
</div></div>
