<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="clone-a-repository-page"><h2 id="cloning-a-repository-|">Cloning a Repository | <a href="http://screencast.com/t/869u8wBn6">Video Walkthrough</a></h2>
<p><em>Cloning a repository means your are &quot;pulling&quot; the code down and making a copy of it to work off on your local machine.</em></p>
<ol>
<li>Make sure you are <a href="#heading=h.gvl9dmi0hhdw">watching</a> the repository you want to section</li>
<li>Open SourceTree</li>
<li><strong>Right click</strong> in the Repository Explorer and select <strong>New Repository</strong> <img src="http://media.tsstools.com/images/sourcetree-example2-v1.png" ></li>
<li><strong>Click</strong> globe icon (&quot;Browse hosted projects&quot;) button to view the repositories you are <a href="#heading=h.gvl9dmi0hhdw">watching</a></li>
<li>Set the destination path - where you want the repository to be created locally on your machine</li>
<li>Hit the <strong>Clone</strong> button! <br> <img src="http://media.tsstools.com/images/sourcetree-example3-v1.png" ></li>
</ol>
</div></div>
