<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="committing-a-new-feature-page"><h2 id="committing-a-new-feature">Committing a New Feature</h2>
<ol>
<li>Make sure all changes are completed.</li>
<li>Click Commit and select the files to commit in the Staged Changes or Working Copy Changes window. <img src="http://media.tsstools.com/images/CommitMessage_v1.png" ></li>
<li>Click the Commit button.</li>
<li>Make sure to pull changes and either merge them or complete Conflict Resolution steps. If this step is skipped, it could cause problems when pushing the changes.</li>
<li>Click Push.</li>
<li>Ensure that your feature branch is checked and selected under Remote Branch.</li>
<li>Click OK.</li>
</ol>
</div></div>
