<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="conflict-resolution-page"><h2 id="conflict-resolution">Conflict Resolution</h2>
<p>In the event that there are merging errors after Pulling in SourceTree, follow the instructions below for each conflict.</p>
<ol>
<li>Locate the file in the File Status window.</li>
<li>Right click the file and choose External Diff.</li>
<li>When KDiff3 opens, click Merge at the top of the window and click Merge Current File. <img src="http://media.tsstools.com/images/KDiff3-instructions-2_v1.png"></li>
<li>KDiff3 will make a list of conflicts for you. In the bottom section of KDiff3, all of the conflicts will appear in red text.</li>
<li>Right click the red Merge Conflict text and choose which version you would like to keep the text from. The Select Lines from A option will use the text from the left hand box, and the Select Lines from B will use the text from the right hand box. <img src="http://media.tsstools.com/images/KDiff3-instructions-3_v1.png"></li>
<li>Complete step 5 for each Merge Conflict section.</li>
<li>Click Save at the top of the screen.</li>
<li>You can now return to SourceTree and continue your task.</li>
</ol>
</div></div>
