<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="creating-a-new-feature-page"><h2 id="creating-a-new-feature">Creating a New Feature</h2>
<ol>
<li><a href="#heading=h.y19rmmmfsp5w">Clone a repository</a> that you want to work against - if you have not already</li>
<li><a href="#heading=h.13vwr34biow9">Checkout</a> the develop branch</li>
<li>In the SourceTree toolbar click &quot;<strong>Git Flow</strong>&quot;</li>
<li>Click &quot;<strong>Start New Feature</strong>&quot;</li>
<li>Give it a feature name and hit &quot;<strong>OK</strong>&quot;<ol>
<li><em>This will create a new branch off of the latest develop branch and checkout the new feature branch</em></li>
<li><strong><em>The feature name should conform to the following naming convention:</em></strong><ol>
<li><strong><em>Example: #1234_add_some_new_feature</em></strong></li>
<li><em>Should include the associated task number prefixed with a pound sign at the beginning of name</em></li>
<li><em>Should be 2 or 3 words that describe the general idea of this feature/task/bug fix</em></li>
<li><em>Should be all lowercase</em></li>
<li><em>Words should be separated by an underscore (SourceTree will automatically replace spaces with underscores)</em> <br> <img src="http://media.tsstools.com/images/sourcetree-example8-v1.png" ></li>
</ol>
</li>
</ol>
</li>
<li>Make changes to your code, commit and push to the feature branch<ol>
<li><em>Note, you should pull the develop branch into your feature branch frequently while developing your new feature to minimize the number of conflicts you have to resolve when done - assuming pushes have been made to the develop branch.</em></li>
</ol>
</li>
<li><strong>When</strong> the feature is <strong>complete</strong>, continue to the next steps</li>
<li>Checkout your new feature branch - if not already</li>
<li><strong>Right click</strong> under <strong>Remotes</strong> &gt; <strong>origin</strong> &gt; <strong>develop branch</strong></li>
<li>Click &quot;<strong>pull origin/develop into your current branch</strong>&quot;<ol>
<li><em>This will merge/pull the current &quot;develop&quot; branch code into your feature code</em></li>
</ol>
</li>
<li><a href="#heading=h.7z9y6dyvjzax">Resolve any conflicts</a> - if any occurred</li>
<li>If any changes were pulled in from the &quot;<strong>develop</strong>&quot; branch, test the application and make sure everything still works</li>
<li><strong>Right click</strong> on the new <strong>feature branch</strong></li>
<li><strong>Click</strong> &quot;<strong>Create pull request…</strong>&quot;</li>
<li>This will open up Bitbucket in a browser window and display the create PR form</li>
<li><strong>Change</strong> the Pull Request <strong>target</strong> branch to &quot;<strong>develop</strong> <img src="http://media.tsstools.com/images/sourcetree-example9-v1.png" ></li>
<li>Add a <strong>comment</strong> describing <strong>what</strong> this code inclusion <strong>adds</strong> to the code base</li>
<li>If you know the specific reviewer that should perform the code review on this feature <strong>enter</strong> their name in the &quot;<strong>Reviewers</strong>&quot; input</li>
<li><strong>Click</strong> the &quot;<strong>Create Pull Request</strong>&quot; button<ol>
<li><em>This will send an email to the appropriate reviewer and they will perform a code review and merge the code into the develop branch </em></li>
</ol>
</li>
<li>When you receive an email stating that your PR was accepted, continue to the next step<ol>
<li><em>If your pull request was declined, then you need to fix the issue described in the PR comments and submit a new PR</em></li>
</ol>
</li>
<li>After the PR is approved, Click &quot;<strong>Git FLow</strong>&quot; “<strong>Finish Feature</strong>”</li>
<li>Select the approved feature, make sure the &quot;<strong>Delete branch</strong>&quot; option is selected, and <strong>click</strong> “<strong>OK</strong>”<ol>
<li><ul>
<li>This will delete your working feature branch - the branch is still available in the remote feature branches folder though*</li>
</ul>
</li>
</ol>
</li>
<li>You’re done!</li>
</ol>
</div></div>
