<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="workflows-overview-page"><h2 id="transcend-git-workflows">Transcend Git Workflows</h2>
<p>This document provides a set common repository operations (workflows) that are used at Transcend. All workflows are described using the SourceTree tool since it is the suggested Git management tool at Transcend.</p>
<h2 id="prerequisites">Prerequisites</h2>
<ul>
<li><strong>Basic Git Understanding</strong> - In order to follow these workflows you need to have a basic understanding of Git. See the <a href="#heading=h.5whrb64e3vjo">resources section</a> to become familiar with Git - you should read through each of the resources.</li>
<li><strong>Bitbucket Account</strong> - Transcend uses Bitbucket to host Git repositories. You need to have, or create, a bitbucket account (<a href="https://bitbucket.org/account/signup">register here</a>).</li>
<li><strong>TSS Bitbucket Repo Access</strong> - Transcend has a team Bitbucket account (<a href="http://code.tsstools.com">code.tsstools.com</a>). You need to be added to the team in order to get access to any of Transcend’s repositories. Contact a Transcend administrator (<a href="mailto:rgreen@tssgis.com">rgreen@tssgis.com</a> or <a href="mailto:jmuir@tssgis.com">jmuir@tssgis.com</a>) to get added as a team member - provide the administrator you Bitbucket username.</li>
<li><strong>SourceTree</strong> - This is a tool that provides a GUI for working with Git repositories. You can download <a href="http://www.sourcetreeapp.com">SourceTree</a> at <a href="http://www.sourcetreeapp.com/download/">http://www.sourcetreeapp.com/download/</a>. TODO: Add instructions on setting up <a href="http://www.sourcetreeapp.com">SourceTree</a>.</li>
<li><strong>KDiff</strong> - KDiff is a diff and merge program that is used to resolve conflicts between files. You can download KDiff at <a href="http://kdiff3.sourceforge.net/">http://kdiff3.sourceforge.net/</a>. TODO: Add instructions for applying KDiff as the external merge editor.</li>
<li><strong>SSH Key</strong> - You will need to generate an SSH key and add it to your Bitbucket account to be able to push your changes. See the <a href="#heading=h.q1zm52164s8v">Adding an SSH key</a> section for instructions on how to do this.</li>
</ul>
<h2 id="resources">Resources</h2>
<ul>
<li><a href="http://blog.sourcetreeapp.com/2012/08/01/smart-branching-with-sourcetree-and-git-flow/">SourceTree branch Management Blog Post</a></li>
<li><a href="https://docs.google.com/document/d/1rmC5KUl6u8WP3OUBveZynPcNEsjiUSPQ0mBeOkK1GSg/edit">Transcend Git Overview Document</a></li>
<li><a href="http://try.github.io/levels/1/challenges/1">Git interactive tutorial</a></li>
<li><a href="http://git-scm.com/docs/gittutorial">Git tutorial</a></li>
<li><a href="https://docs.google.com/document/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y/edit">Git Commit Message Conventions</a></li>
<li><a href="http://scottchacon.com/2011/08/31/github-flow.html">GitHub’s internal Git workflow</a></li>
<li><a href="http://nvie.com/posts/a-successful-git-branching-model/">A Successful Git Branching Model</a></li>
</ul>
<h2 id="high-level-complete-workflow">High-Level Complete Workflow</h2>
<ol>
<li><strong><em>[Admin]</em></strong> Creates a new repository at <strong>code.tsstools.com</strong></li>
<li><strong><em>[Developer]</em></strong> Goes to <strong>code.tsstools.com</strong> and watch the repository</li>
<li><strong><em>[Developer]</em></strong> Creates a branch, off of develop, to start a new feature</li>
<li><strong><em>[Developer]</em></strong> Commits and pushes code to their feature branch</li>
<li><strong><em>[Developer]</em></strong> Creates a Pull Request to merge their feature branch into the develop branch</li>
<li>An email is automatically sent to the Admin(s) of the repository</li>
<li><strong><em>[Admin]</em></strong> Does a checkout of the feature branch and runs/inspects the code</li>
<li><strong><em>[Admin]</em></strong> Merges and pushes the feature branch to the &quot;develop&quot; branch. This automatically accepts the Pull Request and the developer will be notified via email.</li>
<li><strong><em>[Developer]</em></strong> Deletes feature branch (Finish Feature)</li>
</ol>
</div></div>
