<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="watch-a-repository-page"><h2 id="watch-a-repository-|">Watch a Repository | <a href="http://screencast.com/t/869u8wBn6">Video Walkthrough</a></h2>
<p>In order to work on a Transcend repository you must be watching it. Watching a repository means that you will be notified of changes to the repository.</p>
<ol>
<li><strong>Navigate</strong> to <a href="http://code.tsstools.com">http://code.tsstools.com</a></li>
<li><strong>Log into Bitbucket</strong> - if not already</li>
<li><strong>Click</strong> the &quot;<strong>eye</strong>&quot; icon next to the repository you want to <strong>watch</strong></li>
</ol>
</div></div>
